<template>
  <div class="new-feed-wrapper col-12 px-2 px-lg-2 border border-info rounded">
    <router-link to="/" class="title_group icon_el">
      <font-awesome-icon icon="users" />
      <span> {{ detailAct.club.name }}</span>
    </router-link>
    <div class="content">
      <div class="title_activaty">
        <h4>{{ detailAct.activity.name }}</h4>
      </div>
      <div class="frame_bot"></div>
      <div class="info_activaty d-flex">
        <p class="icon_el mr-3">
          <font-awesome-icon icon="clock" /><span>{{ date_create }}</span>
        </p>
        <p class="icon_el">
          <font-awesome-icon icon="user-graduate" /><span>{{ detailAct.user.name }}</span>
        </p>
      </div>
      <div class="content_activaty" v-html="detailAct.activity.content"></div>
    </div>
  </div>
</template>

<script>
import convertToLocaleDateTimeString from "@/admin/utils/convertToLocaleDateTimeString";
import { mapActions, mapGetters } from "vuex";
export default {
  name: "DetailActivaty",
  data() {
    return {
      date_create: "",
    };
  },
  computed: mapGetters(["detailAct"]),
  created() {
    // this.getDetailAvt(this.$route.params.idAvt)
    if (this.detailAct != null) {
      this.getDetailAvt(sessionStorage.getItem("idactivity"));
    }
    this.date_create = convertToLocaleDateTimeString(this.detailAct.activity.date_start);
  },
  methods: {
    ...mapActions(["getDetailAvt"]),
  },
};
</script>

<style scoped>
.new-feed-wrapper {
  padding: 10px 20px 20px;
}
.title_group {
  padding: 5px 10px;
  background-color: aqua;
  justify-content: center;
  border-radius: 5px;
  color: blue !important;
}
.title_group svg {
  font-size: 13pt !important;
}
.title_group span {
  font-weight: 600;
  font-size: 12pt;
  transition: 0.8s;
}
.title_group span:hover {
  transition: 0.8s;
  color: rgb(105, 204, 221);
}
.title_activaty {
  margin: 10px 0;
  text-align: center;
}
.title_activaty h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.692);
  font-size: 16pt;
}
.frame_bot {
  width: 40px;
  margin: 5px 0 10px;
  height: 5px;
  background: rgb(195, 204, 185);
}
.icon_el {
  display: flex;
  align-items: center;
}
.icon_el > svg {
  margin-right: 5px;
  font-size: 10pt;
}
.info_activaty {
  align-items: center;
  justify-content: start;
}
.info_activaty p span {
  font-size: 9pt;
}
.content_activaty {
  text-align: justify;
}
</style>
