<template>
  <main class="pb-5 main-wrapper">
    <div class="wrapper-content">
      <div class="wrapper-activate">
        <div class="header_activaty d-sm-flex-column">
          <div v-if="isLogin" class="list_activaty_on">
            <router-link to="/listactivatyon" class="d-flex align-items-center">
              <font-awesome-icon icon="angle-double-right" class="mr-1" />
              <font-awesome-icon icon="angle-double-right" />
              <span>Danh sách đăng ký</span>
            </router-link>
          </div>
          <div class="filter_list d-lg-none">
            <span class="d-none d-sm-block">Lọc theo: </span>
            <div class="filter_club">
              <b-form-select class="mb-3" v-model="idClubRadio">
                <template #first>
                  <b-form-select-option :value="null" disabled
                    >-- Vui lòng lựa chọn --</b-form-select-option
                  >
                </template>
                <b-form-select-option value="">Tất cả</b-form-select-option>
                <b-form-select-option
                  v-for="club in listActbyClub_CL"
                  :key="club.id"
                  :value="club.id"
                  >{{ club.name }}</b-form-select-option
                >
              </b-form-select>
            </div>
            <div class="filter_register">
              <b-form-select class="mb-3" v-model="idActRadio">
                <template #first>
                  <b-form-select-option :value="null" disabled
                    >-- Vui lòng lựa chọn --</b-form-select-option
                  >
                </template>
                <b-form-select-option value="">Tất cả</b-form-select-option>
                <b-form-select-option value="0">Đã đăng ký</b-form-select-option>
                <b-form-select-option :value="null">Chưa đăng ký</b-form-select-option>
                <b-form-select-option value="1">Đã diễn ra</b-form-select-option>
              </b-form-select>
            </div>
          </div>
        </div>
        <div class="px-3 py-3 row">
          <div class="mb-5 border col-lg-9 col-sm-12 border-info">
            <div v-if="!isLogin">
              <b-alert variant="success" show
                >Vui lòng đăng nhập để đăng ký tham gia hoạt động ở các Câu Lạc
                Bộ</b-alert
              >
            </div>
            <div v-if="!isLogin">
              <div
                v-for="(listclub, index) in this.listallactivity.data"
                :key="index"
                class="mt-1 mb-3 group-category-actiall"
              >
                <div class="title-group">
                  <h2>
                    <router-link to=""
                      >{{ listclub.name }} <font-awesome-icon icon="arrow-right" />
                    </router-link>
                  </h2>
                </div>
                <div class="px-3 row border-bottom">
                  <div
                    v-for="(listac, index) in listclub.activity"
                    :key="index"
                    class="col-lg-4 col-12 col-md-6 item-activate"
                  >
                    <div v-if="index >= 0">
                      <div class="image_activaty">
                        <img
                          v-if="listclub.banner == null || listclub.banner == ''"
                          src="@/Clients/assets/images/sankhau.jpeg"
                          alt=""
                        />
                        <img v-else :src="listclub.banner" alt="" />
                      </div>
                      <div class="title-active">
                        <h3>
                          <router-link
                            @click.native="getDetailAct(listac.id)"
                              :to="/detailactivaty/ + getslug(listac.slug)"
                            style="color: #0a4181 !important"
                            >{{ listac.name }}</router-link
                          >
                        </h3>
                      </div>
                      <div class="info-active">
                        <p>
                          Số lượng tham gia: <b>{{ listac.quantity }}</b
                          ><br />
                          Số lượng đăng ký: <b>20</b><br />
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div v-else>
              <div v-if="listActbyClub_CL.length == 0">
                <b-alert variant="success" show
                  >Bạn chưa tham gia câu lạc bộ nào cả</b-alert
                >
                <b-alert variant="success" show
                  >Vui lòng tham gia câu lạc bộ để theo dõi các hoạt động</b-alert
                >
              </div>
              <div v-else>
                <div
                  v-for="(listclub, index) in listActbyClub_CL"
                  :key="index"
                  class="mt-1 mb-3 group-category-actiall"
                >
                  <div v-if="idClubRadio == '' || listclub.id == idClubRadio">
                    <div class="title-group">
                      <h2>
                        <router-link to=""
                          >{{ listclub.name }} <font-awesome-icon icon="arrow-right" />
                        </router-link>
                      </h2>
                    </div>
                    <div class="px-3 row border-bottom">
                      <div
                        v-for="(act, index) in listActbyClub_CL[index].activity"
                        :key="index"
                        class="col-lg-4 col-12 col-md-6 item-activate"
                        v-show="idActRadio == '' || act.statusDAct == idActRadio"
                      >
                        <div class="image_activaty">
                          <img
                            v-if="listclub.banner == null || listclub.banner == ''"
                            src="@/Clients/assets/images/sankhau.jpeg"
                            alt=""
                          />
                          <img v-else :src="listclub.banner" alt="" />
                        </div>
                        <div class="title-active">
                          <h3>
                            <router-link
                              @click.native="getDetailAct(act.id)"
                              :to="/detailactivaty/ + getslug(act.slug)"
                              style="color: #0a4181 !important"
                              >{{ act.name }}</router-link
                            >
                          </h3>
                        </div>
                        <div class="info-active">
                          <p>
                            Số lượng tham gia: <b>{{ act.quantity }}</b
                            ><br />
                            Số lượng đăng ký: <b>{{ act.count }}</b
                            ><br />
                          </p>
                        </div>
                        <div
                          class="check-active"
                          v-if="checkDate(act.date_start, act.statusDAct)"
                        >
                          <button
                            class="btn btn-info"
                            v-if="act.statusDAct == null"
                            @click="
                              CheckResgiter(act.id, act.name, act.quantity, act.count)
                            "
                          >
                            Đăng Ký
                          </button>
                          <button
                            class="btn btn-danger"
                            v-else
                            @click="CancelRegisterAct(act.idDAct, act.name)"
                          >
                            Hủy Đăng Ký
                          </button>
                        </div>
                        <div v-else>
                          <b-alert variant="success" show>Sự kiện đã diễn ra</b-alert>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 d-none d-lg-block">
            <div class="filter-lg">
              <div class="filter_club_lg">
                <div class="title_filter">
                  <h5>Hoạt động theo câu lạc bộ</h5>
                </div>
                <div class="option_filter">
                  <b-form-group>
                    <b-form-radio v-model="idClubRadio" name="club" value=""
                      >Tất cả</b-form-radio
                    >
                    <b-form-radio
                      v-model="idClubRadio"
                      v-for="club in listActbyClub_CL"
                      :key="club.id"
                      name="club"
                      :value="club.id"
                      @change="ChangeClubRadio()"
                      >{{ club.name }}</b-form-radio
                    >
                  </b-form-group>
                </div>
              </div>
              <div class="filter_register_lg">
                <div class="title_filter">
                  <h5>Hoạt động theo đăng ký</h5>
                </div>
                <div class="option_filter">
                  <b-form-group>
                    <b-form-radio v-model="idActRadio" name="check" value=""
                      >Tất cả</b-form-radio
                    >
                    <b-form-radio v-model="idActRadio" name="check" value="0"
                      >Đã đăng ký</b-form-radio
                    >
                    <b-form-radio v-model="idActRadio" name="check" :value="null"
                      >Chưa đăng ký</b-form-radio
                    >
                    <b-form-radio v-model="idActRadio" name="check" value="1"
                      >Đã diễn ra</b-form-radio
                    >
                  </b-form-group>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import axios from "axios";
import { mapActions, mapGetters } from "vuex";
export default {
  name: "ListActivaty",
  data() {
    return {
      isLogin: false,
      idUser: "",
      idClubRadio: "",
      idActRadio: "",
      cnull: null,
    };
  },
  computed: {
    ...mapGetters(["listallactivity", "listactivatys", "listclubs", "listActbyClub_CL"]),
  },
  methods: {
    ...mapActions([
      "getListactivaty",
      "getListAllactivity",
      "getListClubs",
      "getListActByClub_CL",
      "getDetailAvt",
    ]),
    checklogin() {
      if (sessionStorage.getItem("tokenlogin") === null) {
        this.isLogin = false;
      } else {
        this.isLogin = true;
        var d = JSON.parse(sessionStorage.getItem("tokenlogin"));
        this.idUser = d["data"]["id"];
      }
    },
    checkDate(dateStart, idAct) {
      var today = new Date();
      var date =
        today.getFullYear() + "-" + (today.getMonth() + 1) + "-" + today.getDate();
      var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
      var dateTime = date + " " + time;
      if (idAct == 1) {
        return false;
      } else {
        if (new Date(dateTime) < new Date(dateStart)) {
          return true;
        } else {
          return false;
        }
      }
    },
    CheckResgiter(idAct, name, slmax, slnow) {
      if (slnow == slmax) {
        this.$notification.open({
          message: "Thông báo",
          description:
            "Đăng ký tham gia hoạt động " +
            name +
            " thất bại.Số lượng thành viên đăng ký đã đủ !! ",
          icon: <a-icon type="sound" style="color:red" />,
        });
      } else {
        axios.post("api/detailactivitys", {
          activite_id: idAct,
          user_id: this.idUser,
          status: 0,
        });
        this.getListClubs();
        this.getListActByClub_CL(this.idUser);
        this.$notification.open({
          message: "Thông báo",
          description: "Đăng ký tham gia hoạt động " + name + " thành công",
          icon: <a-icon type="sound" style="color: green" />,
        });
      }
    },
    getslug(slugs) {
      var slug = "";
      // Change to lower case
      var titleLower = slugs.toLowerCase();
      // Letter "e"
      slug = titleLower.replace(/e|é|è|ẽ|ẻ|ẹ|ê|ế|ề|ễ|ể|ệ/gi, "e");
      // Letter "a"
      slug = slug.replace(/a|á|à|ã|ả|ạ|ă|ắ|ằ|ẵ|ẳ|ặ|â|ấ|ầ|ẫ|ẩ|ậ/gi, "a");
      // Letter "o"
      slug = slug.replace(/o|ó|ò|õ|ỏ|ọ|ô|ố|ồ|ỗ|ổ|ộ|ơ|ớ|ờ|ỡ|ở|ợ/gi, "o");
      // Letter "u"
      slug = slug.replace(/u|ú|ù|ũ|ủ|ụ|ư|ứ|ừ|ữ|ử|ự/gi, "u");
      // Letter "d"
      slug = slug.replace(/đ/gi, "d");
      // Trim the last whitespace
      slug = slug.replace(/\s*$/g, "");
      // Change whitespace to "-"
      slug = slug.replace(/\s+/g, "-");
      return slug;
    },
    getDetailAct(id) {
      sessionStorage.setItem("idactivity", id);
      this.getDetailAvt(id);
    },
    CancelRegisterAct(idDetAvt, name) {
      axios.delete("http://127.0.0.1:8000/api/detailactivitys/" + idDetAvt);
      this.getListClubs();
      this.getListActByClub_CL(this.idUser);
      this.$notification.open({
        message: "Thông báo",
        description: "Hủy đăng ký tham gia hoạt động " + name + " thành công",
        icon: <a-icon type="sound" style="color: green" />,
      });
    },
    ChangeClubRadio() {
      console.log(this.idClubRadio);
    },
    ChangeActRadio() {
      console.log(this.idActRadio);
    },
  },
  created() {
    this.getListactivaty(),
      this.getListAllactivity(),
      this.checklogin(),
      this.getListClubs(),
      this.getListActByClub_CL(this.idUser);
  },
};
</script>

<style scoped>
.main-wrapper .wrapper-content {
  margin: 0 auto;
  max-width: 1620px;
}
.header_activaty {
  align-items: center;
  justify-content: space-between;
  display: flex;
}
.filter_list {
  display: flex;
  align-items: center;
}
.filter_register,
.filter_club {
  width: 150px;
  margin: 0 5px;
}
.filter_club select,
.filter_register select {
  margin: 0 !important;
  font-size: 12pt !important;
}
.filter-lg {
  padding-left: 20px;
}
.filter-lg .title_filter {
  background-color: #0b46ae;
  padding: 7px 5px;
  border-radius: 5px 5px 0px 0px;
}
.filter-lg .title_filter h5 {
  font-size: 12pt;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  text-align: center;
  color: #fff;
  margin: 0;
}
.filter_club_lg {
  margin-bottom: 20px;
}
.option_filter {
  padding: 15px 10px 0px;
  border-right: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  border-radius: 0 0 5px 5px;
}
.list_activaty_on {
  background-color: #0b46ae;
  padding: 7px 20px;
  border-radius: 5px;
}
.list_activaty_on > a {
  color: #ffffff !important;
  transition: 0.8s;
}
.list_activaty_on:hover a {
  transition: 0.8s;
  color: #f3e24c !important;
}
.list_activaty_on svg {
  font-size: 18pt;
  margin-right: 15px;
}
.list_activaty_on span,
.filter_list span {
  font-size: 12pt;
}
.group-category-actiall .title-group {
  border: 1px solid #e5e5e5;
}
.group-category-actiall .title-group h2 {
  font-size: 16px;
  line-height: normal;
  padding: 12px 20px;
  margin: 0;
  display: inline-block;
  font-weight: 400;
  letter-spacing: 1px;
}
.group-category-actiall .title-group h2 > a {
  display: block;
  background-color: #0b46ae;
  text-transform: uppercase;
  color: #fff;
  padding: 6px 24px 6px 12px;
}
.group-category-actiall .item-activate {
  padding-top: 24px;
  padding-bottom: 24px;
  border-right: 1px dotted #e5e5e5;
}
.group-category-actiall .item-activate:last-child {
  border-right: none;
}
.group-category-actiall .item-activate .title-active {
  font-size: 25px;
  font-weight: bold;
  margin: 0 0 12px 0;
  line-height: 1.25;
  color: #cc0000;
  text-align: justify;
}
.group-category-actiall .item-activate .title-active h3 {
  margin: 0;
  font-size: 16px;
}
.group-category-actiall .item-activate .info-active {
  margin-top: 12px;
  font-weight: 300;
  font-size: 14px;
  text-overflow: clip;
  text-align: justify;
}
.group-category-actiall .item-activate .check-active {
  margin-bottom: 1rem;
}
.image_activaty {
  width: 100%;
  margin-bottom: 10px;
}
.image_activaty img {
  width: 100%;
}
@media screen and (min-width: 992px) {
  .main-wrapper {
    padding-left: 8%;
    padding-right: 8%;
  }
}
@media screen and (max-width: 768px) {
  .header_activaty {
    flex-direction: column;
  }
  .list_activaty_on {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 576px) {
}
</style>
