<template>
  <main class="pb-5 main-wrapper" id="main-active-on">
    <a-spin :spinning="isSpinner" tip="Đang tải..." size="large">
      <div class="container-fluid">
        <div class="row">
          <div class="pt-4 border col-lg-9 col-md-12 border-info">
            <div class="wrapper-active-use">
              <div class="list-active">
                <div class="title-list">
                  <h4>DANH SÁCH HOẠT ĐỘNG ĐÃ ĐĂNG KÝ</h4>
                </div>
                <div v-if="listActOn_CL.length == 0">
                  <b-alert variant="success" show
                    >Bạn chưa đăng ký tham gia hoạt động nào cả !!</b-alert
                  >
                </div>
                <div v-else>
                  <div class="list-active table-responsive">
                    <table class="table table-bordered" style="min-width: 600px">
                      <thead>
                        <tr style="text-align: center">
                          <th scope="col">#</th>
                          <th scope="col">Hoạt động</th>
                          <th scope="col">Câu lạc bộ</th>
                          <th scope="col">Người duyệt</th>
                          <th scope="col">Thời gian đăng ký</th>
                          <th scope="col">Trạng thái</th>
                          <th scope="col">Rút đăng ký</th>
                          <th scope="col">Ghi chú</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="(act, index) in listActOn_CL" :key="index">
                          <th scope="row">{{ index + 1 }}</th>
                          <td>{{ act.name }}</td>
                          <td>{{ act.nameclub }}</td>
                          <td>{{ act.username }}</td>
                          <td>{{ act.createDAct_at }}</td>
                          <td style="text-align: center; color: green">
                            <button class="icon_table" v-if="act.statusDAct == 1">
                              <font-awesome-icon icon="check-circle" />
                            </button>
                            <button class="icon_table" v-else>
                              <font-awesome-icon icon="question-circle" />
                            </button>
                          </td>
                          <td style="text-align: center; color: red">
                            <button
                              class="icon_table close_dk"
                              v-if="act.statusDAct == 0"
                              @click="CancelRegisterAct(act.id_DAct, act.name)"
                            >
                              <font-awesome-icon icon="times-circle" />
                            </button>
                          </td>
                          <td></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 d-none d-lg-block">
            <div class="p-3 mb-3 bg-white rounded frame_listgroup">
              <div class="title">
                <span>CÂU LẠC BỘ</span>
              </div>
              <hr />
              <ul class="pl-0 m-0">
                <li v-for="clubs in listclubs.data" :key="clubs.id">
                  <a class="py-2 d-flex align-items-center" href="#">
                    <div class="flex-shrink-0 mr-2 icon-group">
                      <img
                        v-if="clubs.banner == null || clubs.banner == ''"
                        src="../../assets/images/truong.png"
                        alt="truong"
                      />
                      <img v-else :src="clubs.banner" alt="truong" />
                    </div>
                    <p class="mb-0 name_group">{{ clubs.name }}</p>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </a-spin>
  </main>
</template>

<script>
import axios from "axios";
import { mapActions, mapGetters } from "vuex";
export default {
  data() {
    return {
      isLogin: false,
      idUser: "",
      isSpinner: false,
    };
  },
  computed: {
    ...mapGetters(["listActOn_CL", "listclubs"]),
  },
  methods: {
    ...mapActions(["getListActOn_CL", "getListClubs"]),
    checklogin() {
      if (sessionStorage.getItem("tokenlogin") === null) {
        this.isLogin = false;
      } else {
        this.isLogin = true;
        var d = JSON.parse(sessionStorage.getItem("tokenlogin"));
        this.idUser = d["data"]["id"];
      }
    },
    CancelRegisterAct(idDetAvt, name) {
      axios.delete("http://127.0.0.1:8000/api/detailactivitys/" + idDetAvt);
      this.getListActOn_CL(this.idUser);
      this.isSpinner = true;
      setTimeout(() => {
        this.isSpinner = false;
        this.$notification.open({
          message: "Thông báo",
          description: "Hủy đăng ký tham gia hoạt động " + name + " thành công",
          icon: <a-icon type="sound" style="color:green" />,
        });
      }, 1000);
    },
  },
  created() {
    this.checklogin(), this.getListActOn_CL(this.idUser), this.getListClubs();
  },
};
</script>

<style scoped>
.wrapper-active-use .list-active .list-active th {
  vertical-align: middle;
}
.title-list h4 {
  color: blue;
  font-weight: 600;
}
.icon_table {
  font-size: 14pt;
  background: transparent;
  border: none;
}
.close_dk {
  cursor: pointer;
  transition: 0.6s;
}
.close_dk:hover {
  transition: 0.6s;
  opacity: 0.8;
  transform: scale(1.2);
}
</style>
