<template>
  <div>
    <page-title
      :heading="heading"
      :icon="icon"
      @create-new="$bvModal.show('create-activaty-modal')"
    >
    </page-title>
    <b-alert :show="successMessage !== ''" variant="success" dismissible>
      {{ successMessage }}
    </b-alert>
    <b-card class="mb-4 main-card">
      <datatable
        ref="activatyTable"
        :api-url="apiUrl + idClubs_ad"
        :fields="fields"
        filter="name"
      >
        <template v-slot:cell(actions)="row">
          <b-button
            variant="info"
            size="sm"
            class="mb-2 mr-2"
            @click="show(row.item.id)"
            style="white-space: nowrap"
          >
            Chi tiết
          </b-button>
          <b-button
            variant="primary"
            size="sm"
            class="mb-2 mr-2"
            @click="edit(row.item.id)"
          >
            Sửa
          </b-button>
          <b-button
            variant="danger"
            size="sm"
            class="mb-2 mr-2"
            @click="destroy(row.item.id)"
          >
            Xóa
          </b-button>
          <b-button
            variant="danger"
            size="sm"
            class="mb-2 mr-2"
            @click="checkDD(row.item.id, row.item.name)"
            style="white-space: nowrap"
          >
            Điểm danh
          </b-button>
        </template>
        <template v-slot:cell(Logo)="row" title="Logo">
          <div class="logo_page">
            <b-img :src="row.item.image" alt="Hình ảnh"></b-img>
          </div>
        </template>
      </datatable>
    </b-card>
    <b-modal id="show-activaty-modal" title="Chi tiết hoạt động" size="lg">
      <ShowActivaty ref="showActivaty" :id="id"></ShowActivaty>
      <template v-slot:modal-footer>
        <div class="w-100">
          <div class="float-right">
            <b-button
              variant="danger"
              class="mr-2"
              @click="$bvModal.hide('show-activaty-modal')"
            >
              Bỏ qua
            </b-button>
            <b-button variant="success" @click="$bvModal.hide('show-activaty-modal')">
              Ok
            </b-button>
          </div>
        </div>
      </template>
    </b-modal>
    <b-modal id="create-activaty-modal" title="Tạo hoạt động" size="lg">
      <CreateActivaty ref="createActivaty" :idClub="idClubs_ad"></CreateActivaty>
      <template v-slot:modal-footer>
        <div class="w-100">
          <div class="float-right">
            <b-button
              variant="danger"
              class="mr-2"
              @click="$bvModal.hide('create-activaty-modal')"
              :disabled="isStoring"
            >
              Bỏ qua
            </b-button>
            <b-button variant="success" @click="store" :disabled="isStoring">
              <b-spinner class="spinner" small v-if="isStoring"></b-spinner>
              Lưu
            </b-button>
          </div>
        </div>
      </template>
    </b-modal>
    <b-modal id="edit-activaty-modal" title="Sửa hoạt động" size="lg">
      <EditActivaty ref="editActivaty" :id="id" :idClub="idClubs_ad"></EditActivaty>
      <template v-slot:modal-footer>
        <div class="w-100">
          <div class="float-right">
            <b-button
              variant="danger"
              class="mr-2"
              @click="$bvModal.hide('edit-activaty-modal')"
              :disabled="isUpdating"
            >
              Bỏ qua
            </b-button>
            <b-button variant="success" @click="update" :disabled="isUpdating">
              <b-spinner class="spinner" small v-if="isUpdating"></b-spinner>
              Lưu
            </b-button>
          </div>
        </div>
      </template>
    </b-modal>
  </div>
</template>

<script>
import axios from "axios";
import PageTitle from "@/admin/Layout/Components/PageTitle.vue";
import ShowActivaty from "@/admin/Activaty/ShowActivaty.vue";
import CreateActivaty from "@/admin/Activaty/CreateActivaty.vue";
import EditActivaty from "@/admin/Activaty/EditActivaty.vue";
import convertToLocaleDateTimeString from "@/admin/utils/convertToLocaleDateTimeString";
import { mapActions, mapGetters, mapMutations } from "vuex";
export default {
  components: {
    PageTitle,
    ShowActivaty,
    CreateActivaty,
    EditActivaty,
  },
  computed: {
    ...mapGetters("login", ["user"]),
    ...mapGetters(["idClubs_ad", "nameClubs_ad"]),
  },
  data: () => ({
    heading: "Hoạt Động của CLB ",
    icon: "pe-7s-users icon-gradient bg-happy-itmeo",
    apiUrl: "api/activitie/getactbyclubdata/",
    fields: [
      {
        key: "row_no",
        label: "#",
      },
      {
        key: "name",
        sortable: true,
        label: "Tên hoạt động",
      },
      {
        key: "Logo",
        label: "Hình ảnh",
      },
      {
        key: "title",
        sortable: true,
        label: "Tiêu đề",
      },
      // {
      //   key: "content",
      //   sortable: true,
      //   label: "Nội dung",
      // },
      {
        key: "quantity",
        sortable: true,
        label: "Số lượng",
      },
      {
        key: "status",
        sortable: true,
        label: "Trạng thái",
        formatter: (value) => (value ? "Chưa bắt đầu" : "Đã kết thúc"),
      },
      {
        key: "date_start",
        formatter: (value) => convertToLocaleDateTimeString(value),
        sortable: true,
        label: "Thời gian DK",
      },
      {
        key: "date_end",
        formatter: (value) => convertToLocaleDateTimeString(value),
        sortable: true,
        label: "Thời gian KT",
      },
      {
        key: "actions",
        label: "Hành động",
      },
    ],
    successMessage: "",
    id: 0,
    isStoring: false,
    isUpdating: false,
  }),
  created() {
    this.getListActivaty_Ad(this.user.id), this.joinAPI();
  },
  methods: {
    ...mapActions(["getListActivaty_Ad"]),
    ...mapMutations(["SET_NAMEACT_AD"]),
    joinAPI() {
      //this.apiUrl += this.idClubs_ad;
      this.heading += this.nameClubs_ad;
    },
    checkDD(id, name) {
      this.SET_NAMEACT_AD(name);
      this.$router.push("/admin/activaty/attendance/" + id);
    },
    show(id) {
      this.id = id;
      this.$bvModal.show("show-activaty-modal");
    },
    edit(id) {
      this.id = id;
      this.$bvModal.show("edit-activaty-modal");
    },
    store() {
      this.isStoring = true;

      this.$refs.createActivaty
        .submit()
        .then((data) => {
          this.successMessage = data.message;
          this.isStoring = false;
          this.$bvModal.hide("create-activaty-modal");
          this.$refs.activatyTable.refresh();
        })
        .catch((data) => {
          this.isStoring = false;
          console.error(data.message);
        });
    },
    update() {
      this.isUpdating = true;
      this.$refs.editActivaty
        .submit()
        .then((data) => {
          this.successMessage = data.message;
          this.isUpdating = false;
          this.$bvModal.hide("edit-activaty-modal");
          this.$refs.activatyTable.refresh();
        })
        .catch((data) => {
          this.isUpdating = false;
          console.error(data.message);
        });
    },
    destroy(id) {
      this.$bvModal
        .msgBoxConfirm("Bạn có muốn xóa dòng này ?", {
          title: "Làm ơn lựa chọn",
          okVariant: "danger",
          okTitle: "Có",
          cancelTitle: "Không",
        })
        .then((value) => {
          if (value) {
            axios
              .delete("/api/activities/" + id)
              .then((response) => {
                this.successMessage = response.data.message;
                this.$refs.activatyTable.refresh();
              })
              .catch((error) => console.error(error.response.data.message));
          }
        })
        .catch((error) => console.error(error.response.data.message));
    },
  },
};
</script>

<style scoped>
.logo_page {
  width: 100%;
  max-width: 100px;
}
.logo_page img {
  width: 100%;
}
</style>
