<template>
  <div>
     <div class="app-page-title">
    <div class="page-title-wrapper">
      <div class="page-title-heading">
        <div class="page-title-icon">
          <i class="pe-7s-users icon-gradient bg-happy-itmeo"/>
        </div>
        <div>
          Điểm Danh của hoạt động {{name_Ac}}
          
        </div>
      </div>
    </div>
  </div>

    <b-alert :show="successMessage !== ''" variant="success" dismissible>
      {{ successMessage }}
    </b-alert>
    <b-card class="mb-4 main-card">
      <datatable ref="Attendance" :api-url="apiUrl+$route.params.idAct" :fields="fields" filter="name">
        <template v-slot:cell(status)="row" >
          <input type="checkbox" :checked="row.item.status_act" @change="onIsAttendance(row.item.id,row.item.status_act,row.item.idDetalAct)"/>
        </template>
      </datatable>
    </b-card>
  </div>
</template>

<script>
import axios from 'axios'
import convertToLocaleDateTimeString from "@/admin/utils/convertToLocaleDateTimeString";
import { mapActions, mapGetters} from 'vuex'
export default {
    components: {

  },
  computed: {
    ...mapGetters('login', ['user']),
    ...mapGetters(['idClubs_ad','name_Ac'])
  },
  data: () => ({
    heading: "Điểm Danh Hoạt Động",
    icon: "pe-7s-users icon-gradient bg-happy-itmeo",
    apiUrl: "api/activitie/getuserbyactdata/",
    fields: [
      {
        key: "row_no",
        label: "#",
      },
      {
        key: "name",
        sortable: true,
        label:"Tên sinh viên"
      },
      {
        key:"status",
        label:"Trạng thái"
      },
      {
        key: "email",
        sortable: true,
        label:"Email"
      },
      {
        key: "mobile_number",
        sortable: true,
        label:"SĐT"
      },
      {
        key: "created_at",
        formatter: (value) => convertToLocaleDateTimeString(value),
        sortable: true,
        label:"Thời gian đăng ký"
      }
      
    ],
    successMessage: ""
  }),
  created(){
      this.getListActivaty_Ad(this.user.id)
  },
  methods:{
      ...mapActions(['getListActivaty_Ad']),
      onIsAttendance(id_user,status,id_DetailAct){
        axios.patch('api/detailactivitys/'+id_DetailAct, 
        { 
            "activite_id":this.$route.params.idAct,
            "user_id":id_user,
            "status":status?0:1
        }, 
        this.$refs.Attendance.refresh()
      );
      }
  }
}
</script>

<style>

</style>