<template>
  <div>
    <b-alert :show="form.errors.hasMessage()" variant="danger" dismissible>
      {{ form.errors.getMessage() }}
    </b-alert>
    <b-form
      @keydown="form.errors.clear($event.target.name)"
      @change="form.errors.clear($event.target.name)"
    >
      <b-form-group id="name-input-group" label="Tên hoạt động" label-for="name">
        <b-form-input
          id="name"
          type="text"
          v-model="form.name"
          name="name"
          placeholder="Nhập tên hoạt động"
        >
        </b-form-input>
        <b-form-invalid-feedback
          :state="!form.errors.has('name')"
          v-text="form.errors.get('name')"
        ></b-form-invalid-feedback>
      </b-form-group>
      <b-form-group
        v-if="!image"
        id="image-input-group"
        label="Hình ảnh"
        label-for="image"
      >
        <b-form-file
          id="image"
          accept="image/*"
          :state="Boolean(form.image)"
          placeholder="Vui lòng chọn ảnh"
          drop-placeholder="Xóa hình ảnh...."
          browse-text="Chọn ảnh"
          @change="onFileChange"
        ></b-form-file>
        <b-form-invalid-feedback
          :state="!form.errors.has('image')"
          v-text="form.errors.get('image')"
        ></b-form-invalid-feedback>
      </b-form-group>
      <div v-else class="text-center">
        <img :src="image" />
        <b-button
          variant="danger"
          size="md"
          class="mb-2 text-center"
          @click="removeImage()"
        >
          Xóa ảnh
        </b-button>
      </div>
      <b-form-group id="title-input-group" label="Tiêu đề" label-for="title">
        <b-form-input
          id="title"
          type="text"
          v-model="form.title"
          name="title"
          placeholder="Nhập tiêu đề hoạt động"
        >
        </b-form-input>
        <b-form-invalid-feedback
          :state="!form.errors.has('title')"
          v-text="form.errors.get('title')"
        ></b-form-invalid-feedback>
      </b-form-group>
      <b-form-group id="slug-input-group" label="Slug" label-for="slug">
        <b-form-input
          id="slug"
          type="text"
          v-model="form.slug"
          name="slug"
          placeholder="Nhậpslug"
        >
        </b-form-input>
        <b-form-invalid-feedback
          :state="!form.errors.has('slug')"
          v-text="form.errors.get('slug')"
        ></b-form-invalid-feedback>
      </b-form-group>
      <b-form-group id="content-input-group" label="Nội dung" label-for="content">
        <vue-editor id="content" name="content" v-model="form.content" />
        <b-form-invalid-feedback
          :state="!form.errors.has('content')"
          v-text="form.errors.get('content')"
        ></b-form-invalid-feedback>
      </b-form-group>
      <b-form-group id="quantity-input-group" label="Số lượng" label-for="quantity">
        <b-form-input
          id="quantity"
          type="number"
          v-model="form.quantity"
          name="quantity"
          placeholder="Nhập số lượng "
        >
        </b-form-input>
        <b-form-invalid-feedback
          :state="!form.errors.has('quantity')"
          v-text="form.errors.get('quantity')"
        ></b-form-invalid-feedback>
      </b-form-group>
      <b-form-group
        id="datedks-input-group"
        label="Ngày dự kiến bắt đầu"
        label-for="datedks"
      >
        <b-form-datepicker
          placeholder="Chọn ngày"
          id="datedks"
          :state="true"
          name="datedks"
          v-model="form.date_start"
        >
        </b-form-datepicker>

        <b-form-invalid-feedback
          :state="!form.errors.has('datedks')"
          v-text="form.errors.get('datedks')"
        ></b-form-invalid-feedback>
      </b-form-group>
      <b-form-group
        id="datedke-input-group"
        label="Ngày dự kiến kết thúc"
        label-for="datedke"
      >
        <b-form-datepicker
          placeholder="Chọn ngày"
          id="datedke"
          :state="false"
          name="datedke"
          v-model="form.date_end"
        >
        </b-form-datepicker>

        <b-form-invalid-feedback
          :state="!form.errors.has('datedke')"
          v-text="form.errors.get('datedke')"
        ></b-form-invalid-feedback>
      </b-form-group>
    </b-form>
  </div>
</template>

<script>
import Form from "@/admin/utils/Form";

export default {
  props: {
    idClub: {
      type: Number,
      required: true,
    },
  },
  data() {
    return {
      form: new Form({
        name: "",
        content: "",
        title: "",
        quantity: 1,
        club_id: this.idClub,
        status: 0,
        image: "",
        slug: "",
        date_start: "",
        date_end: "",
      }),
      image: "",
    };
  },
  methods: {
    submit() {
      return this.form.post("/api/activities");
    },
    onFileChange(e) {
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length) return;
      this.createImage(files[0]);
    },
    createImage(file) {
      //var image = new Image();
      var reader = new FileReader();
      var vm = this;
      reader.onload = (e) => {
        vm.image = e.target.result;
        this.form.image = e.target.result;
      };
      reader.readAsDataURL(file);
    },
    removeImage() {
      this.image = "";
    },
  },
};
</script>
<style scoped>
img {
  width: 100%;
  max-width: 200px;
  margin: auto;
  display: block;
  margin-bottom: 10px;
}
</style>
