<template>
  <div>
    <page-title :heading=heading :subheading=subheading :icon=icon no-create-new></page-title>
  </div>

</template>

<script>
import { mapGetters} from 'vuex'
  import PageTitle from "@/admin/Layout/Components/PageTitle.vue";
  export default {
    components: {
      PageTitle,
    },
    data: () => ({
      heading: 'Trang chủ',
      subheading: 'Chào mừng bạn đến với trang quản trị',
      icon: 'pe-7s-plane icon-gradient bg-tempting-azure',
    }),
    computed: {
    ...mapGetters('login', ['user'])
    },
    mounted(){
      this.checkText()
    },
    methods: {
      checkText(){
        console.log(this.user)
        if(this.user['role_id']==1){
          this.subheading="Chào mừng "+this.user['name']+" đến với trang quản trị"
        }
        else {
          this.subheading="Chào mừng "+this.user['name']+" đến với trang câu lạc bộ"
        }
      }
    }
  }
</script>
