<template>
  <div v-if="user.role_id==1">
    <page-title
      :heading="heading"
      :icon="icon"
      @create-new="$bvModal.show('create-user-modal')"
    >
    </page-title>
    <b-alert :show="successMessage !== ''" variant="success" dismissible>
      {{ successMessage }}
    </b-alert>
    <b-card class="mb-4 main-card">
      <datatable ref="usersTable" :api-url="apiUrl" :fields="fields">
        <template v-slot:cell(actions)="row">
          <!-- <b-button
            variant="info"
            size="sm"
            class="mb-2 mr-2"
            @click="show(row.item.id)"
          >
            Chi tiết
          </b-button> -->
          <b-button
            variant="primary"
            size="sm"
            class="mb-2 mr-2"
            @click="edit(row.item.id)"
          >
            Cập nhật
          </b-button>
          <b-button
            variant="danger"
            size="sm"
            class="mb-2 mr-2"
            @click="destroy(row.item.id)"
          >
            Xóa
          </b-button>
        </template>
      </datatable>
    </b-card>
    <!-- <b-modal id="show-user-modal" title="User Details" size="lg">
      <show-user ref="showUser" :id="id"></show-user>
      <template v-slot:modal-footer>
        <div class="w-100">
          <div class="float-right">
            <b-button
              variant="danger"
              class="mr-2"
              @click="$bvModal.hide('show-user-modal')"
            >
              Hủy
            </b-button>
            <b-button
              variant="success"
              @click="$bvModal.hide('show-user-modal')"
            >
              Ok
            </b-button>
          </div>
        </div>
      </template>
    </b-modal> -->
    <b-modal id="create-user-modal" title="Create User" size="lg">
      <create-user ref="createUser"></create-user>
      <template v-slot:modal-footer>
        <div class="w-100">
          <div class="float-right">
            <b-button
              variant="danger"
              class="mr-2"
              @click="$bvModal.hide('create-user-modal')"
              :disabled="isStoring"
            >
              Hủy
            </b-button>
            <b-button variant="success" @click="store" :disabled="isStoring">
              <b-spinner class="spinner" small v-if="isStoring"></b-spinner>
              Ok
            </b-button>
          </div>
        </div>
      </template>
    </b-modal>
    <b-modal id="edit-user-modal" title="Edit User" size="lg">
      <edit-user ref="editUser" :id="id"></edit-user>
      <template v-slot:modal-footer>
        <div class="w-100">
          <div class="float-right">
            <b-button
              variant="danger"
              class="mr-2"
              @click="$bvModal.hide('edit-user-modal')"
              :disabled="isUpdating"
            >
              Hủy
            </b-button>
            <b-button variant="success" @click="update" :disabled="isUpdating">
              <b-spinner class="spinner" small v-if="isUpdating"></b-spinner>
              Ok
            </b-button>
          </div>
        </div>
      </template>
    </b-modal>
  </div>
  <div v-else>
    <h1>Không có quyền vào trang này</h1>
  </div>
</template>

<script>
import axios from 'axios';
import PageTitle from "@/admin/Layout/Components/PageTitle.vue";
import CreateUser from "@/admin/Users/CreateUser";
import EditUser from "@/admin/Users/EditUser";
//import ShowUser from "@/admin/Users/ShowUser";
//import convertToLocaleDateTimeString from "@/admin/utils/convertToLocaleDateTimeString";
import { mapGetters} from 'vuex'

export default {
  components: {
    PageTitle,
    CreateUser,
    EditUser,
    //ShowUser,
  },
  computed: {
    ...mapGetters('login', ['user'])
  },
  data: () => ({
    heading: "Người dùng",
    icon: "pe-7s-users icon-gradient bg-happy-itmeo",
    apiUrl: "/api/users",
    fields: [
      {
        key: "row_no",
        label: "#",
      },
      {
        key: "name",
        sortable: true,
        label:"Họ tên"
      },
      {
        key: "gender",
        sortable: true,
        label:"Giới tính",
        formatter: (value) => (value==1 ? "Nam" : "Nữ"),
      },
      {
        key: "email",
        sortable: true,
        label:"Email"
      },
      {
        key: "mobile_number",
        sortable: true,
        label:"SĐT"
      },
      {
        key: "birthday",
        sortable: true,
        label:"Ngày sinh"
      },
      {
        key: "address",
        sortable: true,
        label:"Địa chỉ"
      },
      // {
      //   key: "zalo",
      //   sortable: true,
      //   label:"Zalo"
      // },
      // {
      //   key: "instagram",
      //   sortable: true,
      //   label:"Instagram"
      // },
      // {
      //   key: "facebook",
      //   sortable: true,
      //   label:"Facebook"
      // },
      {
        key:"actions",
        label:"Hành động"
      }
    ],
    successMessage: "",
    isStoring: false,
    id: 0,
    isUpdating: false,
  }),
  methods: {
    store() {
      this.isStoring = true;

      this.$refs.createUser
        .submit()
        .then((data) => {
          this.successMessage = data.message;
          this.isStoring = false;
          this.$bvModal.hide("create-user-modal");
          this.$refs.usersTable.refresh();
        })
        .catch((data) => {
          this.isStoring = false;
          console.error(data.message);
        });
    },
    // show(id) {
    //   this.id = id;
    //   this.$bvModal.show("show-user-modal");
    // },
    edit(id) {
      this.id = id;
      this.$bvModal.show("edit-user-modal");
    },
    update() {
      this.isUpdating = true;

      this.$refs.editUser
        .submit()
        .then((data) => {
          this.successMessage = data.message;
          this.isUpdating = false;
          this.$bvModal.hide("edit-user-modal");
          this.$refs.usersTable.refresh();
        })
        .catch((data) => {
          this.isUpdating = false;
          console.error(data.message);
        });
    },
    destroy(id) {
      this.$bvModal
        .msgBoxConfirm("Bạn có muốn xóa tài khoản này không?", {
          title: "Thông báo",
          okVariant: "danger",
          okTitle: "Có",
          cancelTitle: "Không",
        })
        .then((value) => {
          if (value) {
            axios
              .delete("/api/users/" + id)
              .then((response) => {
                this.successMessage = response.data.message;
                this.$refs.usersTable.refresh();
              })
              .catch((error) => console.error(error.response.data.message));
          }
        })
        .catch((error) => console.error(error.response.data.message));
    },
  },
};
</script>
