<template>
    <div id="app">
       <a-back-top>
      <div class="ant-back-top-inner">
        <a-icon type="to-top" />
      </div>
    </a-back-top>
        <div class="d-flex h-100 justify-content-center align-items-center" v-if="isLoading || isLoggingOut">
            <b-spinner class="spinner" variant="primary"></b-spinner>
        </div>
        <component class="component" :is="layout" v-if="!isLoading && !isLoggingOut">
            <transition name="router-anim">
                <router-view></router-view>
            </transition>
        </component>
    </div>
</template>

<script>
  import { mapGetters } from 'vuex'

  const default_layout = "defaultclient";
  export default {
    computed: {
      ...mapGetters('login', ['isLoggingOut']),
      layout() {
        return (this.$route.meta.layout || default_layout) + '-layout';
      },
      isLoading() {
        return !this.$route.meta.layout
      }
    },
  }
</script>

<style lang="scss">
    @import "./admin/assets/base.scss";
  .router-anim-enter-active{
    animation: coming .5s;    
    opacity: 0.5;
  }
  .router-anim-leave-active{
    animation: going .5s;
  }
  @keyframes going{
    from{
      transform: translateX(0);
    }
    to{
      transform: translateX(-50px);
      opacity: 0;
    }
    
  }
  @keyframes coming{
    from{
      transform: translateX(-50px);
      opacity: 0;
    }
    to{
      transform: translateX(0px);
      opacity: 1;
    }
  }
.ant-back-top {
  bottom: 50px !important;
  right: 10px !important;
  .ant-back-top-inner {
    background-color: #0b46ae;
    text-align: center;
    padding: 0px 10px 10px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 20px;
  }
}

</style>
