<template>
  <div>
     <div class="app-page-title">
    <div class="page-title-wrapper">
      <div class="page-title-heading">
        <div class="page-title-icon">
          <i class="pe-7s-users icon-gradient bg-happy-itmeo"/>
        </div>
        <div>
          Điểm Danh của hoạt động 
          
        </div>
      </div>
    </div>
  </div>

    <b-alert :show="successMessage !== ''" variant="success" dismissible>
      {{ successMessage }}
    </b-alert>
    <b-card class="mb-4 main-card">
      <datatable ref="Attendance" :api-url="apiUrl+$route.params.idCost" :fields="fields" filter="name">
        <template v-slot:cell(status)="row" >
          <input type="checkbox" :checked="row.item.status" @change="onIsAttendance(row.item.id,row.item.status,row.item.user_id)"/>
        </template>
      </datatable>
    </b-card>
  </div>
</template>

<script>
import axios from 'axios'
import convertToLocaleDateTimeString from "@/admin/utils/convertToLocaleDateTimeString";
import { mapActions, mapGetters} from 'vuex'
export default {
    components: {

  },
  computed: {
    ...mapGetters('login', ['user']),
    ...mapGetters(['idClubs_ad','name_Ac'])
  },
  data: () => ({
    heading: "Kiểm tra nộp phí",
    icon: "pe-7s-users icon-gradient bg-happy-itmeo",
    apiUrl: "api/costactivitydetail/getbydetail/",
    fields: [
      {
        key: "row_no",
        label: "#",
      },
      {
        key: "username",
        sortable: true,
        label:"Sinh viên",
      },
      {
        key:"status",
        label:"Trạng thái"
      },
      {
        key: "gender",
        sortable: true,
        label:"Giới tính",
        formatter: (value) =>  value==1?'Nam':'Nữ'
      },
      {
        key: "email",
        sortable: true,
        label:"Email",
      },
      {
        key: "phone",
        sortable: true,
        label:"SĐT",
      },
      {
        key: "updated_at",
        formatter: (value) => convertToLocaleDateTimeString(value),
        sortable: true,
        label:"Thời gian nộp tiền"
      }
    ],
    successMessage: ""
  }),
  created(){
      
  },
  methods:{
      ...mapActions(['getListActivaty_Ad']),
      onIsAttendance(id,status,id_user){
        axios.patch('api/costactivitydetail/'+id, 
        { 
            "costactivity_id":this.$route.params.idCost,
            "user_id":id_user,
            "status":status?0:1
        }, 
        this.$refs.Attendance.refresh()
      );
      }
  }
}
</script>

<style>

</style>