<template>
  <div>
    <page-title
      :heading="heading"
      :icon="icon"
      @create-new="$bvModal.show('create-costactivaty-modal')"
    >
    </page-title>
    <b-alert :show="successMessage !== ''" variant="success" dismissible>
      {{ successMessage }}
    </b-alert>
    <b-card class="mb-4 main-card">
      <datatable
        ref="costactivatyTable"
        :api-url="apiUrl + idClubs_ad"
        :fields="fields"
        filter="name"
      >
        <template v-slot:cell(content_clone) >
          <p>Vui lòng ấn xem chi tiết để xem nội dung...</p>
        </template>
        <template v-slot:cell(actions)="row">
          <b-button
            variant="info"
            size="sm"
            class="mb-2 mr-2"
            @click="show(row.item.id)"
            style="white-space: nowrap"
          >
            Chi tiết
          </b-button>
          <b-button
            variant="primary"
            size="sm"
            class="mb-2 mr-2"
            @click="edit(row.item.id)"
          >
            Sửa
          </b-button>
          <b-button
            variant="danger"
            size="sm"
            class="mb-2 mr-2"
            @click="destroy(row.item.id)"
          >
            Xóa
          </b-button>
          <b-button
            variant="danger"
            size="sm"
            class="mb-2 mr-2"
            @click="checkDD(row.item.id, row.item.title)"
            style="white-space: nowrap"
          >
            Kiểm tra
          </b-button>
        </template>
      </datatable>
    </b-card>
    <b-modal id="show-costactivaty-modal" title="Chi tiết thu tiền" size="lg">
      <ShowCostActivity ref="showCostActivaty" :id="id"></ShowCostActivity>
      <template v-slot:modal-footer>
        <div class="w-100">
          <div class="float-right">
            <b-button
              variant="danger"
              class="mr-2"
              @click="$bvModal.hide('show-costactivaty-modal')"
            >
              Bỏ qua
            </b-button>
            <b-button variant="success" @click="$bvModal.hide('show-costactivaty-modal')">
              Ok
            </b-button>
          </div>
        </div>
      </template>
    </b-modal>
    <b-modal id="create-costactivaty-modal" title="Tạo mới thu tiền" size="lg">
      <CreateCostActivity ref="createCostActivaty" :idClub="idClubs_ad"></CreateCostActivity>
      <template v-slot:modal-footer>
        <div class="w-100">
          <div class="float-right">
            <b-button
              variant="danger"
              class="mr-2"
              @click="$bvModal.hide('create-costactivaty-modal')"
              :disabled="isStoring"
            >
              Bỏ qua
            </b-button>
            <b-button variant="success" @click="store" :disabled="isStoring">
              <b-spinner class="spinner" small v-if="isStoring"></b-spinner>
              Lưu
            </b-button>
          </div>
        </div>
      </template>
    </b-modal>
    <b-modal id="edit-costactivaty-modal" title="Cập nhật thu tiền" size="lg">
      <EditCostActivity ref="editCostActivaty" :id="id" :idClub="idClubs_ad"></EditCostActivity>
      <template v-slot:modal-footer>
        <div class="w-100">
          <div class="float-right">
            <b-button
              variant="danger"
              class="mr-2"
              @click="$bvModal.hide('edit-activaty-modal')"
              :disabled="isUpdating"
            >
              Bỏ qua
            </b-button>
            <b-button variant="success" @click="update" :disabled="isUpdating">
              <b-spinner class="spinner" small v-if="isUpdating"></b-spinner>
              Lưu
            </b-button>
          </div>
        </div>
      </template>
    </b-modal>
  </div>
</template>

<script>
import axios from "axios";
import convertToLocaleDateTimeString from "@/admin/utils/convertToLocaleDateTimeString";
import PageTitle from "@/admin/Layout/Components/PageTitle.vue";
import ShowCostActivity from "@/admin/CostActivity/ShowCostActivity.vue";
import CreateCostActivity from "@/admin/CostActivity/CreateCostActivity.vue";
import EditCostActivity from "@/admin/CostActivity/EditCostActivity.vue";
import { mapActions, mapGetters, mapMutations } from "vuex";
export default {
  components: {
    PageTitle,
    ShowCostActivity,
    CreateCostActivity,
    EditCostActivity,
  },
  computed: {
    ...mapGetters("login", ["user"]),
    ...mapGetters(["idClubs_ad", "nameClubs_ad"]),
  },
  data: () => ({
    heading: "Quản lí thu tiền của CLB ",
    icon: "pe-7s-users icon-gradient bg-happy-itmeo",
    apiUrl: "api/costactivity/getbyclub/",
    fields: [
      {
        key: "row_no",
        label: "#",
      },
      {
        key: "title",
        sortable: true,
        label: "Tiêu đề",
      },
      {
        key: "content_clone",
        label: "Nội dung",
      },
      {
        key: "quota",
        sortable: true,
        label: "Số tiền",
      },
      {
        key: "created_at",
        label: "Ngày tạo",
        formatter: (value) => convertToLocaleDateTimeString(value),
      },
      {
        key: "actions",
        label: "Hành động",
      },
    ],
    successMessage: "",
    id: 0,
    isStoring: false,
    isUpdating: false,
  }),
  created() {
    this.getListActivaty_Ad(this.user.id), this.joinAPI();
  },
  methods: {
    ...mapActions(["getListActivaty_Ad"]),
    ...mapMutations(["SET_NAMEACT_AD"]),
    joinAPI() {
      //this.apiUrl += this.idClubs_ad;
      this.heading += this.nameClubs_ad;
    },
    checkDD(id, name) {
      this.SET_NAMEACT_AD(name);
      this.$router.push("/admin/costactivity/attendance/" + id);
    },
    show(id) {
      this.id = id;
      this.$bvModal.show("show-costactivaty-modal");
    },
    edit(id) {
      this.id = id;
      this.$bvModal.show("edit-costactivaty-modal");
    },
    store() {
      this.isStoring = true;

      this.$refs.createCostActivaty
        .submit()
        .then((data) => {
          this.successMessage = data.message;
          this.isStoring = false;
          this.$bvModal.hide("create-costactivaty-modal");
          this.$refs.costactivatyTable.refresh();
        })
        .catch((data) => {
          this.isStoring = false;
          console.error(data.message);
        });
    },
    update() {
      this.isUpdating = true;
      this.$refs.editCostActivaty
        .submit()
        .then((data) => {
          this.successMessage = data.message;
          this.isUpdating = false;
          this.$bvModal.hide("edit-costactivaty-modal");
          this.$refs.costactivatyTable.refresh();
        })
        .catch((data) => {
          this.isUpdating = false;
          console.error(data.message);
        });
    },
    destroy(id) {
      this.$bvModal
        .msgBoxConfirm("Bạn có muốn xóa dòng này ?", {
          title: "Làm ơn lựa chọn",
          okVariant: "danger",
          okTitle: "Có",
          cancelTitle: "Không",
        })
        .then((value) => {
          if (value) {
            axios
              .delete("/api/costactivity/" + id)
              .then((response) => {
                this.successMessage = response.data.message;
                this.$refs.costactivatyTable.refresh();
              })
              .catch((error) => console.error(error.response.data.message));
          }
        })
        .catch((error) => console.error(error.response.data.message));
    },
  },
};
</script>

<style scoped>

</style>
