<template>
  <div>
    <b-alert :show="form.errors.hasMessage()" variant="danger" dismissible>
      {{ form.errors.getMessage() }}
    </b-alert>
    <b-form
      @keydown="form.errors.clear($event.target.name)"
      @change="form.errors.clear($event.target.name)"
    >
      <b-form-group id="title-input-group" label="Tiêu đề" label-for="title">
        <b-form-input
          id="title"
          type="text"
          v-model="form.title"
          name="title"
          placeholder="Nhập tiêu đề ..."
        >
        </b-form-input>
        <b-form-invalid-feedback
          :state="!form.errors.has('title')"
          v-text="form.errors.get('title')"
        ></b-form-invalid-feedback>
      </b-form-group>
      <b-form-group id="content-input-group" label="Nội dung" label-for="content">
        <vue-editor id="content" name="content" v-model="form.content" />
        <b-form-invalid-feedback
          :state="!form.errors.has('content')"
          v-text="form.errors.get('content')"
        ></b-form-invalid-feedback>
      </b-form-group>
      <b-form-group id="quota-input-group" label="Số tiền" label-for="quota">
        <b-form-input
          id="quota"
          type="text"
          v-model="form.quota"
          name="quota"
          placeholder="Nhập số tiền..."
        >
        </b-form-input>
        <b-form-invalid-feedback
          :state="!form.errors.has('quota')"
          v-text="form.errors.get('quota')"
        ></b-form-invalid-feedback>
      </b-form-group>
    </b-form>
  </div>
</template>

<script>
import Form from "@/admin/utils/Form";

export default {
  props: {
    idClub: {
      type: Number,
      required: true,
    },
  },
  data() {
    return {
      form: new Form({
        content: "",
        title: "",
        club_id: this.idClub,
        quota:""
      }),
    };
  },
  methods: {
    submit() {
      return this.form.post("/api/costactivity");
    },
  },
};
</script>
<style scoped>
</style>
