<template>
  <div>
    <div class="d-flex h-100 justify-content-center align-items-center" v-if="isLoading">
      <b-spinner class="spinner" variant="primary"></b-spinner>
    </div>
    <div v-if="!isLoading">
      <b-alert :show="successMessage !== ''" variant="success" dismissible>
        {{ successMessage }}
      </b-alert>
      <b-alert :show="form.errors.hasMessage()" variant="danger" dismissible>
        {{ form.errors.getMessage() }}
      </b-alert>
      <b-form
        @keydown="form.errors.clear($event.target.name)"
        @change="form.errors.clear($event.target.name)"
      >
        <b-form-group id="title-input-group" label="Tiêu đề" label-for="title">
          <b-form-input
            id="title"
            type="text"
            v-model="form.title"
            name="title"
            placeholder="Nhập tiêu đề hoạt động"
          >
          </b-form-input>
          <b-form-invalid-feedback
            :state="!form.errors.has('title')"
            v-text="form.errors.get('title')"
          ></b-form-invalid-feedback>
        </b-form-group>
        <b-form-group id="content-input-group" label="Nội dung" label-for="content">
          <vue-editor id="content" name="content" v-model="form.content" />
          <b-form-invalid-feedback
            :state="!form.errors.has('content')"
            v-text="form.errors.get('content')"
          ></b-form-invalid-feedback>
        </b-form-group>
        <b-form-group id="quota-input-group" label="Số lượng" label-for="quota">
          <b-form-input
            id="quota"
            type="number"
            v-model="form.quota"
            name="quota"
            placeholder="Nhập số lượng "
          >
          </b-form-input>
          <b-form-invalid-feedback
            :state="!form.errors.has('quota')"
            v-text="form.errors.get('quota')"
          ></b-form-invalid-feedback>
        </b-form-group>
      </b-form>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Form from "@/admin/utils/Form";
export default {
  components: {},
  props: {
    id: {
      type: Number,
      required: true,
    },
    idClub: {
      type: Number,
      required: true,
    },
  },
  data() {
    return {
      form: new Form({
        content: "",
        title: "",
        quota: 1,
        club_id: this.idClub,
      }),
      successMessage: "",
      isLoading: false,
      image: "",
    };
  },
  created() {
    this.getCostActi();
  },
  methods: {
    submit() {
      return this.form.patch("/api/costactivity/" + this.id);
    },
    getCostActi() {
      this.isLoading = true;
      axios
        .get("/api/costactivity/" + this.id)
        .then((response) => {
          this.form.quota = response.data.data.name;
          this.form.title = response.data.data.title;
          this.form.content = response.data.data.content;
          this.isLoading = false;
        })
        .catch((error) => {
          console.error(error.response.data.message);
          this.isLoading = false;
        });
    },
  },
};
</script>
<style scoped>
img {
  width: 100%;
  max-width: 200px;
  margin: auto;
  display: block;
  margin-bottom: 10px;
}
</style>
