<template>
  <div>
    <div class="d-flex h-100 justify-content-center align-items-center" v-if="isLoading">
      <b-spinner class="spinner" variant="primary"></b-spinner>
    </div>
    <div v-if="!isLoading">
       <div class="content">
          <div class="title_activaty">
              <h4>{{costactivaty[0].title}}</h4>
          </div>
          <div class="frame_bot"></div>
          <div class="info_activaty d-flex">
              <p class="icon_el mr-3"><font-awesome-icon icon="clock" /><span>{{ costactivaty[0].created_at}}</span></p>
              <p class="icon_el"><font-awesome-icon icon="user-graduate" /><span>{{user.name}}</span></p>
          </div>
          <div class="content_activaty" v-html="costactivaty[0].content">
          </div>
      </div>
    </div>
  </div>
</template>

<script>
import {mapGetters} from 'vuex'
  import axios from 'axios'
  export default {
    props: {
      id: {
        type: Number,
        required: true
      }
    },
    data() {
      return {
        costactivaty: [],
        isLoading: false
      }
    },
    computed:{
      ...mapGetters("login", ["user"]),
    },
    methods: {
      getCostActivaty() {
        this.isLoading = true

        axios.get('api/costactivity/' + this.id)
            .then(response => {
              this.costactivaty.push(response.data.data)
              this.isLoading = false
            })
            .catch(error => {
              console.error(error.response.data)
              this.isLoading = false
            })
      }
    },
    created() {
      this.getCostActivaty()
    }
  }
</script>
<style scoped>
.title_group {
    padding: 5px 10px;
    background-color: aqua;
    justify-content: center;
    border-radius: 5px;
    color: blue !important;
}
.title_group svg {
    font-size: 13pt !important;
}
.title_group span {
    font-weight: 600;
    font-size: 12pt;
    transition: 0.8s;
}
.title_group span:hover {
    transition: 0.8s;
    color: rgb(105, 204, 221);
}
.title_activaty {
    margin: 10px 0;
    text-align: center;
}
.title_activaty h4 {
     font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.692);
    font-size: 16pt;
}
.frame_bot {
    width: 40px;
    margin: 5px 0 10px;
    height: 5px;
    background: rgb(195, 204, 185);
}
.icon_el {
    display: flex;
    align-items: center;
}
.icon_el>svg {
    margin-right: 5px;
    font-size: 10pt;
}
.info_activaty {
   
    align-items: center;
    justify-content: start;
}
.info_activaty p span {
    font-size: 9pt;
}
.content_activaty {
    text-align: justify;
}
</style>