<template>
    <div>
        <div class="h-100 bg-plum-plate bg-animation">
            <div class="d-flex h-100 justify-content-center align-items-center">
                <b-col md="8" class="mx-auto app-login-box">
                    <b-alert :show="form.hasSuccessMessage()"
                             variant="success"
                             dismissible
                    >
                        {{ form.getSuccessMessage() }}
                    </b-alert>
                    <b-alert :show="form.errors.hasMessage()"
                             variant="danger"
                             dismissible
                    >
                        {{ form.errors.getMessage() }}
                    </b-alert>
                    <div class="mx-auto modal-dialog w-100">
                        <b-form id="login-form"
                                @submit.prevent="login"
                                @keydown="form.errors.clear()"
                        >
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div class="text-center h5 modal-title">
                                        <h4 class="mt-2">
                                            <div>{{ app.name }}</div>
                                            <span>Vui lòng đăng nhập vào tài khoản của bạn dưới đây</span>
                                        </h4>
                                    </div>
                                    <b-form-group id="emailInputGroup"
                                                  label-for="email"
                                                  description="Chúng tôi sẽ không bao giờ chia sẻ email của bạn với bất kỳ ai khác.">
                                        <b-form-input id="email"
                                                      type="email"
                                                      name="email"
                                                      placeholder="Nhập email..."
                                                      v-model="form.email"
                                        >
                                        </b-form-input>
                                        <b-form-invalid-feedback
                                                :state="!form.errors.has('email')"
                                                v-text="form.errors.get('email')"
                                        ></b-form-invalid-feedback>
                                    </b-form-group>
                                    <b-form-group id="passwordInputGroup"
                                                  label-for="password">
                                        <b-form-input id="password"
                                                      type="password"
                                                      name="password"
                                                      placeholder="Nhập password..."
                                                      v-model="form.password"
                                        >
                                        </b-form-input>
                                        <b-form-invalid-feedback
                                                :state="!form.errors.has('password')"
                                                v-text="form.errors.get('password')"
                                        ></b-form-invalid-feedback>
                                    </b-form-group>
                                    <div class="divider"/>
                                </div>
                                <div class="clearfix modal-footer">
                                    <div class="float-left">
                                        <router-link :to="{ name: 'password.request' }" class="btn-lg btn btn-link">Quên mật khẩu?</router-link>
                                    </div>
                                    <div>
                                        <b-button id="login"
                                                  type="submit"
                                                  variant="primary"
                                                  size="lg"
                                                  :disabled="form.errors.any() || form.isLoading()"
                                        ><b-spinner class="spinner"
                                                    small
                                                    v-if="form.isLoading()"
                                        ></b-spinner>
                                            Đăng nhập
                                        </b-button>
                                    </div>
                                </div>
                            </div>
                        </b-form>
                    </div>
                    <div class="mt-3 text-center text-white opacity-8">
                        Copyright &copy; {{ app.companyName }} {{ year }}
                    </div>
                </b-col>
            </div>
        </div>
    </div>
</template>

<script>
  import Form from '@/admin/utils/Form'
  import {mapActions, mapMutations, mapGetters} from 'vuex'
  import Fingerprint2 from 'fingerprintjs2'
  export default {
    data() {
      return {
        app: app,
        fingerprint: '',
        year: (new Date()).getFullYear(),
        form: new Form({
          email: '',
          password: ''
        })
      }
    },
    computed: {
      ...mapGetters('login', ['user'])
    },
    methods: {
      ...mapActions('login', ['authenticate']),
      ...mapMutations('login', ['SET_FINGERPRINT']),
      login() {
        this.SET_FINGERPRINT(this.fingerprint)
        this.authenticate(this.form)
            .then(data => {
              let routeName = 'dashboard'
              if (this.user.is_otp_verification_enabled_at_login)
                routeName = 'checkpoint'
              this.$router.replace({ name: routeName })
            })
            .catch(data => console.error(data.message))
      },
      getFingerprint() {
        Fingerprint2.get({
          excludes: {
            hardwareConcurrency: true,
            canvas: true,
            webgl: true,
            adBlock: true,
            fonts: true,
            audio: true,
            enumerateDevices: true
          }
        }, components => {
          const values = components.map(function (component) { return component.value });
          this.fingerprint = Fingerprint2.x64hash128(values.join(''), 31);
        })
      }
    },
    created() {
      this.getFingerprint()
    }
  }
</script>