<template>
  <div class="app-sidebar sidebar-shadow">
    <div class="app-header__logo">
      
      <div class="logo-src"></div>
    </div>
      <div class="app-sidebar-content" v-if="user.role_id == 1">
        <VuePerfectScrollbar class="app-sidebar-scroll" v-once>
          <sidebar-menu showOneChild :menu="menu_admin"/>
        </VuePerfectScrollbar>
      </div>
      <div class="app-sidebar-content" v-if="user.role_id == 2">
        <VuePerfectScrollbar class="app-sidebar-scroll" v-once>
          <sidebar-menu showOneChild :menu="menu_managerclub"/>
        </VuePerfectScrollbar>
      </div>
  </div>
</template>

<script>
  import {SidebarMenu} from 'vue-sidebar-menu'
  import VuePerfectScrollbar from 'vue-perfect-scrollbar'
  import { mapGetters} from 'vuex'

  export default {
    components: {
      SidebarMenu,
      VuePerfectScrollbar
    },
    computed: {
          ...mapGetters('login', ['user'])
    },
    data() {
      return {
        menu_admin: [
          {
            header: true,
            title: 'Điều hướng',
          },
          {
            title: 'Trang chủ',
            icon: 'pe-7s-rocket',
            href: '/admin/dashboard',
          },
          {
            title: 'Người dùng',
            icon: 'pe-7s-users',
            href: '/admin/users'
          },
          {
            title: 'Câu lạc bộ',
            icon: 'pe-7s-helm',
            href: '/admin/clubs'
          },
          {
            title: 'Trang kết nối',
            icon: 'pe-7s-helm',
            href: '/admin/pageconnect'
          },
          {
            title: 'Thông tin cá nhân',
            icon: 'pe-7s-user',
            href: '/admin/settings/user'
          },
          {
            title: 'Thống kê hoạt động CLB',
            icon: 'pe-7s-user',
            href: '/admin/reportactivaty'
          },
        ],
        menu_managerclub: [
          {
            header: true,
            title: 'Điều hướng',
          },
          {
            title: 'Trang chủ',
            icon: 'pe-7s-rocket',
            href: '/admin/dashboard',
          },
          {
            title: 'Thành viên Câu Lạc Bộ',
            icon: 'pe-7s-browser',
            child: [
              {
                href: '/admin/userclb/user',
                title: 'Thành viên',
              },
              {
                href: '/admin/userclb/duyet',
                title: 'Duyệt danh sách',
              },
            ]
          },
          {
            title: 'Hoạt động',
            icon: 'pe-7s-helm',
            href: '/admin/activaty'
          },
          {
            title: 'Bài đăng',
            icon: 'pe-7s-browser',
            child: [
              {
                href: '/admin/post/duyet',
                title: 'Duyệt bài đăng',
              },
              {
                href: '/admin/post/list',
                title: 'Danh sách bài đăng',
              },
            ]
          }, 
          {
            title: 'Thông tin cá nhân',
            icon: 'pe-7s-user',
            href: '/admin/settings/user'
          },
          {
            title: 'Thông tin CLB',
            icon: 'pe-7s-users',
            href: '/admin/settings/clb'
          },
          {
            title: 'Thu chi',
            icon: 'pe-7s-browser',
            child: [
              {
                href: '/admin/costactivity',
                title: 'Quản lí thu',
              },
              {
                href: '/admin/expenses',
                title: 'Quản lí chi',
              },
            ]
          },      
        ],
        windowWidth: 0,

      }
    },
    methods: {
      getWindowWidth() {
        const el = document.body;

        this.windowWidth = document.documentElement.clientWidth;

        if (this.windowWidth < '992') {
          el.classList.add('closed-sidebar', 'closed-sidebar-md');
        } else {
          el.classList.remove('closed-sidebar', 'closed-sidebar-md');
        }
      },
    },
    mounted() {
      this.$nextTick(function () {
        window.addEventListener('resize', this.getWindowWidth);

        //Init
        this.getWindowWidth();

        const hiddenNavLinks = document.querySelectorAll('a.hidden')

        hiddenNavLinks.forEach(link => {
          link.parentNode.classList.add('hidden')
        })
      })
    },

    beforeDestroy() {
      window.removeEventListener('resize', this.getWindowWidth);
    }
  }
</script>
<style lang="css" scoped>

</style>
