<template>
  <div class="px-0 new-feed-wrapper col-12 px-lg-2">
    <a-modal v-model="visible" title="Đăng bài" on-ok="handleOk">
      <template slot="footer">
        <a-button key="back" @click="handleCancel"> Thoát </a-button>
        <a-button key="submit" type="primary" :loading="loading" @click="handleOk">
          Đăng bài
        </a-button>
      </template>
      <a-alert type="error" v-if="show" class="mb-2" :message="notifi" banner />
      <a-form-item label="Tiêu đề">
        <a-input
          v-model="titleposst"
          v-decorator="[
            'Tiêu đề',
            { rules: [{ required: true, message: 'Vui lòng nhập tiêu đề!' }] },
          ]"
        />
      </a-form-item>
      <a-form-item label="Câu lạc bộ">
        <a-select
          v-decorator="[
            'club',
            { rules: [{ required: true, message: 'Chọn câu lạc bộ' }] },
          ]"
          placeholder="Chọn câu lạc bộ"
          @change="handleSelectChange($event)"
        >
          <a-select-option
            v-for="(listcl, index) in clusterCL"
            :options="listcl"
            :key="index"
            :value="listcl.id"
          >
            {{ listcl.name }}
          </a-select-option>
        </a-select>
      </a-form-item>
      <a-form-item label="Chọn hình ảnh"> </a-form-item>
      <b-form-file
        placeholder="Chọn hình ảnh"
        drop-placeholder="Drop file here..."
        browse-text="Chọn ảnh"
        @change="onFileChange"
      ></b-form-file>
      <div v-if="this.image.length > 0" class="text-center blockimgages">
        <div
          style="width: calc(100% / 3); position: relative; padding: 10px; float: left"
          class="choiceimg"
          v-for="(img, index) in this.image"
          :key="index"
        >
          <img :src="img" class="image_up" />
          <a-icon
            style="
              font-size: 25px;
              position: absolute;
              right: 10px;
              top: 10px;
              color: red;
              background: #fff;
            "
            type="close-circle"
            @click="removeImage(index)"
          />
        </div>
      </div>
      <a-form-item label="Nội dung" style="clear: both">
        <a-textarea
          label="Nội dung"
          placeholder="Nội dung"
          :rows="4"
          v-model="contentpost"
          style="clear: both; margin-top: 10px"
          id="content"
          name="content"
          v-decorator="['club', { rules: [{ required: true, message: 'Ghi nội dung' }] }]"
        />
      </a-form-item>
    </a-modal>
    <div class="row">
      <div class="col-12">
        <div class="row actionuser">
          <div class="col-12">
            <button v-if="!islogin" @click="createpostfail">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="22"
                height="22.002"
                viewBox="0 0 29 29.002"
                class="injected-svg"
                data-src="/static/icons/ic_pen.svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
              >
                <g id="ic_bai_viet" data-name="ic_bai viet" transform="translate(1 1)">
                  <path
                    id="Rectangle_19-1090"
                    data-name="Rectangle 19"
                    d="M15.558,0,23,7.441,19.617,18.264,0,23,4.735,3.382Z"
                    transform="translate(0 4.003)"
                    fill="none"
                    stroke="#fff"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-miterlimit="10"
                    stroke-width="2"
                  ></path>
                  <circle
                    id="Oval"
                    cx="2.706"
                    cy="2.706"
                    r="2.706"
                    transform="translate(9.446 12.144)"
                    fill="#fff"
                    stroke="#fff"
                    stroke-width="1"
                  ></circle>
                  <path
                    id="Line-1091"
                    d="M10.146,0,0,10.147"
                    transform="translate(2.029 14.826)"
                    fill="none"
                    stroke="#fff"
                    stroke-linecap="square"
                    stroke-linejoin="round"
                    stroke-miterlimit="10"
                    stroke-width="2"
                  ></path>
                  <path
                    id="Combined_Shape-1092"
                    data-name="Combined Shape"
                    d="M2.834.639a2.184,2.184,0,0,1,3.091,0l4.931,4.931a2.188,2.188,0,0,1,0,3.091L7.441,11.5,0,4.059Z"
                    transform="translate(15.502 0)"
                    fill="none"
                    stroke="#fff"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-miterlimit="10"
                    stroke-width="2"
                  ></path>
                </g>
              </svg>
              Tạo Bài Viết
            </button>
            <button v-else @click="showModal">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="22"
                height="22.002"
                viewBox="0 0 29 29.002"
                class="injected-svg"
                data-src="/static/icons/ic_pen.svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
              >
                <g id="ic_bai_viet" data-name="ic_bai viet" transform="translate(1 1)">
                  <path
                    id="Rectangle_19-1090"
                    data-name="Rectangle 19"
                    d="M15.558,0,23,7.441,19.617,18.264,0,23,4.735,3.382Z"
                    transform="translate(0 4.003)"
                    fill="none"
                    stroke="#fff"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-miterlimit="10"
                    stroke-width="2"
                  ></path>
                  <circle
                    id="Oval"
                    cx="2.706"
                    cy="2.706"
                    r="2.706"
                    transform="translate(9.446 12.144)"
                    fill="#fff"
                    stroke="#fff"
                    stroke-width="1"
                  ></circle>
                  <path
                    id="Line-1091"
                    d="M10.146,0,0,10.147"
                    transform="translate(2.029 14.826)"
                    fill="none"
                    stroke="#fff"
                    stroke-linecap="square"
                    stroke-linejoin="round"
                    stroke-miterlimit="10"
                    stroke-width="2"
                  ></path>
                  <path
                    id="Combined_Shape-1092"
                    data-name="Combined Shape"
                    d="M2.834.639a2.184,2.184,0,0,1,3.091,0l4.931,4.931a2.188,2.188,0,0,1,0,3.091L7.441,11.5,0,4.059Z"
                    transform="translate(15.502 0)"
                    fill="none"
                    stroke="#fff"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-miterlimit="10"
                    stroke-width="2"
                  ></path>
                </g>
              </svg>
              Tạo Bài Viết
            </button>
          </div>
        </div>
        <div
          v-for="(listpost, index) in this.post.data"
          :key="index"
          class="row content-primary"
        >
          <router-link @click.native="getpostfilterid(listpost.id)" to="/detailpost">
            <div class="col-12">
              <div class="content">
                <div class="icon-img">
                  <img
                    v-if="listpost.user.avatar == null || listpost.user.avatar == ''"
                    src="../assets/images/imgprimary.jpg"
                    alt=""
                  />
                  <img v-else :src="listpost.user.avatar" alt="" />
                </div>
                <div class="contact-box">
                  <div class="title">
                    <a href="#" class="nameprofile">{{ listpost.user.name }}</a>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="7"
                      height="8"
                      viewBox="0 0 7 8"
                      class="injected-svg"
                      data-src="/static/icons/icon_arrow_right.svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                    >
                      <path
                        id="Polygon_1-1134"
                        data-name="Polygon 1"
                        d="M4,0,8,7H0Z"
                        transform="translate(7) rotate(90)"
                        fill="#999"
                      ></path>
                    </svg>
                    <router-link
                      class="clublink"
                      @click.native="getclubid(listpost.club.id)"
                      :to="/detailclub/ + listpost.club.id"
                      >{{ listpost.club.name }}</router-link
                    >
                  </div>
                  <div class="time">
                    {{ listpost.time }}
                  </div>
                </div>
              </div>
            </div>
            <div class="py-3 col-12 blockimg">
              <p class="postcontent" v-html="listpost.content"></p>
            </div>
          </router-link>
          <div class="col-12">
            <div class="gallery-row">
              <div class="gallery-container">
                <lightbox :items="listpost.images_arr"></lightbox>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="promotion">
              <ul>
                <li v-if="!islogin" class="action-post" @click="likebus">
                  <font-awesome-icon icon="heart" />
                  <span> {{ listpost.like }} lượt thích</span>
                </li>
                <li
                  v-else-if="listpost.likeStatus == 1"
                  class="action-post tym"
                  @click="changepromotion(listpost.idLike)"
                >
                  <font-awesome-icon icon="heart" />
                  <span> {{ listpost.like }} lượt thích</span>
                </li>
                <li v-else class="action-post" @click="addpromotion(listpost.id)">
                  <font-awesome-icon icon="heart" />
                  <span> {{ listpost.like }} lượt thích</span>
                </li>
                <li @click="showcomment">
                  <router-link
                    @click.native="getpostfilterid(listpost.id)"
                    to="/detailpost"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      class="injected-svg"
                      data-src="/static/icons/ic_message.svg"
                    >
                      <defs>
                        <clipPath id="clip-path-1138">
                          <path
                            id="Path_208-1139"
                            data-name="Path 208"
                            d="M-2-22H22V-46H-2Z"
                            transform="translate(2 46)"
                            fill="none"
                          ></path>
                        </clipPath>
                      </defs>
                      <g
                        id="ic_binh_luan"
                        data-name="ic_binh luan"
                        transform="translate(2 46)"
                      >
                        <g
                          id="Group_167"
                          data-name="Group 167"
                          transform="translate(-2 -46)"
                          clip-path="url(#clip-path-1138)"
                        >
                          <g
                            id="Group_164"
                            data-name="Group 164"
                            transform="translate(2 2)"
                          >
                            <path
                              id="Path_205-1140"
                              data-name="Path 205"
                              d="M18.723,14.893l.913,3.653c.2.8-.293,1.29-1.091,1.091l-3.653-.913a10,10,0,1,1,3.83-3.83Z"
                              fill="none"
                              stroke="#333"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="2"
                            ></path>
                          </g>
                          <g
                            id="Group_165"
                            data-name="Group 165"
                            transform="translate(7.5 10)"
                          >
                            <path
                              id="Path_206-1141"
                              data-name="Path 206"
                              d="M0,1H9"
                              transform="translate(0 -1)"
                              fill="none"
                              stroke="#333"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="2"
                            ></path>
                          </g>
                          <g
                            id="Group_166"
                            data-name="Group 166"
                            transform="translate(7.5 14)"
                          >
                            <path
                              id="Path_207-1142"
                              data-name="Path 207"
                              d="M0,1H6"
                              transform="translate(0 -1)"
                              fill="none"
                              stroke="#333"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="2"
                            ></path>
                          </g>
                        </g>
                      </g>
                    </svg>
                    <span> {{ listpost.comment }} Bình Luận</span>
                  </router-link>
                </li>
                <li class="action-posts">
                  <a href="#">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      id="ic_chia_se"
                      data-name="ic_chia se"
                      width="20"
                      height="20"
                      viewBox="0 0 20 20"
                      class="injected-svg"
                      data-src="/static/icons/ic_share.svg"
                    >
                      <defs>
                        <clipPath id="clip-path-1143">
                          <path
                            id="Path_198-1144"
                            data-name="Path 198"
                            d="M-6-26H14V-46H-6Z"
                            transform="translate(6 46)"
                            fill="none"
                          ></path>
                        </clipPath>
                      </defs>
                      <g
                        id="Group_154"
                        data-name="Group 154"
                        transform="translate(0 0)"
                        clip-path="url(#clip-path-1143)"
                      >
                        <g
                          id="Group_149"
                          data-name="Group 149"
                          transform="translate(12.5 1.667)"
                        >
                          <path
                            id="Path_193-1145"
                            data-name="Path 193"
                            d="M2.083,4.167A2.083,2.083,0,1,0,0,2.083,2.083,2.083,0,0,0,2.083,4.167Z"
                            fill="none"
                            stroke="#333"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="1.5"
                          ></path>
                        </g>
                        <g
                          id="Group_150"
                          data-name="Group 150"
                          transform="translate(12.5 14.167)"
                        >
                          <path
                            id="Path_194-1146"
                            data-name="Path 194"
                            d="M2.083,4.167A2.083,2.083,0,1,0,0,2.083,2.083,2.083,0,0,0,2.083,4.167Z"
                            fill="none"
                            stroke="#333"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="1.5"
                          ></path>
                        </g>
                        <g
                          id="Group_151"
                          data-name="Group 151"
                          transform="translate(3.333 7.917)"
                        >
                          <path
                            id="Path_195-1147"
                            data-name="Path 195"
                            d="M2.083,4.167A2.083,2.083,0,1,0,0,2.083,2.083,2.083,0,0,0,2.083,4.167Z"
                            fill="none"
                            stroke="#333"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="1.5"
                          ></path>
                        </g>
                        <g
                          id="Group_152"
                          data-name="Group 152"
                          transform="translate(7.5 11.25)"
                        >
                          <path
                            id="Path_196-1148"
                            data-name="Path 196"
                            d="M5-5.25,0-9"
                            transform="translate(0 9)"
                            fill="none"
                            stroke="#333"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="1.5"
                          ></path>
                        </g>
                        <g
                          id="Group_153"
                          data-name="Group 153"
                          transform="translate(7.5 5)"
                        >
                          <path
                            id="Path_197-1149"
                            data-name="Path 197"
                            d="M5,0,0,3.75"
                            fill="none"
                            stroke="#333"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="1.5"
                          ></path>
                        </g>
                      </g>
                    </svg>
                  </a>
                  <span>0 Chia sẻ</span>
                </li>
              </ul>
            </div>
          </div>
          <div v-if="isshow" class="col-12">
            <Commentline />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Commentline from "./Comment/Commentline";
import axios from "axios";
import { mapGetters, mapActions } from "vuex";
import Lightbox from "./LightBox/lightbox.vue";
import "./LightBox/lightbox.css";
export default {
  name: "Home",
  computed: {
    ...mapGetters([
      "post",
      "getpostfilter",
      "comment",
      "likeCL",
      "checkloginCL",
      "clusterCL",
    ]),
  },
  components: {
    Commentline,
    Lightbox,
  },
  data() {
    return {
      file1: [],
      image: [],
      isshow: false,
      islogin: false,
      arrlike: [],
      loading: false,
      visible: false,
      titleposst: "",
      contentpost: "",
      idclubs: 0,
      show: false,
      notifi: "",
    };
  },
  methods: {
    ...mapActions([
      "getPost",
      "getpostid",
      "getcomment",
      "getcluboption",
      "getpostidclub",
      "getlikebyidCL",
      "getPostlogin",
      "unlikepost",
      "postlikepost",
      "getpostiduser",
      "listclubbyuser",
    ]),
    onFileChange(e) {
      this.image = [];
      var files = e.target.files || e.dataTransfer.files;
      this.file1.push(files);
      console.log(this.file1);
      for (let prop in this.file1) {
        this.createImage(this.file1[prop][0]);
      }
    },
    createImage(file) {
      var reader = new FileReader();
      reader.onload = (e) => {
        this.image.push(e.target.result);
      };
      reader.readAsDataURL(file);
      console.log(this.image);
    },
    removeImage(id) {
      this.$delete(this.image, id);
      this.$delete(this.file1, id);
    },
    showcomment() {
      this.isshow = !this.isshow;
    },
    getpostfilterid(id) {
      sessionStorage.setItem("idpost", id);
      var d = JSON.parse(sessionStorage.getItem("tokenlogin"));
      if (sessionStorage.getItem("tokenlogin") != null) {
        this.getpostiduser({ user: d["data"]["id"], post: id });
      } else {
        this.getpostid(id);
      }
      this.getcomment(id);
    },
    getclubid(id) {
      this.getcluboption(id), this.getpostidclub(id);
    },
    getlikeid() {
      if (sessionStorage.getItem("tokenlogin") != null) {
        this.islogin = true;
        var d = JSON.parse(sessionStorage.getItem("tokenlogin"));
        this.getPostlogin(d["data"]["id"]);
      } else {
        this.getPost();
        this.islogin = false;
      }
    },
    async changepromotion(id) {
      await this.unlikepost(id).then(this.getlikeid());
    },
    async addpromotion(postid) {
      var d = JSON.parse(sessionStorage.getItem("tokenlogin"));
      await this.postlikepost({ post_id: postid, user_id: d["data"]["id"] }).then(
        this.getlikeid()
      );
    },
    likebus() {
      this.$notification.open({
        message: "Chú Ý",
        description: "Vui lòng đăng nhập để thực hiện thao tác",
        icon: <a-icon type="smile" style="color: #108ee9" />,
      });
    },
    createpostfail() {
      this.$notification.open({
        message: "Chú Ý",
        description: "Vui lòng đăng nhập để thực hiện thao tác",
        icon: <a-icon type="smile" style="color: #108ee9" />,
      });
    },
    createpost() {},
    showModal() {
      this.listclubuser();
      if (this.clusterCL.length > 0) {
        this.visible = true;
      } else {
        this.$notification.open({
          message: "Chú Ý",
          description:
            "Bạn chưa tham gia câu lạc bộ nào, Vui lòng tham gia trước khi đăng bài",
          icon: <a-icon type="smile" style="color: #108ee9" />,
        });
      }
    },
    handleOk() {
      this.loading = true;
      setTimeout(() => {
        if (this.titleposst.length <= 0) {
          this.show = true;
          this.notifi = "Không để trống Tiêu Đề";
          this.loading = false;
        } else {
          if (this.contentpost.length <= 0) {
            this.show = true;
            this.notifi = "Không để trống Nội Dung";
            this.loading = false;
          } else {
            if (this.idclubs == 0) {
              this.show = true;
              this.notifi = "Vui lòng chọn câu lạc bộ muốn đăng";
              this.loading = false;
            } else {
              setTimeout(() => {
                this.show = false;
                this.visible = false;
                this.pushpost();
                this.loading = false;
              }, 1000);
            }
          }
        }
      }, 1000);
    },
    async pushpost() {
      var d = JSON.parse(sessionStorage.getItem("tokenlogin"));
      try {
        const res = await axios.post(`api/posts`, {
          user_id: d["data"]["id"],
          title: this.titleposst,
          content: this.contentpost,
          images: JSON.stringify(this.image),
          status: 0,
          club_id: this.idclubs,
        });
        if (res.status === 200) {
          this.$message.loading({ content: "Đang tải đăng bài viết", duration: 1 });
          setTimeout(() => {
            this.$message.success({
              content: "Bài viết của bạn đã được gửi. Vui lòng chờ duyệt",
              duration: 4,
            });
            this.getlikeid();
          }, 1000);
        } else {
          this.$message.warning("Thất bại vui lòng thử lại");
        }
      } catch (error) {
        this.$message.warning("Thất bại vui chọn ảnh dưới có kích thước nhỏ hơn");
      }
    },
    handleCancel() {
      this.visible = false;
    },
    listclubuser() {
      if (sessionStorage.getItem("tokenlogin") != null) {
        var d = JSON.parse(sessionStorage.getItem("tokenlogin"));
        this.listclubbyuser(d["data"]["id"]);
      }
    },
    handleSelectChange(e) {
      this.idclubs = e;
    },
    testimage() {
      console.log(this.post.data);
      console.log("ồ", this.images);
      for (let prop in this.post.data) {
        console.log("ok", this.post.data[prop]["images_arr"]);
      }
    },
  },
  created() {
    this.getlikeid();
    this.listclubuser();
    this.testimage();
  },
};
</script>

<style scoped>
/*Duy*/
.new-feed-wrapper {
  transition: all 0.3s ease;
}
.iconimg button {
  border: none;
  padding: 0;
  background: none;
}
.iconimg button:focus {
  outline: none;
}
.iconimg img {
  width: 70px;
  height: 70px;
  border-radius: 100%;
}
.actionuser button {
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 0;
  background: #1ba8e8;
  padding: 10px 0;
  color: #fff;
  transition: 0.9s;
}
.actionuser button:hover {
  transition: 0.9s;
  background: #0b46ae;
}
.actionuser .createblog button {
  background: #fd5825;
}
.actionuser .createblog button:hover {
  background: #08293a;
}
.content-primary {
  background-color: #ffffff;
  border-radius: 5px;
  margin: 20px 0;
  padding: 20px 0;
}
.content {
  display: flex;
  justify-content: unset;
  align-items: center;
}
.content .icon-img img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}
.contact-box {
  margin-left: 20px;
}
.contact-box .title a {
  text-decoration: none;
}
.contact-box .time span {
  color: #6c757d;
}
.contact-box .title svg {
  margin: 0 5px;
}
.img-poster img {
  width: 100%;
  max-height: 600px;
  border-radius: 5px;
}
.promotion ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
  border-bottom: 1px solid #ccc;
  padding: 20px 0;
  margin: 0;
}
.promotion ul li {
  list-style: none;
  display: flex;
  align-items: center;
}
.promotion ul a {
  text-decoration: none;
}
.write-comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.write-comment .block-avatar img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}
.write-comment input {
  width: 90%;
  border-radius: 20px;
  padding-left: 10px;
  border: none;
  height: 50px;
  background: #eef3f7;
}
.write-comment input:focus {
  outline: none;
}
.write-comment .content-comment {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.write-comment .submit-comment {
  background: #0b46ae;
  border-radius: 100%;
  padding: 5px;
}
.write-comment .submit-comment a {
  transform: rotate(-45deg);
}
.write-comment .submit-comment svg {
  transform: rotate(-45deg);
}
.action-post {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.action-post svg {
  margin-right: 2px;
  font-size: 16px;
}
.action-posts {
  display: block !important;
}
.tym svg {
  color: red;
}
.postcontent {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 15; /* number of lines to show */
  -webkit-box-orient: vertical;
  padding: 0;
  color: #6c757d;
  font-size: 15px;
  margin: 0px;
}
.blockimg {
  width: 100%;
}
.blockimg img {
  width: 100% !important;
  max-height: 500px;
  max-width: 300px;
}
/* fix css text post */
.content-primary a {
  color: #5a5a5a;
  width: 100%;
}
.clublink {
  color: #0b46ae !important;
  font-weight: 500;
  transition: 0.9s;
}
.clublink:hover {
  color: #042b6d !important;
  transition: 0.9s;
}
.nameprofile {
  font-weight: 500;
}
/* responsive */
@media (max-width: 360px) {
  .actionuser button {
    font-size: 14px;
  }
  .actionuser svg {
    width: 35px;
    height: 15px;
  }
  .promotion li {
    font-size: 13px;
  }
  .promotion svg {
    width: 17px;
  }
}
.ant-select {
  width: 100%;
}
.choiceimg img {
  width: 100%;
  max-height: 115px;
  min-height: 115px;
}
.blockimgages {
}
.ant-form-item {
  margin: 0 !important;
}
.custom-file {
  margin: 0px 0px 20px 0;
}
.ant-form-item-label label {
  margin: 0px;
}
</style>
