<template>
  <div  v-if="user.role_id==1">
    <page-title
      :heading="heading"
      :icon="icon"
      @create-new="$bvModal.show('create-club-modal')"
    >
    </page-title>
    <b-alert :show="successMessage !== ''" variant="success" dismissible>
      {{ successMessage }}
    </b-alert>
    
    <b-card class="mb-4 main-card">
      <datatable ref="clubsTable" :api-url="apiUrl" :fields="fields" filter="name">
        <template v-slot:cell(banner)="row" title="Banner" >
          <div class="banner"><b-img :src="row.item.banner" alt="Hình ảnh"></b-img></div>
        </template>
        <template v-slot:cell(actions)="row">
          <b-button
            variant="info"
            size="sm"
            class="mb-2 mr-2"
            @click="show(row.item.id)"
          >
            Chi tiết
          </b-button>
          <b-button
            variant="primary"
            size="sm"
            class="mb-2 mr-2"
            @click="edit(row.item.id)"
          >
            Cập nhật
          </b-button>
          <b-button
            variant="danger"
            size="sm"
            class="mb-2 mr-2"
            @click="destroy(row.item.id)"
          >
            Xóa
          </b-button>
        </template>
      </datatable>
    </b-card>
    <b-modal id="show-club-modal" title="Club Details" size="lg">
      <show-club ref="showUser" :id="id"></show-club>
      <template v-slot:modal-footer>
        <div class="w-100">
          <div class="float-right">
            <b-button
              variant="danger"
              class="mr-2"
              @click="$bvModal.hide('show-club-modal')"
            >
              Hủy
            </b-button>
            <b-button
              variant="success"
              @click="$bvModal.hide('show-club-modal')"
            >
              Ok
            </b-button>
          </div>
        </div>
      </template>
    </b-modal>
    <b-modal id="create-club-modal" title="Create Club" size="lg">
      <CreateClub ref="createClub"></CreateClub>
      <template v-slot:modal-footer>
        <div class="w-100">
          <div class="float-right">
            <b-button
              variant="danger"
              class="mr-2"
              @click="$bvModal.hide('create-club-modal')"
              :disabled="isStoring"
            >
              Hủy
            </b-button>
            <b-button variant="success" @click="store" :disabled="isStoring">
              <b-spinner class="spinner" small v-if="isStoring"></b-spinner>
              Ok
            </b-button>
          </div>
        </div>
      </template>
    </b-modal>
    <b-modal id="edit-club-modal" title="Edit Club" size="lg">
      <EditClub ref="editClub" :id="id"></EditClub>
      <template v-slot:modal-footer>
        <div class="w-100">
          <div class="float-right">
            <b-button
              variant="danger"
              class="mr-2"
              @click="$bvModal.hide('edit-club-modal')"
              :disabled="isUpdating"
            >
              Hủy
            </b-button>
            <b-button variant="success" @click="update" :disabled="isUpdating">
              <b-spinner class="spinner" small v-if="isUpdating"></b-spinner>
              Ok
            </b-button>
          </div>
        </div>
      </template>
    </b-modal>
  </div>
   <div v-else>
    <h1>Không có quyền vào trang này</h1>
  </div>
</template>

<script>
import axios from 'axios';
import PageTitle from "@/admin/Layout/Components/PageTitle.vue";
import CreateClub from "@/admin/Clubs/CreateClub";
import EditClub from "@/admin/Clubs/EditClub";
import ShowClub from "@/admin/Clubs/ShowClub";
import { mapGetters} from 'vuex'
// import convertToLocaleDateTimeString from "@/admin/utils/convertToLocaleDateTimeString";


export default {
  components: {
    PageTitle,
    CreateClub,
    EditClub,
    ShowClub,
  },
  computed: {
    ...mapGetters('login', ['user'])
  },
  data: () => ({
    heading: "Câu Lạc Bộ",
    icon: "pe-7s-users icon-gradient bg-happy-itmeo",
    apiUrl: "/api/club/getallclub",
    fields: [
      {
        key: "row_no",
        label: "#",
      },
      {
        key: "name",
        sortable: true,
        label:"Tên CLB"
      },
      {
        key: "name_user",
        sortable: true,
        label:"Chủ CLB"
      },
      {
        key: "slug",
        sortable: true,
        label:"Slug"
      },
      
      {
        key: "infomation",
        sortable: true,
        label:"Thông tin CLB"
      },
      {
        key:"banner",
        label:"Ảnh bìa"
      },
      {
        key:"actions",
        label:"Hành động"
      }
    ],
    successMessage: "",
    isStoring: false,
    id: 0,
    isUpdating: false,
  }),
  methods: {
    store() {
      this.isStoring = true;
      this.$refs.createClub
        .submit()
        .then((data) => {
          this.successMessage = data.message;
          this.isStoring = false;
          this.$bvModal.hide("create-club-modal");
          this.$refs.clubsTable.refresh();
        })
        .catch((data) => {
          this.isStoring = false;
          console.error(data.message);
        });
    },
    show(id) {
      this.id = id;
      this.$bvModal.show("show-club-modal");
    },
    edit(id) {
      this.id = id;
      this.$bvModal.show("edit-club-modal");
    },
    update() {
      this.isUpdating = true;
      this.$refs.editClub
        .submit()
        .then((data) => {
          this.successMessage = data.message;
          this.isUpdating = false;
          this.$bvModal.hide("edit-club-modal");
          this.$refs.clubsTable.refresh();
        })
        .catch((data) => {
          this.isUpdating = false;
          console.error(data.message);
        });
    },
    destroy(id) {
      this.$bvModal
        .msgBoxConfirm("Are you sure you want to delete this?", {
          title: "Please Confirm",
          okVariant: "danger",
          okTitle: "YES",
          cancelTitle: "NO",
        })
        .then((value) => {
          if (value) {
            axios.delete("/api/clubs/" + id)
              .then((response) => {
                this.successMessage = response.data.message;
                this.$refs.clubsTable.refresh();
              })
              .catch((error) => console.error(error.response.data.message));
          }
        })
        .catch((error) => console.error(error.response.data.message));
    },
  },
};
</script>
<style scoped>
  .banner {
    width: 100%;
    max-width: 250px;;
  }
  .banner img {
    width: 100%;
  }
</style>