<template>
  <div>
    <b-alert :show="form.errors.hasMessage()" variant="danger" dismissible>
      {{ form.errors.getMessage() }}
    </b-alert>
    <b-form
      @keydown="form.errors.clear($event.target.name)"
      @change="form.errors.clear($event.target.name)"
    >
      <b-form-group
        id="name-input-group"
        label="Tên Câu Lạc Bộ"
        label-for="name"
      >
        <b-form-input
          id="name"
          type="text"
          v-model="form.name"
          name="name"
          placeholder="Nhập tên hoạt động"
        >
        </b-form-input>
        <b-form-invalid-feedback
          :state="!form.errors.has('name')"
          v-text="form.errors.get('name')"
        ></b-form-invalid-feedback>
      </b-form-group>
      <b-form-group id="slug-input-group" label="Slug" label-for="slug">
        <b-form-input
          id="slug"
          type="text"
          v-model="form.slug"
          name="slug"
          placeholder="Nhập slug"
        >
        </b-form-input>
        <b-form-invalid-feedback
          :state="!form.errors.has('slug')"
          v-text="form.errors.get('slug')"
        ></b-form-invalid-feedback>
      </b-form-group>
      <b-form-group id="user_id-input-group" label="Mã người QL" label-for="user_id">
        <b-form-select v-model="form.user_id">
          <b-form-select-option :value="null" disabled
            >Làm ơn lựa chọn</b-form-select-option
          >
          <b-form-select-option v-for="user in user_not_clbs_ad.data" :key="user.id" :value="user.id">{{user.name}}</b-form-select-option>
        </b-form-select>

        <b-form-invalid-feedback
          :state="!form.errors.has('user_id')"
          v-text="form.errors.get('user_id')"
        ></b-form-invalid-feedback>
      </b-form-group>
      
      <b-form-group
        id="information-input-group"
        label="Thông tin"
        label-for="information"
      >
        <b-form-textarea
          id="information"
          v-model="form.infomation"
          placeholder="Nhập thông tin..."
          rows="3"
          max-rows="6"
        ></b-form-textarea>
        <b-form-invalid-feedback
          :state="!form.errors.has('information')"
          v-text="form.errors.get('information')"
        ></b-form-invalid-feedback>
      </b-form-group>
      <b-form-group v-if="!image" id="banner-input-group" label="Banner" label-for="banner">
        <b-form-file
          id="banner"
          accept="image/*"
          :state="Boolean(form.banner)"
          placeholder="Vui lòng chọn ảnh"
          drop-placeholder="Xóa ảnh..."
            browse-text="Chọn ảnh"
           @change="onFileChange"
        ></b-form-file>
        <b-form-invalid-feedback
          :state="!form.errors.has('banner')"
          v-text="form.errors.get('banner')"
        ></b-form-invalid-feedback>
      </b-form-group>
      <div v-else class="text-center">
        <img :src="image" />
        <b-button
            variant="danger"
            size="md"
            class="mb-2 text-center"
            @click="removeImage()"
          >
            Xóa ảnh
          </b-button>
      </div>
    </b-form>
  </div>
</template>

<script>
import Form from "@/admin/utils/Form";
import { mapActions, mapGetters } from 'vuex';
import axios from 'axios'
export default {
  data() {
    return {
      form: new Form({
        name:"",
        slug:"",
        user_id:"",
        infomation:"",
        banner:""
      }),
      image:''
    };
  },
  created(){
    this.getUsernotCLB_Ad()
  },
  computed:{
    ...mapGetters(['user_not_clbs_ad'])
  },
  methods: {
    ...mapActions(['getUsernotCLB_Ad']),
    submit() {
      axios.patch('/api/users/' + this.form.user_id, 
      { 
           "role_id":2
      })
      return this.form.post("/api/clubs");
    },
      onFileChange(e) {
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length)
        return;
      this.createImage(files[0]);
    },
    createImage(file) {
      //var image = new Image();
      var reader = new FileReader();
      var vm = this;
      reader.onload = (e) => {
        vm.image = e.target.result;
        this.form.banner=e.target.result;
      };
      reader.readAsDataURL(file);
    },
    removeImage() {
      this.image = '';
    }
  },
};
</script>
<style scoped>
img {
  width: 100%;
  max-width: 300px;
  margin: auto;
  display: block;
  margin-bottom: 10px;
}
</style>