<template>
  <div>
    <div class="d-flex h-100 justify-content-center align-items-center" v-if="isLoading">
      <b-spinner class="spinner" variant="primary"></b-spinner>
    </div>
    <div v-if="!isLoading">
      <b-table stacked
               :items="clubs"
               :fields="fields">
        <template #cell(banner)="data" title="Banner" >
          <div class="banner"><b-img :src="data.item.banner" alt="Hình ảnh"></b-img></div>
        </template>
      </b-table>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
  // import convertToLocaleDateTimeString from '@/admin/utils/convertToLocaleDateTimeString'

  export default {
    props: {
      id: {
        type: Number,
        required: true
      }
    },
    data() {
      return {
        clubs: [],
        fields: [
          {
        key: "name",
        sortable: true,
        label:"Tên CLB"
      },
      {
        key: "slug",
        sortable: true,
        label:"Slug"
      },
      {
        key: "user_id",
        sortable: true,
        label:"Mã người QL CLB"
      },
      {
        key: "infomation",
        sortable: true,
        label:"Thông tin"
      },
      "banner"
        ],
        isLoading: false
      }
    },
    methods: {
      getClub() {
        this.isLoading = true

        axios.get('/api/clubs/' + this.id)
            .then(response => {
              this.clubs.push(response.data.data)

              this.isLoading = false
            })
            .catch(error => {
              console.error(error.response.data.message)
              this.isLoading = false
            })
      }
    },
    created() {
      this.getClub()
    }
  }
</script>
<style scoped>
  .banner {
    width: 100%;
    max-width: 250px;;
  }
  .banner img {
    width: 100%;
  }
</style>