<template>
  <div>
    <div class="widget-content-left ml-3 header-user-info">
      <div class="widget-heading" v-if="users" v-text="users"></div>
    </div>
    <div
      class="d-flex h-100 justify-content-center align-items-center"
      v-if="isLoading"
    >
      <b-spinner class="spinner" variant="primary"></b-spinner>
    </div>
    <div v-if="!isLoading">
      <b-alert :show="successMessage !== ''" variant="success" dismissible>
        {{ successMessage }}
      </b-alert>
      <b-alert :show="form.errors.hasMessage()" variant="danger" dismissible>
        {{ form.errors.getMessage() }}
      </b-alert>
      <b-form
        @keydown="form.errors.clear($event.target.name)"
        @change="form.errors.clear($event.target.name)"
      >
        <b-form-group
          id="name-input-group"
          label="Tên Trang"
          label-for="name"
        >
          <b-form-input
            id="name"
            type="text"
            v-model="form.name"
            name="name"
            placeholder="Nhập tên trang"
          >
          </b-form-input>
          <b-form-invalid-feedback
            :state="!form.errors.has('name')"
            v-text="form.errors.get('name')"
          ></b-form-invalid-feedback>
        </b-form-group>
       <b-form-group v-if="!image" id="avatar-input-group" label="Logo" label-for="avatar">
        <b-form-file
          id="avatar"
          accept="image/*"
          :state="Boolean(form.avatar)"
          placeholder="Vui lòng chọn ảnh"
          drop-placeholder="Xóa ảnh..."
            browse-text="Chọn ảnh"
           @change="onFileChange"
        ></b-form-file>
        <b-form-invalid-feedback
          :state="!form.errors.has('avatar')"
          v-text="form.errors.get('avatar')"
        ></b-form-invalid-feedback>
      </b-form-group>
      <div v-else class="text-center">
        <img :src="image" />
        <b-button
            variant="danger"
            size="md"
            class="mb-2 text-center"
            @click="removeImage()"
          >
            Xóa ảnh
          </b-button>
      </div>
        <b-form-group id="link-input-group" label="Link" label-for="link">
          <b-form-input
            id="link"
            type="text"
            v-model="form.link"
            name="link"
            placeholder="Nhập link"
          >
          </b-form-input>
          <b-form-invalid-feedback
            :state="!form.errors.has('link')"
            v-text="form.errors.get('link')"
          ></b-form-invalid-feedback>
        </b-form-group>
      </b-form>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Form from "@/admin/utils/Form";

export default {
  components: {},
  props: {
    id: {
      type: Number,
      required: true,
    },
  },
  data() {
    return {
      form: new Form({
        name: "",
        avatar:"",
        link:""
      }),
      successMessage: "",
      isLoading: false,
      image:''
    };
  },
   created() {
      this.getPageConnect();
    },
  methods: {
    submit() {
      return this.form.patch("/api/pageconnects/" + this.id);
    },
    getPageConnect() {
      this.isLoading = true;
      axios
        .get("/api/pageconnects/" + this.id)
        .then((response) => {
          this.form.name = response.data.data.name;
          this.form.link=response.data.data.link;
          this.image=response.data.data.avatar;
          this.form.avatar=response.data.data.avatar
          this.isLoading = false;
        })
        .catch((error) => {
          console.error(error.response.data.message);
          this.isLoading = false;
        });
    },
     onFileChange(e) {
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length)
        return;
      this.createImage(files[0]);
    },
    createImage(file) {
      //var image = new Image();
      var reader = new FileReader();
      var vm = this;
      reader.onload = (e) => {
        vm.image = e.target.result;
        this.form.avatar=e.target.result;
      };
      reader.readAsDataURL(file);
    },
    removeImage() {
      this.image = '';
    }
   
  },
};
</script>
<style scoped>
img {
  width: 100%;
  max-width: 300px;
  margin: auto;
  display: block;
  margin-bottom: 10px;
}
</style>