<template>
  <div  v-if="user.role_id==1">
    <page-title
      :heading="heading"
      :icon="icon"
      @create-new="$bvModal.show('create-pageconnect-modal')"
    >
    </page-title>
    <b-alert :show="successMessage !== ''" variant="success" dismissible>
      {{ successMessage }}
    </b-alert>
    
    <b-card class="mb-4 main-card">
      <datatable ref="pageconnectsTable" :api-url="apiUrl" :fields="fields">
        <template v-slot:cell(Logo)="row" title="Logo" >
          <div class="logo_page"><b-img :src="row.item.avatar" alt="Hình ảnh"></b-img></div>
        </template>
        <template v-slot:cell(actions)="row">
          <b-button
            variant="info"
            size="sm"
            class="mb-2 mr-2"
            @click="show(row.item.id)"
          >
            Chi tiết
          </b-button>
          <b-button
            variant="primary"
            size="sm"
            class="mb-2 mr-2"
            @click="edit(row.item.id)"
          >
            Cập nhật
          </b-button>
          <b-button
            variant="danger"
            size="sm"
            class="mb-2 mr-2"
            @click="destroy(row.item.id)"
          >
            Xóa
          </b-button>
        </template>
      </datatable>
    </b-card>
    <b-modal id="show-pageconnect-modal" title="Chi tiết trang kết nối" size="lg">
      <ShowPageConnect ref="showPageConnect" :id="id"></ShowPageConnect>
      <template v-slot:modal-footer>
        <div class="w-100">
          <div class="float-right">
            <b-button
              variant="danger"
              class="mr-2"
              @click="$bvModal.hide('show-pageconnect-modal')"
            >
              Hủy
            </b-button>
            <b-button
              variant="success"
              @click="$bvModal.hide('show-pageconnect-modal')"
            >
              Ok
            </b-button>
          </div>
        </div>
      </template>
    </b-modal>
    <b-modal id="create-pageconnect-modal" title="Tạo trang kết nối" size="lg">
      <CreatePageConnect ref="createPageConnect"></CreatePageConnect>
      <template v-slot:modal-footer>
        <div class="w-100">
          <div class="float-right">
            <b-button
              variant="danger"
              class="mr-2"
              @click="$bvModal.hide('create-pageconnect-modal')"
              :disabled="isStoring"
            >
              Cancel
            </b-button>
            <b-button variant="success" @click="store" :disabled="isStoring">
              <b-spinner class="spinner" small v-if="isStoring"></b-spinner>
              Ok
            </b-button>
          </div>
        </div>
      </template>
    </b-modal>
    <b-modal id="edit-pageconnect-modal" title="Chỉnh sửa trang kết nối" size="lg">
      <EditPageConnect ref="editPageConnect" :id="id"></EditPageConnect>
      <template v-slot:modal-footer>
        <div class="w-100">
          <div class="float-right">
            <b-button
              variant="danger"
              class="mr-2"
              @click="$bvModal.hide('edit-pageconnect-modal')"
              :disabled="isUpdating"
            >
              Hủy
            </b-button>
            <b-button variant="success" @click="update" :disabled="isUpdating">
              <b-spinner class="spinner" small v-if="isUpdating"></b-spinner>
              Ok
            </b-button>
          </div>
        </div>
      </template>
    </b-modal>
  </div>
   <div v-else>
    <h1>Không có quyền vào trang này</h1>
  </div>
</template>

<script>
import axios from 'axios';
import PageTitle from "@/admin/Layout/Components/PageTitle.vue";
import CreatePageConnect from '@/admin/PageConnect/CreatePageConnect.vue'
import EditPageConnect from '@/admin/PageConnect/EditPageConnect.vue'
import ShowPageConnect from '@/admin/PageConnect/ShowPageConnect.vue'
import { mapGetters} from 'vuex'
// import convertToLocaleDateTimeString from "@/admin/utils/convertToLocaleDateTimeString";


export default {
  components: {
    PageTitle,
    CreatePageConnect,
    EditPageConnect,
    ShowPageConnect
  },
  computed: {
    ...mapGetters('login', ['user'])
  },
  data: () => ({
    heading: "Trang kết nối",
    icon: "pe-7s-users icon-gradient bg-happy-itmeo",
    apiUrl: "/api/pageconnects",
    fields: [
      {
        key: "row_no",
        label: "#",
      },
      {
        key: "name",
        sortable: true,
        label:"Tên trang"
      },
      "Logo",
      {
        key: "link",
        sortable: true,
        label:"Link trang"
      },
      {
        key:"actions",
        label:"Hành động"
      }
     
    ],
    successMessage: "",
    isStoring: false,
    id: 0,
    isUpdating: false,
  }),
  methods: {
    store() {
      this.isStoring = true;
      this.$refs.createPageConnect
        .submit()
        .then((data) => {
          this.successMessage = data.message;
          this.isStoring = false;
          this.$bvModal.hide("create-pageconnect-modal");
          this.$refs.pageconnectsTable.refresh();
        })
        .catch((data) => {
          this.isStoring = false;
          console.error(data.message);
        });
    },
    show(id) {
      this.id = id;
      this.$bvModal.show("show-pageconnect-modal");
    },
    edit(id) {
      this.id = id;
      this.$bvModal.show("edit-pageconnect-modal");
    },
    update() {
      this.isUpdating = true;

      this.$refs.editPageConnect
        .submit()
        .then((data) => {
          this.successMessage = data.message;
          this.isUpdating = false;
          this.$bvModal.hide("edit-pageconnect-modal");
          this.$refs.pageconnectsTable.refresh();
        })
        .catch((data) => {
          this.isUpdating = false;
          console.error(data.message);
        });
    },
    destroy(id) {
      this.$bvModal
        .msgBoxConfirm("Bạn có muốn xóa dòng này ?", {
          title: "Làm ơn lựa chọn",
          okVariant: "danger",
          okTitle: "Có",
          cancelTitle: "Không",
        })
        .then((value) => {
          if (value) {
            axios
              .delete("/api/pageconnects/" + id)
              .then((response) => {
                this.successMessage = response.data.message;
                this.$refs.pageconnectsTable.refresh();
              })
              .catch((error) => console.error(error.response.data.message));
          }
        })
        .catch((error) => console.error(error.response.data.message));
    },
  },
};
</script>
<style scoped>
  .logo_page {
    width: 100%;
    max-width: 100px;;
  }
  .logo_page img {
    width: 100%;
  }
</style>
