<template>
  <div>
    <div class="d-flex h-100 justify-content-center align-items-center" v-if="isLoading">
      <b-spinner class="spinner" variant="primary"></b-spinner>
    </div>
    <div v-if="!isLoading">
      <b-table stacked
               :items="pageconnect"
               :fields="fields">
          <template #cell(logo)="data" title="Logo" >
              <div class="logo_page"><b-img :src="data.item.avatar" alt="Hình ảnh"></b-img></div>
          </template>
      </b-table>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
  // import convertToLocaleDateTimeString from '@/admin/utils/convertToLocaleDateTimeString'

  export default {
    props: {
      id: {
        type: Number,
        required: true
      }
    },
    data() {
      return {
        pageconnect: [],
        fields: [
          {
        key: "name",
        sortable: true,
        label:"Tên CLB"
      },
      {
        key:"logo",
        label:"Logo"
      }
      ,
      {
        key: "link",
        label:"Link trang"
      },
        ],
        isLoading: false
      }
    },
    methods: {
      getPageConnect() {
        this.isLoading = true

        axios.get('/api/pageconnects/' + this.id)
            .then(response => {
              this.pageconnect.push(response.data.data)

              this.isLoading = false
            })
            .catch(error => {
              console.error(error.response.data.message)
              this.isLoading = false
            })
      }
    },
    created() {
      this.getPageConnect()
    }
  }
</script>
<style scoped>
  .logo_page {
    width: 100%;
    max-width: 100px;;
  }
  .logo_page img {
    width: 100%;
  }
</style>