<template>
  <div>
     <div class="app-page-title">
    <div class="page-title-wrapper">
      <div class="page-title-heading">
        <div class="page-title-icon">
          <i class="pe-7s-users icon-gradient bg-happy-itmeo"/>
        </div>
        <div>
         Bình luận của bài
          
        </div>
      </div>
    </div>
  </div>

    <b-alert :show="successMessage !== ''" variant="success" dismissible>
      {{ successMessage }}
    </b-alert>
    <b-card class="mb-4 main-card">
      <datatable ref="commentTable" :api-url="apiUrl+$route.params.id" :fields="fields" filter="name">
        <template v-slot:cell(actions)="row">
          <b-button
            variant="danger"
            size="sm"
            class="mb-2 mr-2"
            @click="destroy(row.item.id)"
          >
            Xóa
          </b-button>
        </template>
      </datatable>
    </b-card>
  </div>
</template>

<script>
import axios from 'axios'
import convertToLocaleDateTimeString from "@/admin/utils/convertToLocaleDateTimeString";
//import { mapActions, mapGetters} from 'vuex'
export default {
    components: {

  },
  computed: {
    
  },
  data: () => ({
    apiUrl: "api/comment/getcmtbypost/",
    fields: [
      {
        key: "row_no",
        label: "#",
      },
      {
        key: "user",
        sortable: true,
        label:"Người bình luận",
        formatter: (value)=>value.name
      },
      {
        key:"content",
        label:"Nội dung"
      },
      {
        key: "created_at",
        formatter: (value) => convertToLocaleDateTimeString(value),
        sortable: true,
        label:"Thời gian bình luận"
      },
      {
        key:"actions",
        label:"Hành động"
      }
      
    ],
    successMessage: ""
  }),
  created(){
      
  },
  methods:{
    destroy(id) {
      this.$bvModal
        .msgBoxConfirm("Bạn có muốn xóa bình luận này ?", {
          title: "Làm ơn lựa chọn",
          okVariant: "danger",
          okTitle: "Có",
          cancelTitle: "Không",
        })
        .then((value) => {
          if (value) {
            axios
              .delete("api/comments/"+id)
              .then((response) => {
                this.successMessage = response.data.message;
                this.$refs.commentTable.refresh();
              })
              .catch((error) => console.error(error.response.data.message));
          }
        })
        .catch((error) => console.error(error.response.data.message));
    },
  }
}
</script>

<style>

</style>