<template>
  <div>
    <div class="app-page-title">
    <div class="page-title-wrapper">
      <div class="page-title-heading">
        <div class="page-title-icon">
          <i class="pe-7s-users icon-gradient bg-happy-itmeo"/>
        </div>
        <div>
         Bài đăng của Câu Lạc Bộ {{nameClubs_ad}}
        </div>
      </div>
    </div>
  </div>
    <b-alert :show="successMessage !== ''" variant="success" dismissible>
      {{ successMessage }}
    </b-alert>
    <b-card class="mb-4 main-card">
      <datatable
        ref="postTable"
        :api-url="apiUrl+idClubs_ad"
        :fields="fields"
        filter="content"
      >
        <template v-slot:cell(content_clone) >
          <p>Vui lòng ấn xem chi tiết để xem nội dung...</p>
        </template>
        <template v-slot:cell(actions)="row">
          <b-button
            variant="info"
            size="sm"
            class="mb-2 mr-2"
            @click="show(row.item.id)"
            style="white-space: nowrap;"
          >
            Chi tiết
          </b-button>
          <b-button
            variant="danger"
            size="sm"
            class="mb-2 mr-2"
            @click="destroy(row.item.id)"
          >
            Xóa
          </b-button>
        </template>
        <template v-slot:cell(qlcomment)="row">
          <b-button
            variant="info"
            size="sm"
            class="mb-2 mr-2"
            @click="qlcomment(row.item.id)"
            style="white-space: nowrap;"
          >
            Bình luận(<b>{{row.item.comment}}</b>)
          </b-button>
        </template>
      </datatable>
    </b-card>
    <b-modal id="show-post-modal" title="Chi tiết bài đăng" size="lg">
      <ShowPost ref="showUser" :id="id"></ShowPost>
      <template v-slot:modal-footer>
        <div class="w-100">
          <div class="float-right">
            <b-button
              variant="danger"
              class="mr-2"
              @click="$bvModal.hide('show-post-modal')"
            >
              Hủy
            </b-button>
          
          </div>
        </div>
      </template>
    </b-modal>
  </div>
</template>

<script>
import axios from 'axios'

import convertToLocaleDateTimeString from "@/admin/utils/convertToLocaleDateTimeString";
import { mapActions, mapGetters, mapMutations } from "vuex";
import ShowPost from "@/admin/Post/ShowPost.vue"
export default {
  components: {
    ShowPost
  },
  computed: {
    ...mapGetters("login", ["user"]),
    ...mapGetters(["idClubs_ad", "nameClubs_ad"]),
  },
  data: () => ({
    apiUrl: "api/poststatus/1/",
    fields: [
      {
        key: "row_no",
        label: "#",
      },
      {
        key: "title",
        sortable: true,
        label: "Tiêu đề",
      },
      {
        key: "content_clone",
        label: "Nội dung",
      },
      {
        key: "user",
        sortable: true,
        label: "Người đăng",
        formatter:(value)=>value.name
      },
      {
        key: "qlcomment",
        label: "Bình luận",
        formatter: (value)=> value==null?0:value
      },
      {
        key: "like",
        sortable: true,
        label: "Thích",
        formatter: (value)=> value==null?0:value
      },
      {
        key: "created_at",
        formatter: (value) => convertToLocaleDateTimeString(value),
        sortable: true,
        label: "Ngày tạo",
      },
      {
        key:"actions",
        label:"Hành động"
      }
    ],
    successMessage: "",
    id:0
  }),
  created() {
    this.getListActivaty_Ad(this.user.id)
  },
  methods: {
    ...mapActions(["getListActivaty_Ad"]),
    ...mapMutations(["SET_NAMEACT_AD"]),
    destroy(id_post) {
      this.$bvModal
        .msgBoxConfirm("Bạn có muốn xóa dòng này ?", {
          title: "Làm ơn lựa chọn",
          okVariant: "danger",
          okTitle: "Có",
          cancelTitle: "Không",
        })
        .then((value) => {
          if (value) {
            axios
              .delete("api/posts/"+id_post)
              .then((response) => {
                this.successMessage = response.data.message;
                this.$refs.postTable.refresh();
              })
              .catch((error) => console.error(error.response.data.message));
          }
        })
        .catch((error) => console.error(error.response.data.message));
    },
    qlcomment(id){
      this.$router.push("/admin/comment/list/" + id);
    },
    show(id) {
      this.id = id;
      this.$bvModal.show("show-post-modal");
    },
  },
};
</script>

<style >

</style>