<template>
  <div>
    <div class="d-flex h-100 justify-content-center align-items-center" v-if="isLoading">
      <b-spinner class="spinner" variant="primary"></b-spinner>
    </div>
    <div v-if="!isLoading">
        <div class="content" id="content_post_admin_editor">
          <div class="title_post">
              <h4>{{post[0].title}}</h4>
          </div>
          <div class="frame_bot"></div>
          <div class="info_post d-flex">
              <p class="icon_el mr-3"><font-awesome-icon icon="clock" /><span>{{ post[0].created_at}}</span></p>
              <p class="icon_el"><font-awesome-icon icon="user-graduate" /><span>{{post[0].user.name}}</span></p>
          </div>
          <div class="content_post" v-html="post[0].content">
          </div>
          <div class="gallery-row">
              <div class="gallery-container">
                <lightbox :items="post[0].images_arr"></lightbox>
              </div>
            </div>
      </div>
    </div>
  </div>
</template>

<script>
import Lightbox from "@/Clients/Views/LightBox/lightbox.vue";
import "@/Clients/Views/LightBox/lightbox.css";
import axios from 'axios';
  export default {
    components: {
   Lightbox
  },
    props: {
      id: {
        type: Number,
        required: true
      }
    },
  
    data() {
      return {
        post: [],
        isLoading: false,
      }
    },
    methods: {
      getPost() {
        this.isLoading = true

        axios.get('/api/posts/' + this.id)
            .then(response => {
              this.post.push(response.data.data)
              this.isLoading = false
            })
            .catch(error => {
              console.error(error.response.data.message)
              this.isLoading = false
            })
      }
    },
    created() {
      this.getPost()
    }
  }
</script>
<style>
#content_post_admin_editor  .title_post {
    margin: 10px 0;
    text-align: center;
}
 #content_post_admin_editor .title_post h4 {
     font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.692);
    font-size: 16pt;
}
#content_post_admin_editor .frame_bot {
    width: 40px;
    margin: 5px 0 10px;
    height: 5px;
    background: rgb(195, 204, 185);
}
#content_post_admin_editor .icon_el {
    display: flex;
    align-items: center;
}
#content_post_admin_editor .icon_el>svg {
    margin-right: 5px;
    font-size: 10pt;
}
#content_post_admin_editor .info_post {
   
    align-items: center;
    justify-content: start;
}
#content_post_admin_editor .info_post p span {
    font-size: 9pt;
}
#content_post_admin_editor .content_post {
    text-align: justify;
    width: 100%;
}
#content_post_admin_editor .content_post p{
  text-align: center;
}
#content_post_admin_editor .content_post p img {
  width: 100%;
  max-width: 400px;
  text-align: center;
  margin: 0 auto;
}
</style>