<template>
  <div>
    <div class="d-flex h-100 justify-content-center align-items-center" v-if="isLoading">
      <b-spinner class="spinner" variant="primary"></b-spinner>
    </div>
    <div>
      <page-title :heading=heading
                  :icon=icon
                  no-create-new>
      </page-title>
      <b-alert :show="successMessage !== ''"
               variant="success"
               dismissible
      >
        {{ successMessage }}
      </b-alert>
      <b-form
      @keydown="form.errors.clear($event.target.name)"
      @change="form.errors.clear($event.target.name)"
    >
      <b-form-group
        id="name-input-group"
        label="Tên Câu Lạc Bộ"
        label-for="name"
      >
        <b-form-input
          id="name"
          type="text"
          v-model="form.name"
          name="name"
          placeholder="Nhập tên hoạt động"
        >
        </b-form-input>
        <b-form-invalid-feedback
          :state="!form.errors.has('name')"
          v-text="form.errors.get('name')"
        ></b-form-invalid-feedback>
      </b-form-group>
      <b-form-group id="slug-input-group" label="Slug" label-for="slug">
        <b-form-input
          id="slug"
          type="text"
          v-model="form.slug"
          name="slug"
          placeholder="Nhập slug"
        >
        </b-form-input>
        <b-form-invalid-feedback
          :state="!form.errors.has('slug')"
          v-text="form.errors.get('slug')"
        ></b-form-invalid-feedback>
      </b-form-group>
      <b-form-group
        id="infomation-input-group"
        label="Thông tin"
        label-for="infomation"
      >
        <b-form-textarea
          id="infomation"
          v-model="form.infomation"
          placeholder="Nhập thông tin..."
          rows="3"
          max-rows="6"
        ></b-form-textarea>
      </b-form-group>
      <b-form-group v-if="!image" id="banner-input-group" label="Banner" label-for="banner">
        <b-form-file
          id="banner"
          accept="image/*"
          :state="Boolean(form.banner)"
          placeholder="Vui lòng chọn ảnh"
          drop-placeholder="Drop file here..."
           @change="onFileChange"
        ></b-form-file>
      </b-form-group>
      <div v-else class="text-center">
        <img :src="image" />
        <b-button
            variant="danger"
            size="md"
            class="mb-2 text-center"
            @click="removeImage()"
          >
            Xóa ảnh
          </b-button>
      </div>
    </b-form>
      <div>
        <b-button id="submit"
                  type="button"
                  variant="primary"
                  size="lg"
                  @click="update"
                  :disabled="isUpdating"
        >
          <b-spinner class="spinner"
                     small
                     v-if="isUpdating"
          ></b-spinner>
          Cập nhật
        </b-button>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios'
  import Form from '@/admin/utils/Form'
  import PageTitle from '@/admin/Layout/Components/PageTitle.vue'
  import {mapGetters, mapMutations,mapActions} from 'vuex'

  export default {
    components: {
      PageTitle
    },
    data() {
      return {
        heading: 'Thông tin câu lạc bộ',
        icon: 'pe-7s-user icon-gradient bg-happy-itmeo',
        form: new Form({
          name:"",
          slug:"",
          user_id:"",
          infomation:"",
          banner:""
        }),
        isLoading: false,
        isUpdating: false,
        successMessage: '',
        image: '',
      }
    },
    computed: {
      ...mapGetters("login", ["user"]),
      ...mapGetters(["idClubs_ad"]),

    },
    methods: {
      ...mapMutations('login', ['SET_USER']),
      ...mapActions(["getListActivaty_Ad"]),
      update() {
        this.isUpdating = true
        this.form.patch('/api/clubs/' + this.idClubs_ad)
            .then(data => {
              this.successMessage = data.message
              this.getClub()
              this.isUpdating = false
            })
            .catch(data => {
              this.isUpdating = false
              console.error(data.message)
            })
      },
      getClub() {
        this.form.user_id=this.user.id
        this.isLoading = true
        setTimeout(() => {
          axios.get('/api/clubs/' + this.idClubs_ad)
            .then(response => {
              this.form.name = response.data.data.name
              this.form.slug = response.data.data.slug
              this.form.infomation=response.data.data.infomation
              this.form.banner=response.data.data.banner
              this.image=response.data.data.banner
              this.isLoading = false
            })
            .catch(error => {
              console.error(error.response.data.message)
              this.isLoading = false
            })
        }, 1000);
      },
      onFileChange(e) {
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length)
        return;
      this.createImage(files[0]);
      },
      createImage(file) {
        //var image = new Image();
        var reader = new FileReader();
        var vm = this;
        reader.onload = (e) => {
          vm.image = e.target.result;
          this.form.banner=e.target.result;
        };
        reader.readAsDataURL(file);
      },
      removeImage() {
        this.image = '';
      }
    },
    created() {
      this.getListActivaty_Ad(this.user.id),
      this.getClub()
    }
  }
</script>
<style scoped>
img {
  width: 100%;
  max-width: 150px;
  margin: auto;
  margin-right: 20px;
  margin-bottom: 10px;
}
</style>