<template>
  <b-modal id="modalChangePasswordClient" hide-footer>
    <div class="modal_login_body">
      <h4>Đổi mật khẩu</h4>
      <div>
        <a-alert type="error" v-if="show" class="mb-2" :message="notifi" banner />
        <template>
          <a-input-password placeholder="Nhập mật khẩu mới" v-model="password" />
        </template>
        <template>
          <a-input-password
            class="mt-3"
            placeholder="Xác nhập lại mật khẩu"
            v-model="confirm_pass"
          />
        </template>
        <div class="btn_login mt-3">
          <b-button variant="primary" @click="updatePassword">
            CẬP NHẬT MẬT KHẨU
          </b-button>
        </div>
      </div>
    </div>
  </b-modal>
</template>

<script>
const key = "updatable";
import axios from "axios";
export default {
  data() {
    return {
      idUser: "",
      password: "",
      confirm_pass: "",
      show: false,
      notifi: "",
    };
  },
  created() {
    this.checkIDLogin();
  },
  methods: {
    checkIDLogin() {
      var d = JSON.parse(sessionStorage.getItem("tokenlogin"));
      this.idUser = d["data"]["id"];
    },
    updatePassword() {
      console.log("Hello");
      if (this.password == "" || this.confirm_pass == "") {
        this.show = true;
        this.notifi = "Không để trống dữ liệu !!";
      } else if (this.password == this.confirm_pass) {
        if (this.password.length < 8) {
          this.show = true;
          this.notifi = "Mật khẩu phải đủ 8 ký tự !!";
        } else {
          this.show = false;
          this.$message.loading({ content: "Đang tải...", key });
          axios.patch("/api/users/" + this.idUser, {
            password: this.password,
          });
          this.confirm_pass = "";
          this.password = "";
          this.$bvModal.hide("modalChangePasswordClient");
          setTimeout(() => {
            this.$message.success({
              content: "Cập nhật mật khẩu thành công",
              key,
              duration: 2,
            });
          }, 1000);
        }
      } else {
        this.show = true;
        this.notifi = "Mật khẩu xác nhận không khớp !!";
      }
    },
  },
};
</script>

<style scoped>
.modal_login_body {
  text-align: center;
  position: relative;
}
.modal_login_body h4 {
  color: black;
  font-weight: 600;
  margin-bottom: 30px;
}
#modalChangePasswordClient .modal-dialog {
  top: 50% !important;
  transform: translateY(-50%) !important;
}
</style>
