<template>
  <div>
    <b-modal id="modalLoginClient" hide-footer>
      <div class="modal_login_body">
        <div class="back" v-if="!linkHome" @click="changeboth">
          <font-awesome-icon icon="backspace" />
        </div>
        <h3 v-if="linkLogin">Đăng nhập</h3>
        <h3 v-if="linkregister">Đăng kí</h3>
        <div v-if="linkHome">
          <div class="login_client">
            <b-button variant="outline-primary" @click="changeLinkLogin">
              <font-awesome-icon icon="user" />
              <p>Đăng nhập bằng Tài Khoản</p> </b-button
            ><br />
            <b-button variant="outline-primary" @click="changeLinkRegister">
              <font-awesome-icon icon="envelope" />
              <p>Đăng kí Tài Khoản</p>
            </b-button>
          </div>
          <div class="linkchange">
            <p>Bạn chưa có tài khoản? <span>Đăng ký ngay</span></p>
          </div>
        </div>
        <div v-else-if="!linkregister">
          <div class="login_client">
            <a-alert type="error" v-if="show" class="mb-2" :message="notifi" banner />
            <div>
              <b-form-input v-model="emaillogin" placeholder="Nhập Email"></b-form-input>
            </div>
            <div class="password">
              <b-form-input
                :type="typepasslogin"
                v-model="passlogin"
                placeholder="Nhập mật khẩu"
              ></b-form-input>
              <div v-if="ischeckloginpass">
                <font-awesome-icon icon="eye" @click="checkpasslogin" />
              </div>
              <div v-else>
                <font-awesome-icon icon="eye-slash" @click="checkpasslogin" />
              </div>
            </div>
          </div>
          <div class="linkchange">
            <p><span>Quên mật khẩu</span></p>
          </div>
          <div class="btn_login">
            <a-button key="submit" type="primary" :loading="loading" @click="loginCL">
              ĐĂNG NHẬP
            </a-button>
          </div>
        </div>
        <div v-else-if="linkregister">
          <div class="login_client">
            <div>
              <b-form-input
                v-model="emailRegister"
                placeholder="Nhập Email"
              ></b-form-input>
            </div>
            <div>
              <b-form-input v-model="yourname" placeholder="Nhập tên"></b-form-input>
            </div>
            <div class="password">
              <b-form-input
                @keyup="checkpassinput"
                :type="typepass"
                v-model="passwordRegister"
                placeholder="Nhập mật khẩu"
              ></b-form-input>
              <div v-if="ischeck">
                <font-awesome-icon icon="eye" @click="checkpass" />
              </div>
              <div v-else>
                <font-awesome-icon icon="eye-slash" @click="checkpass" />
              </div>
              <div v-if="showmessageserror" class="messg">mật khẩu gồm 8 kí tự</div>
            </div>
            <div class="password">
              <b-form-input
                @keyup="inputpass"
                :type="typepassagain"
                v-model="passwordRegisterAgain"
                placeholder="Nhập lại mật khẩu"
              ></b-form-input>
              <div v-if="ischeckagain">
                <font-awesome-icon icon="eye" @click="checkpassagain" />
              </div>
              <div v-else>
                <font-awesome-icon icon="eye-slash" @click="checkpassagain" />
              </div>
              <div v-if="showmessages" class="messg">mật khẩu không khớp!</div>
            </div>
          </div>
          <div class="linkchange">
            <p><span>Quên mật khẩu</span></p>
          </div>
          <div class="btn_login">
            <b-button variant="primary" @click="submit"> ĐĂNG KÝ </b-button>
          </div>
        </div>
      </div>
    </b-modal>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  name: "Login",
  data() {
    return {
      linkHome: true,
      linkLogin: false,
      linkregister: false,
      user: "",
      pass: "",
      passagain: "",
      ischeckagain: false,
      ischeck: false,
      typepass: "password",
      typepassagain: "password",
      typepasslogin: "password",
      ischeckloginpass: false,
      showmessages: false,
      emaillogin: "",
      passlogin: "",
      emailRegister: "",
      passwordRegister: "",
      passwordRegisterAgain: "",
      showmessageserror: false,
      yourname: "",
      show: false,
      notifi: "",
      loading: false,
    };
  },
  methods: {
    ...mapActions(["postUserRegister", "login_client", "changestatusin"]),
    changeLinkLogin() {
      this.linkLogin = !this.linkLogin;
      this.linkHome = !this.linkHome;
    },
    changeboth() {
      this.linkHome = true;
      this.linkregister = false;
      this.linkLogin = false;
    },
    changeLinkRegister() {
      this.linkregister = !this.linkregister;
      this.linkHome = !this.linkHome;
    },
    checkpass() {
      this.ischeck = !this.ischeck;
      this.ischeck == false ? (this.typepass = "password") : (this.typepass = "text");
    },
    checkpassagain() {
      this.ischeckagain = !this.ischeckagain;
      this.ischeckagain == false
        ? (this.typepassagain = "password")
        : (this.typepassagain = "text");
    },
    checkpasslogin() {
      this.ischeckloginpass = !this.ischeckloginpass;
      this.ischeckloginpass == false
        ? (this.typepasslogin = "password")
        : (this.typepasslogin = "text");
    },
    inputpass() {
      this.passwordRegister == this.passwordRegisterAgain
        ? (this.showmessages = false)
        : (this.showmessages = true);
    },
    checkpassinput() {
      if (this.passwordRegister.length < 8) {
        this.showmessageserror = true;
      } else {
        this.showmessageserror = false;
      }
    },
    submit() {
      if (
        this.passwordRegisterAgain == this.passwordRegister &&
        this.passwordRegister >= 8
      ) {
        this.postUserRegister({
          email: this.emailRegister,
          pass: this.passwordRegister,
          name: this.yourname,
        });
        setTimeout(() => {
          if (this.statusRegister == 1) {
            this.$notification.open({
              message: "Thông Báo",
              description: "Đăng kí thành công",
              icon: <a-icon type="smile" style="color: #108ee9" />,
            });
            this.passwordRegisterAgain = "";
            this.passwordRegister = "";
            this.emailRegister = "";
          } else {
            this.$notification.open({
              message: "Thất bại",
              description: "Tài khoản đã được sử dụng",
              icon: <a-icon type="smile" style="color: #108ee9" />,
            });
          }
        }, 2000);
      }
    },
    loginCL() {
      this.show = false;
      this.loading = true;
      if (this.passlogin.length > 0 && this.emaillogin.length > 0) {
        this.login_client({
          emaillogin: this.emaillogin,
          passlogin: this.passlogin,
        });
        setTimeout(() => {
          if (this.checkloginCL == true) {
            setTimeout(() => {
              this.changestatusin();
              window.location.reload();
            }, 1000);
          } else {
            this.notifi = "Tài khoản hoặc mật khẩu không đúng";
            this.show = true;
          }
          this.loading = false;
        }, 1000);
      } else {
        setTimeout(() => {
          this.show = true;
          this.notifi = "Vui lòng không để trống các trường";
        }, 1000);
        this.loading = false;
      }
    },
  },
  computed: {
    ...mapGetters(["statusRegister", "checkloginCL"]),
  },
  created() {},
};
</script>

<style scoped>
#modalLoginClient > div {
}
.modal_login_body {
  text-align: center;
  position: relative;
}
.modal_login_body h3 {
  color: black;
  font-weight: 600;
  margin-bottom: 30px;
}
.login_client button,
.login_client input[type="text"],
input[type="password"] {
  width: 80%;
  margin: 5px auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login_client button p {
  margin: 0;
  font-size: 11pt;
  margin-left: 10px;
}
.login_client button svg {
  font-size: 13pt;
  color: #69aa8a;
  transition: 0.8s;
}
.login_client button:hover svg {
  color: #ffffff;
  transition: 0.8s;
}
.linkchange {
  margin: 20px 0 5px;
}
.linkchange span {
  color: cornflowerblue;
  text-decoration: underline;
  cursor: pointer;
}
.back {
  position: absolute;
  left: 10px;
  font-size: 18pt;
  color: #69aa8a;
  cursor: pointer;
}
.inputlogin-enter {
  opacity: 0;
}
.inputlogin-enter-active {
  transition: opacity 1s;
  animation: fade-in 1s ease-out forwards;
}
.inputlogin-leave {
}
.inputlogin-leave-active {
  /* opacity: 0;
  transition: opacity 1s;
  animation: fade-out 1s ease-out forwards; */
}
@keyframes fade-in {
  from {
    transform: translateX(50px);
  }
  to {
    transform: translateX(0);
  }
}
/* @keyframes fade-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(30px);
  }
} */
.password {
  position: relative;
}
.password svg {
  position: absolute;
  top: 30%;
  right: 13%;
  cursor: pointer;
}
.messg {
  color: red;
  text-align: left;
  width: 78%;
  margin: auto;
}
</style>
