<template>
  <div
    class="pb-3 position-fixed side-content col-lg-3 d-none d-lg-block"
    id="sidecontent_left"
  >
    <div class="p-3 mb-3 bg-white rounded frame_listgroup">
      <div class="title">
        <span>CÂU LẠC BỘ</span>
      </div>
      <hr />
      <ul class="pl-0 m-0">
        <li v-for="(clubs, index) in this.listclubs.data" :key="index">
          <router-link
            @click.native="getclubid(clubs.id)"
            :to="/detailclub/ + getslug(clubs.slug)"
          >
            <a class="py-2 d-flex align-items-center">
              <div class="flex-shrink-0 mr-2 icon-group">
                <img
                  v-if="clubs.banner == null || clubs.banner == ''"
                  src="../../assets/images/truong.png"
                  alt="truong"
                />
                <img v-else :src="clubs.banner" alt="truong" />
              </div>
              <p class="mb-0 name_group">{{ clubs.name }}</p>
            </a>
          </router-link>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  name: "SideContentLeft",
  computed: {
    ...mapGetters(["listclubs"]),
  },
  methods: {
    ...mapActions(["getListClubs", "getcluboption", "getpostidclub", "getpostidclubid"]),
    async getclubid(id) {
      sessionStorage.setItem("idclub", id), await this.getcluboption(id);
    },
    getslug(slugs) {
      var slug = "";
      // Change to lower case
      var titleLower = slugs.toLowerCase();
      // Letter "e"
      slug = titleLower.replace(/e|é|è|ẽ|ẻ|ẹ|ê|ế|ề|ễ|ể|ệ/gi, "e");
      // Letter "a"
      slug = slug.replace(/a|á|à|ã|ả|ạ|ă|ắ|ằ|ẵ|ẳ|ặ|â|ấ|ầ|ẫ|ẩ|ậ/gi, "a");
      // Letter "o"
      slug = slug.replace(/o|ó|ò|õ|ỏ|ọ|ô|ố|ồ|ỗ|ổ|ộ|ơ|ớ|ờ|ỡ|ở|ợ/gi, "o");
      // Letter "u"
      slug = slug.replace(/u|ú|ù|ũ|ủ|ụ|ư|ứ|ừ|ữ|ử|ự/gi, "u");
      // Letter "d"
      slug = slug.replace(/đ/gi, "d");
      // Trim the last whitespace
      slug = slug.replace(/\s*$/g, "");
      // Change whitespace to "-"
      slug = slug.replace(/\s+/g, "-");
      return slug;
    },
  },
  created() {
    console.log(this.listclubs.data);
    this.getListClubs();
  },
};
</script>

<style scoped>
.name_group {
  transition: 0.9s;
}
.name_group:hover {
  color: blue;
  transition: 0.9s;
}
</style>
