<template>
  <div class="position-fixed side-content col-lg-3 d-none d-lg-block right-position">
    <div class="p-3 mb-3 bg-white rounded frame_listgroup">
      <div class="title">
        <span>CÁC ĐƠN VỊ</span>
      </div>
      <hr />
      <div class="listgroup_flow">
        <ul class="pl-0 m-0">
          <li v-for="(listlink, index) in this.linkpage.data" :key="index">
            <div
              class="py-2 overflow-hidden bg-white d-flex group-item align-items-center"
            >
              <a href="#">
                <div class="flex-shrink-0 avatar">
                  <img
                    alt=""
                    :src="listlink.avatar"
                    class="border shadow-sm intrinsic-item img-fluid border-light"
                  />
                </div>
              </a>
              <div class="ml-2 inf_group">
                <a href="#"
                  ><span class="name_group">{{ listlink.name }}</span></a
                >
                <button
                  type="button"
                  class="text-white border border-white fz-12 bg-main btn btn-secondary d-block"
                >
                  <a style="color: white" :href="listlink.link" target="_blank"
                    >Đi đến trang</a
                  >
                </button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="p-3 mb-3 bg-white rounded frame_listgroup">
      <div class="title">
        <span>HOẠT ĐỘNG</span>
      </div>
      <hr />
      <div class="listgroup_flow">
        <ul class="pl-0 m-0">
          <li v-for="(listactivity, index) in this.listactivatys.data" :key="index">
            <div
              class="py-2 overflow-hidden bg-white d-flex group-item align-items-center"
            >
              <router-link :to="/detailactivaty/ + listactivity.id">
                <div class="flex-shrink-0 avatar">
                  <img
                    v-if="listactivity.image == null || listactivity.image == ''"
                    alt=""
                    src="../../assets/images/logo.png"
                    class="border shadow-sm intrinsic-item img-fluid border-light"
                  />
                  <img
                    v-else
                    alt=""
                    :src="listactivity.image"
                    class="border shadow-sm intrinsic-item img-fluid border-light"
                  />
                </div>
              </router-link>
              <div class="ml-2 inf_group">
                <router-link
                  @click.native="getDetailAct(listactivity.id)"
                  :to="/detailactivaty/ + getslug(listactivity.slug)"
                  ><span class="name_group">{{ listactivity.name }}</span></router-link
                >
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  name: "SideContentRight",
  computed: {
    ...mapGetters(["listactivatys", "linkpage"]),
  },
  methods: {
    ...mapActions(["getListactivaty", "getLinkPage", "getDetailAvt"]),
    getDetailAct(id) {
      sessionStorage.setItem("idactivity", id);
      this.getDetailAvt(id);
    },
    getslug(slugs) {
      var slug = "";
      // Change to lower case
      var titleLower = slugs.toLowerCase();
      // Letter "e"
      slug = titleLower.replace(/e|é|è|ẽ|ẻ|ẹ|ê|ế|ề|ễ|ể|ệ/gi, "e");
      // Letter "a"
      slug = slug.replace(/a|á|à|ã|ả|ạ|ă|ắ|ằ|ẵ|ẳ|ặ|â|ấ|ầ|ẫ|ẩ|ậ/gi, "a");
      // Letter "o"
      slug = slug.replace(/o|ó|ò|õ|ỏ|ọ|ô|ố|ồ|ỗ|ổ|ộ|ơ|ớ|ờ|ỡ|ở|ợ/gi, "o");
      // Letter "u"
      slug = slug.replace(/u|ú|ù|ũ|ủ|ụ|ư|ứ|ừ|ữ|ử|ự/gi, "u");
      // Letter "d"
      slug = slug.replace(/đ/gi, "d");
      // Trim the last whitespace
      slug = slug.replace(/\s*$/g, "");
      // Change whitespace to "-"
      slug = slug.replace(/\s+/g, "-");
      return slug;
    },
  },
  created() {
    this.getListactivaty(), this.getLinkPage();
  },
};
</script>

<style></style>
