<template>
    <div>
      <a-spin :spinning="isSpinner" tip="Đang tải..." size="large">
        <Header />
        <SideBar/>
        <transition name="router-anim">
            <slot> 
            </slot>
        </transition>
      </a-spin>
    </div>
</template>

<script>
import Header from "../Components/Header"
import SideBar from "../Components/SideBar"
export default {
    name: "layoutbase",
    components: {
        Header,SideBar
    },
    data(){
    return {
      isSpinner:true,
    }
  },
  created(){
    this.checkSpinner(false)
  },
  methods:{
    checkSpinner(isSpin){
      setTimeout(() => {
        this.isSpinner=isSpin
      }, 1500);
    }
  },
 destroyed(){
   this.checkSpinner(true)
 }
};
</script>

<style>
.main-wrapper {
  min-height: 100vh;
}
.router-anim-enter-active{
    animation: coming .5s;    
    opacity: 0.5;
  }
  .router-anim-leave-active{
    animation: going .5s;
  }
  @keyframes going{
    from{
      transform: translateX(0);
    }
    to{
      transform: translateX(-50px);
      opacity: 0;
    }
    
  }
  @keyframes coming{
    from{
      transform: translateX(-50px);
      opacity: 0;
    }
    to{
      transform: translateX(0px);
      opacity: 1;
    }
  }
  </style>
