<template>
  <div>
      {{getpostfilter.data.time}}    
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
export default {    
    name: 'CalculatorTime',
    props: {
        idpostcalculator: {
        type: Number,
        required: true
        }  
    },
    data(){
        return {
            timeCalculator: 0,
            title: 'giây trước'
        }
    },
    computed: {
      ...mapGetters(['getpostfilter']),     
    },
    methods: {
      ...mapActions(['getpostid']),      
    },
    created() {        
        this.getpostid(this.idpostcalculator)                
    }
}
</script>

<style>

</style>