<template>
  <div class="px-0 new-feed-wrapper col-12 px-lg-2">
    <a-spin :spinning="isSpinner" tip="Đang tải..." size="large">
      <div class="row content-primary">
        <div class="col-12">
          <div class="content">
            <div class="icon-img">
              <img
                v-if="
                  this.getpostfilter.data.user.avatar == null ||
                  this.getpostfilter.data.user.avatar == ''
                "
                src="@/Clients/assets/images/imgprimary.jpg"
                alt=""
              />
              <img v-else :src="this.getpostfilter.data.user.avatar" alt="" />
            </div>
            <div class="contact-box">
              <div class="title">
                <a  class="nameprofile">{{
                  this.getpostfilter.data.user.name
                }}</a>
              </div>
              <div class="time">
                <CalculatorTime :idpostcalculator="getpostfilter.data.id" />
              </div>
            </div>
          </div>
        </div>
        <div class="py-3 col-12">
          <p v-html="this.getpostfilter.data.content"></p>
          <div class="gallery-row">
            <div class="gallery-container">
              <lightbox :items="this.getpostfilter.data.images_arr"></lightbox>
            </div>
          </div>
        </div>
        <div class="col-12 img-poster"></div>
        <div class="col-12">
          <div class="promotion">
            <ul>
              <li v-if="!islogin" class="action-post" @click="likebus">
                <font-awesome-icon icon="heart" />
                <span> {{ this.getpostfilter.data.like }} lượt thích</span>
              </li>
              <li
                v-else-if="this.getpostfilter.data.likeStatus == 1"
                class="action-post tym"
                @click="changepromotiond()"
              >
                <font-awesome-icon icon="heart" />
                <span> {{ this.getpostfilter.data.like }} Lượt thích</span>
              </li>
              <li v-else class="action-post" @click="addpromotiond()">
                <font-awesome-icon icon="heart" />
                <span> {{ this.getpostfilter.data.like }} lượt thích</span>
              </li>
              <li>
                <router-link to="/detailpost" class="action-post">
                  <a >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      class="injected-svg"
                      data-src="/static/icons/ic_message.svg"
                    >
                      <defs>
                        <clipPath id="clip-path-1138">
                          <path
                            id="Path_208-1139"
                            data-name="Path 208"
                            d="M-2-22H22V-46H-2Z"
                            transform="translate(2 46)"
                            fill="none"
                          ></path>
                        </clipPath>
                      </defs>
                      <g
                        id="ic_binh_luan"
                        data-name="ic_binh luan"
                        transform="translate(2 46)"
                      >
                        <g
                          id="Group_167"
                          data-name="Group 167"
                          transform="translate(-2 -46)"
                          clip-path="url(#clip-path-1138)"
                        >
                          <g
                            id="Group_164"
                            data-name="Group 164"
                            transform="translate(2 2)"
                          >
                            <path
                              id="Path_205-1140"
                              data-name="Path 205"
                              d="M18.723,14.893l.913,3.653c.2.8-.293,1.29-1.091,1.091l-3.653-.913a10,10,0,1,1,3.83-3.83Z"
                              fill="none"
                              stroke="#333"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="2"
                            ></path>
                          </g>
                          <g
                            id="Group_165"
                            data-name="Group 165"
                            transform="translate(7.5 10)"
                          >
                            <path
                              id="Path_206-1141"
                              data-name="Path 206"
                              d="M0,1H9"
                              transform="translate(0 -1)"
                              fill="none"
                              stroke="#333"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="2"
                            ></path>
                          </g>
                          <g
                            id="Group_166"
                            data-name="Group 166"
                            transform="translate(7.5 14)"
                          >
                            <path
                              id="Path_207-1142"
                              data-name="Path 207"
                              d="M0,1H6"
                              transform="translate(0 -1)"
                              fill="none"
                              stroke="#333"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="2"
                            ></path>
                          </g>
                        </g>
                      </g>
                    </svg>
                  </a>
                  <span> {{ this.getpostfilter.data.comment }} Bình Luận</span>
                </router-link>
              </li>
              <li>
                <a >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    id="ic_chia_se"
                    data-name="ic_chia se"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    class="injected-svg"
                    data-src="/static/icons/ic_share.svg"
                  >
                    <defs>
                      <clipPath id="clip-path-1143">
                        <path
                          id="Path_198-1144"
                          data-name="Path 198"
                          d="M-6-26H14V-46H-6Z"
                          transform="translate(6 46)"
                          fill="none"
                        ></path>
                      </clipPath>
                    </defs>
                    <g
                      id="Group_154"
                      data-name="Group 154"
                      transform="translate(0 0)"
                      clip-path="url(#clip-path-1143)"
                    >
                      <g
                        id="Group_149"
                        data-name="Group 149"
                        transform="translate(12.5 1.667)"
                      >
                        <path
                          id="Path_193-1145"
                          data-name="Path 193"
                          d="M2.083,4.167A2.083,2.083,0,1,0,0,2.083,2.083,2.083,0,0,0,2.083,4.167Z"
                          fill="none"
                          stroke="#333"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="1.5"
                        ></path>
                      </g>
                      <g
                        id="Group_150"
                        data-name="Group 150"
                        transform="translate(12.5 14.167)"
                      >
                        <path
                          id="Path_194-1146"
                          data-name="Path 194"
                          d="M2.083,4.167A2.083,2.083,0,1,0,0,2.083,2.083,2.083,0,0,0,2.083,4.167Z"
                          fill="none"
                          stroke="#333"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="1.5"
                        ></path>
                      </g>
                      <g
                        id="Group_151"
                        data-name="Group 151"
                        transform="translate(3.333 7.917)"
                      >
                        <path
                          id="Path_195-1147"
                          data-name="Path 195"
                          d="M2.083,4.167A2.083,2.083,0,1,0,0,2.083,2.083,2.083,0,0,0,2.083,4.167Z"
                          fill="none"
                          stroke="#333"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="1.5"
                        ></path>
                      </g>
                      <g
                        id="Group_152"
                        data-name="Group 152"
                        transform="translate(7.5 11.25)"
                      >
                        <path
                          id="Path_196-1148"
                          data-name="Path 196"
                          d="M5-5.25,0-9"
                          transform="translate(0 9)"
                          fill="none"
                          stroke="#333"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="1.5"
                        ></path>
                      </g>
                      <g
                        id="Group_153"
                        data-name="Group 153"
                        transform="translate(7.5 5)"
                      >
                        <path
                          id="Path_197-1149"
                          data-name="Path 197"
                          d="M5,0,0,3.75"
                          fill="none"
                          stroke="#333"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="1.5"
                        ></path>
                      </g>
                    </g>
                  </svg>
                </a>
                <span>0 Chia sẻ</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-12 commentline">
          <div v-if="checklg" class="write-comment">
            <div class="block-avatar">
              <img
                v-if="avatar == null || avatar == ''"
                src="@/Clients/assets/images/imgprimary.jpg"
                alt=""
              />
              <img v-else :src="avatar" alt="" />
            </div>
            <div class="content-comment">
              <input
                type="text"
                @keyup.enter="submitcomment"
                v-model="contenttext"
                placeholder="Viết bình luận"
              />
            </div>
            <div @click="submitcomment" class="submit-comment">
              <a>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  width="25.386"
                  height="24.197"
                  viewBox="0 0 25.386 24.197"
                  class="injected-svg"
                  data-src="/static/icons/ic_submit.svg"
                >
                  <defs>
                    <clipPath id="clip-path-1150">
                      <path
                        id="Path_201-1151"
                        data-name="Path 201"
                        d="M0,24.2H25.386V0H0Z"
                        transform="translate(0 0)"
                        fill="none"
                      ></path>
                    </clipPath>
                  </defs>
                  <g
                    id="Group_158"
                    data-name="Group 158"
                    clip-path="url(#clip-path-1150)"
                  >
                    <g
                      id="Group_156"
                      data-name="Group 156"
                      transform="translate(2.115 3.529)"
                    >
                      <path
                        id="Path_199-1152"
                        data-name="Path 199"
                        d="M0,0,21.155,8.57,0,17.14,3.173,8.57Z"
                        fill="none"
                        stroke="#fff"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                      ></path>
                    </g>
                    <g
                      id="Group_157"
                      data-name="Group 157"
                      transform="translate(5.818 12.099)"
                    >
                      <path
                        id="Path_200-1153"
                        data-name="Path 200"
                        d="M0,0H14.808"
                        fill="none"
                        stroke="#fff"
                        stroke-linecap="square"
                        stroke-linejoin="round"
                        stroke-width="2"
                      ></path>
                    </g>
                  </g>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <Commentline />
      </div>
    </a-spin>
  </div>
</template>

<script>
import CalculatorTime from "../Post/CalculatorTime";
import Commentline from "../Comment/Commentline";
import { mapActions, mapGetters } from "vuex";
import Lightbox from "../LightBox/lightbox.vue";
import "../LightBox/lightbox.css";
export default {
  name: "DetailPost",
  data() {
    return {
      islogin: false,
      contenttext: "",
      checklg: false,
      dem: 1,
      isSpinner: true,
      avatar: null,
    };
  },
  computed: {
    ...mapGetters(["getpostfilter", "comment"]),
  },
  methods: {
    ...mapActions([
      "getpostid",
      "postcommentpostCL",
      "getcomment",
      "getcluboption",
      "getpostidclub",
      "unlikepost",
      "postlikepost",
      "getpostiduser",
    ]),
    async submitcomment() {
      var d = JSON.parse(sessionStorage.getItem("tokenlogin"));
      if (this.contenttext.length > 0) {
        await this.postcommentpostCL({
          postId: this.getpostfilter.data.id,
          userId: d["data"]["id"],
          content: this.contenttext,
        }).then(
          setTimeout(() => {
            this.getcomment(sessionStorage.getItem("idpost"));
          }, 1200)
        );
        this.contenttext = "";
      }
    },
    async checkcookies() {
      if (sessionStorage.getItem("tokenlogin") != null) {
        var d = JSON.parse(sessionStorage.getItem("tokenlogin"));
        this.avatar = d["data"]["avatar"];
        this.islogin = true;
        await this.getpostiduser({
          user: d["data"]["id"],
          post: sessionStorage.getItem("idpost"),
        })
          .then(this.autoload())
          .catch((err) => console.log(err));
        this.getpostiduser({
          user: d["data"]["id"],
          post: sessionStorage.getItem("idpost"),
        });
        this.getcomment(sessionStorage.getItem("idpost"));
      } else {
        this.getpostid(sessionStorage.getItem("idpost")),
          this.getcomment(sessionStorage.getItem("idpost"));
        setTimeout(() => {
          this.isSpinner = false;
        }, 3000);
      }
    },
    autoload() {
      setTimeout(() => {
        var d = JSON.parse(sessionStorage.getItem("tokenlogin"));
        if (this.getpostfilter.length == 0) {
          this.getpostiduser({
            user: d["data"]["id"],
            post: sessionStorage.getItem("idpost"),
          });
        }
      }, 2000);
      setTimeout(() => {
        this.isSpinner = false;
      }, 3000);
    },
    getclubid(id) {
      this.getcluboption(id), this.getpostidclub(id);
    },
    checklogin() {
      if (sessionStorage.getItem("tokenlogin") != null) {
        this.islogin = true;
        this.checklg = true;
      } else {
        this.checklg = false;
        this.islogin = false;
      }
    },
    // getlikeid(){
    //   var d = JSON.parse(sessionStorage.getItem('tokenlogin'))
    //   if (sessionStorage.getItem('tokenlogin') != null){
    //       this.islogin = true
    //       this.getpostiduser({"user": d['data']['id'],"post": sessionStorage.getItem('idpost')}),
    //       this.getcomment(sessionStorage.getItem('idpost'))
    //   }
    // },
    async changepromotiond() {
      await this.unlikepost(this.getpostfilter.data.idLike).then(this.checkcookies());
    },
    async addpromotiond() {
      var d = JSON.parse(sessionStorage.getItem("tokenlogin"));
      await this.postlikepost({
        post_id: sessionStorage.getItem("idpost"),
        user_id: d["data"]["id"],
      }).then(
        this.getpostiduser({
          user: d["data"]["id"],
          post: sessionStorage.getItem("idpost"),
        })
      );
    },
    likebus() {
      this.$notification.open({
        message: "Chú Ý",
        description: "Vui lòng đăng nhập thực hiện chức năng này",
        icon: <a-icon type="smile" style="color: #108ee9" />,
      });
    },
    fix() {
      this.$notification.open({
        message: "Chú Ý",
        description: "Chức năng tạm thời bảo trì",
        icon: <a-icon type="smile" style="color: #108ee9" />,
      });
    },
  },
  created() {
    this.checklogin();
    this.checkcookies();
  },
  components: {
    Commentline,
    CalculatorTime,
    Lightbox,
  },
};
</script>

<style scoped>
.content-primary {
  background-color: #ffffff;
  border-radius: 5px;
  margin: 20px 0;
  padding: 20px 0;
}
.content {
  display: flex;
  justify-content: unset;
  align-items: center;
}
.content .icon-img img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}
.contact-box {
  margin-left: 20px;
}
.contact-box .title a {
  text-decoration: none;
}
.contact-box .time span {
  color: #6c757d;
}
.contact-box .title svg {
  margin: 0 5px;
}
.img-poster {
}
.img-poster img {
  width: 100%;
  max-height: 600px;
  border-radius: 5px;
}
.promotion ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
  padding: 10px 0;
}
.promotion ul li {
  list-style: none;
}
.promotion ul a {
  text-decoration: none;
}
.write-comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.write-comment .block-avatar img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}
.write-comment input {
  width: 90%;
  border-radius: 20px;
  padding-left: 10px;
  border: none;
  height: 50px;
  background: #eef3f7;
}
.write-comment input:focus {
  outline: none;
}
.write-comment .content-comment {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.write-comment .submit-comment {
  background: #0b46ae;
  border-radius: 100%;
  padding: 5px;
}
.write-comment .submit-comment a {
  transform: rotate(-45deg);
}
.write-comment .submit-comment svg {
  transform: rotate(-45deg);
}
.commentline {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}
/* reply comment */
.reply-comment-head {
}
.reply-comment {
  margin-top: 20px;
}
.reply-comment .content-comment {
  flex-direction: column;
  text-align: left;
  align-items: left;
  background: #eef3f7;
  margin: 0 10px;
  padding: 10px 20px;
  border-radius: 5px;
}
.writereply-comment {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.writereply-comment .block-avatar img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}
.writereply-comment input:focus {
  outline: none;
}
.writereply-comment .content-comment {
  width: 100%;
  display: flex;
}
.writereply-comment .content-comment .content-commentsub p {
  padding: 0;
  margin: 10px 0;
  color: rgb(110, 110, 110);
}
.writereply-comment .content-comment .name a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
}
.writereply-comment .content-comment .name a:hover {
  color: rgb(10, 73, 168);
  transition: 0.9s;
}
.writereply-comment .submit-comment {
  background: #0b46ae;
  border-radius: 100%;
  padding: 5px;
}
.writereply-comment .submit-comment a {
  transform: rotate(-45deg);
}
.writereply-comment .submit-comment svg {
  transform: rotate(-45deg);
}
.writereply-comment .comment-line {
  width: 100%;
}
.replycomment {
  align-items: center;
}
.comment-line .action {
  margin: 10px;
  display: flex;
}
.comment-line .action .timepush {
  color: rgb(68, 68, 68);
}
.comment-line .action .reply a {
  text-decoration: none;
  margin-left: 10px;
  color: rgb(39, 39, 39);
}
.comment-line .action .reply a:hover {
  transition: 0.9s;
  color: rgb(24, 59, 216);
}
.action-post {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.action-post svg {
  margin-right: 2px;
  font-size: 16px;
}
.tym svg {
  color: red;
}
/* fix css text post */
.content-primary a {
  color: #5a5a5a;
}
.clublink {
  color: #0b46ae !important;
  font-weight: 500;
  transition: 0.9s;
}
.clublink:hover {
  color: #042b6d !important;
  transition: 0.9s;
}
.nameprofile {
  font-weight: 500;
}
.tym svg {
  color: red;
}
/* responsive */
@media (max-width: 360px) {
  .actionuser button {
    font-size: 14px;
  }
  .actionuser svg {
    width: 35px;
    height: 15px;
  }
  .promotion li {
    font-size: 13px;
  }
  .promotion svg {
    width: 17px;
  }
}
</style>
