<template>
  <div class="px-0 new-feed-wrapper col-12 px-lg-2">
    <div
      v-for="(listp, index) in this.getpostuser.data"
      :key="index"
      class="row content-primary"
    >
      <router-link
        style="width: 100%"
        @click.native="getpostfilterid(listp.id)"
        to="/detailpost"
      >
        <div class="col-12">
          <div class="content">
            <div class="icon-img">
              <img
                v-if="listp.user.avatar == null || listp.user.avatar == ''"
                src="@/Clients/assets/images/imgprimary.jpg"
                alt=""
              />
              <img v-else :src="listp.user.avatar" alt="" />
            </div>
            <div class="contact-box">
              <div class="title">
                <a href="#" class="nameprofile">{{ listp.user.name }}</a>
              </div>
              <div class="time">
                <span>{{ listp.time }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="py-3 col-12">
          <p v-html="listp.content"></p>
        </div>
      </router-link>
      <div class="col-12">
        <div class="gallery-row">
          <div class="gallery-container">
            <lightbox :items="listp.images_arr"></lightbox>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="promotion">
          <ul>
            <li v-if="!islogin" class="action-post">
              <router-link
                @click.native="getpostfilterid(listp.id)"
                to="/detailpost"
                class="action-post"
              >
                <font-awesome-icon icon="heart" />
                <span> {{ listp.like }} lượt thích</span>
              </router-link>
            </li>
            <li v-else-if="listp.likeStatus == 1" class="action-post tym">
              <router-link
                @click.native="getpostfilterid(listp.id)"
                to="/detailpost"
                class="action-post"
              >
                <font-awesome-icon icon="heart" />
                <span> {{ listp.like }} lượt thích</span>
              </router-link>
            </li>
            <li v-else class="action-post">
              <router-link
                @click.native="getpostfilterid(listp.id)"
                to="/detailpost"
                class="action-post"
              >
                <font-awesome-icon icon="heart" />
                <span> {{ listp.like }} lượt thích</span>
              </router-link>
            </li>
            <li>
              <router-link
                @click.native="getpostfilterid(listp.id)"
                to="/detailpost"
                class="action-post"
              >
                <a href="#">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    class="injected-svg"
                    data-src="/static/icons/ic_message.svg"
                  >
                    <defs>
                      <clipPath id="clip-path-1138">
                        <path
                          id="Path_208-1139"
                          data-name="Path 208"
                          d="M-2-22H22V-46H-2Z"
                          transform="translate(2 46)"
                          fill="none"
                        ></path>
                      </clipPath>
                    </defs>
                    <g
                      id="ic_binh_luan"
                      data-name="ic_binh luan"
                      transform="translate(2 46)"
                    >
                      <g
                        id="Group_167"
                        data-name="Group 167"
                        transform="translate(-2 -46)"
                        clip-path="url(#clip-path-1138)"
                      >
                        <g
                          id="Group_164"
                          data-name="Group 164"
                          transform="translate(2 2)"
                        >
                          <path
                            id="Path_205-1140"
                            data-name="Path 205"
                            d="M18.723,14.893l.913,3.653c.2.8-.293,1.29-1.091,1.091l-3.653-.913a10,10,0,1,1,3.83-3.83Z"
                            fill="none"
                            stroke="#333"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                          ></path>
                        </g>
                        <g
                          id="Group_165"
                          data-name="Group 165"
                          transform="translate(7.5 10)"
                        >
                          <path
                            id="Path_206-1141"
                            data-name="Path 206"
                            d="M0,1H9"
                            transform="translate(0 -1)"
                            fill="none"
                            stroke="#333"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                          ></path>
                        </g>
                        <g
                          id="Group_166"
                          data-name="Group 166"
                          transform="translate(7.5 14)"
                        >
                          <path
                            id="Path_207-1142"
                            data-name="Path 207"
                            d="M0,1H6"
                            transform="translate(0 -1)"
                            fill="none"
                            stroke="#333"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                          ></path>
                        </g>
                      </g>
                    </g>
                  </svg>
                </a>
                <span> {{ listp.comment }} Bình Luận</span>
              </router-link>
            </li>
            <li>
              <a href="#">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  id="ic_chia_se"
                  data-name="ic_chia se"
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  class="injected-svg"
                  data-src="/static/icons/ic_share.svg"
                >
                  <defs>
                    <clipPath id="clip-path-1143">
                      <path
                        id="Path_198-1144"
                        data-name="Path 198"
                        d="M-6-26H14V-46H-6Z"
                        transform="translate(6 46)"
                        fill="none"
                      ></path>
                    </clipPath>
                  </defs>
                  <g
                    id="Group_154"
                    data-name="Group 154"
                    transform="translate(0 0)"
                    clip-path="url(#clip-path-1143)"
                  >
                    <g
                      id="Group_149"
                      data-name="Group 149"
                      transform="translate(12.5 1.667)"
                    >
                      <path
                        id="Path_193-1145"
                        data-name="Path 193"
                        d="M2.083,4.167A2.083,2.083,0,1,0,0,2.083,2.083,2.083,0,0,0,2.083,4.167Z"
                        fill="none"
                        stroke="#333"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="1.5"
                      ></path>
                    </g>
                    <g
                      id="Group_150"
                      data-name="Group 150"
                      transform="translate(12.5 14.167)"
                    >
                      <path
                        id="Path_194-1146"
                        data-name="Path 194"
                        d="M2.083,4.167A2.083,2.083,0,1,0,0,2.083,2.083,2.083,0,0,0,2.083,4.167Z"
                        fill="none"
                        stroke="#333"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="1.5"
                      ></path>
                    </g>
                    <g
                      id="Group_151"
                      data-name="Group 151"
                      transform="translate(3.333 7.917)"
                    >
                      <path
                        id="Path_195-1147"
                        data-name="Path 195"
                        d="M2.083,4.167A2.083,2.083,0,1,0,0,2.083,2.083,2.083,0,0,0,2.083,4.167Z"
                        fill="none"
                        stroke="#333"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="1.5"
                      ></path>
                    </g>
                    <g
                      id="Group_152"
                      data-name="Group 152"
                      transform="translate(7.5 11.25)"
                    >
                      <path
                        id="Path_196-1148"
                        data-name="Path 196"
                        d="M5-5.25,0-9"
                        transform="translate(0 9)"
                        fill="none"
                        stroke="#333"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="1.5"
                      ></path>
                    </g>
                    <g id="Group_153" data-name="Group 153" transform="translate(7.5 5)">
                      <path
                        id="Path_197-1149"
                        data-name="Path 197"
                        d="M5,0,0,3.75"
                        fill="none"
                        stroke="#333"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="1.5"
                      ></path>
                    </g>
                  </g>
                </svg>
              </a>
              <span>0 Chia sẻ</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import Lightbox from "../LightBox/lightbox.vue";
import "../LightBox/lightbox.css";
export default {
  name: "PostInClub",
  data() {
    return {
      islogin: false,
    };
  },
  props: {},
  computed: {
    ...mapGetters(["getpostuser"]),
  },
  methods: {
    ...mapActions(["getpostid", "getcomment"]),
    getpostfilterid(id) {
      this.getpostid(id), this.getcomment(id), sessionStorage.setItem("idpost", id);
    },
    checklogin() {
      if (sessionStorage.getItem("tokenlogin") != null) {
        this.islogin = true;
      } else {
        this.islogin = false;
      }
    },
  },
  components: { Lightbox },
  created() {
    this.checklogin();
  },
};
</script>

<style scoped>
.content-primary {
  background-color: #ffffff;
  border-radius: 5px;
  margin: 20px 0;
  padding: 20px 0;
}
.content {
  display: flex;
  justify-content: unset;
  align-items: center;
}
.content .icon-img img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}
.contact-box {
  margin-left: 20px;
}
.contact-box .title a {
  text-decoration: none;
}
.contact-box .time span {
  color: #6c757d;
}
.contact-box .title svg {
  margin: 0 5px;
}
.img-poster {
}
.img-poster img {
  width: 100%;
  max-height: 600px;
  border-radius: 5px;
}
.promotion ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  margin: 0;
}
.promotion ul li {
  list-style: none;
}
.promotion ul a {
  text-decoration: none;
}
.write-comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.write-comment .block-avatar img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}
.write-comment input {
  width: 90%;
  border-radius: 20px;
  padding-left: 10px;
  border: none;
  height: 50px;
  background: #eef3f7;
}
.write-comment input:focus {
  outline: none;
}
.write-comment .content-comment {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.write-comment .submit-comment {
  background: #0b46ae;
  border-radius: 100%;
  padding: 5px;
}
.write-comment .submit-comment a {
  transform: rotate(-45deg);
}
.write-comment .submit-comment svg {
  transform: rotate(-45deg);
}
.commentline {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}
/* reply comment */
.reply-comment {
  margin-top: 20px;
}
.reply-comment .content-comment {
  flex-direction: column;
  text-align: left;
  align-items: left;
  background: #eef3f7;
  margin: 0 10px;
  padding: 10px 20px;
  border-radius: 5px;
}
.writereply-comment {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.writereply-comment .block-avatar img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}
.writereply-comment input:focus {
  outline: none;
}
.writereply-comment .content-comment {
  width: 100%;
  display: flex;
}
.writereply-comment .content-comment .content-commentsub p {
  padding: 0;
  margin: 10px 0;
  color: rgb(110, 110, 110);
}
.writereply-comment .content-comment .name a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
}
.writereply-comment .content-comment .name a:hover {
  color: rgb(10, 73, 168);
  transition: 0.9s;
}
.writereply-comment .submit-comment {
  background: #0b46ae;
  border-radius: 100%;
  padding: 5px;
}
.writereply-comment .submit-comment a {
  transform: rotate(-45deg);
}
.writereply-comment .submit-comment svg {
  transform: rotate(-45deg);
}
.writereply-comment .comment-line {
  width: 100%;
}
.comment-line .action {
  margin: 10px;
  display: flex;
}
.comment-line .action .timepush {
  color: rgb(68, 68, 68);
}
.comment-line .action .reply a {
  text-decoration: none;
  margin-left: 10px;
  color: rgb(39, 39, 39);
}
.comment-line .action .reply a:hover {
  transition: 0.9s;
  color: rgb(24, 59, 216);
}
.action-post {
  display: flex;
  align-items: center;
}
.content-primary a {
  color: #5a5a5a;
}
.nameprofile {
  font-weight: 500;
}
.tym svg {
  color: red;
}
/* responsive */
@media (max-width: 360px) {
  .actionuser button {
    font-size: 14px;
  }
  .actionuser svg {
    width: 35px;
    height: 15px;
  }
  .promotion li {
    font-size: 13px;
  }
  .promotion svg {
    width: 17px;
  }
}
</style>
