<template>
  <main class="pb-5 main-wrapper">
    <div class="px-0 col-12 px-lg-2">
      <div class="row">
        <div class="col-12">
          <div class="wrapper-content">
            <img src="../../assets/images/bg_cover.png" alt="" />
            <div class="wrapper-info">
              <img
                id="imageuser"
                v-if="form.avatar == ''"
                src="@/Clients/assets/images/imgprimary.jpg"
                alt=""
              />
              <img id="imageuser" v-else :src="avatar" alt="images" />
              <div class="title-info">
                <h5>{{ nameUser }}</h5>
                <button type="button" class="btn btn-info">Nhắn tin</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 d-none d-md-block">
          <div class="nav-profile">
            <div class="block">
              <a href="">Dòng thời gian</a>
            </div>
            <div class="block">
              <a href="">Đang theo dõi</a>
            </div>
            <div class="block">
              <a href="">Câu lạc bộ</a>
            </div>
            <div class="block">
              <a href="">Trường đang theo học</a>
            </div>
            <div class="block">
              <router-link to="/feesuser"> Tình trạng phí </router-link>
            </div>
          </div>
        </div>
      </div>
      <!-- components của cập nhập thông tin -->
      <div class="row">
        <div class="offset-sm-1 col-sm-10 offset-md-2 col-md-8">
          <div
            class="d-flex h-100 justify-content-center align-items-center"
            v-if="isLoading"
          >
            <b-spinner class="spinner" variant="primary"></b-spinner>
          </div>
          <div class="p-5 wrapper-edit-profile profile-edit">
            <div class="wrapper-title">
              <h5>Chỉnh sửa thông tin cá nhân</h5>
            </div>
            <b-alert :show="successMessage !== ''" variant="success" dismissible>
              {{ successMessage }}
            </b-alert>
            <b-form
              @keydown="form.errors.clear($event.target.name)"
              @change="form.errors.clear($event.target.name)"
            >
              <b-form-group id="name-input-group" label="Họ tên" label-for="name">
                <b-form-input
                  id="name"
                  type="text"
                  v-model="form.name"
                  name="name"
                  placeholder="Nhập tên..."
                >
                </b-form-input>
                <b-form-invalid-feedback
                  :state="!form.errors.has('name')"
                  v-text="form.errors.get('name')"
                ></b-form-invalid-feedback>
              </b-form-group>
              <b-form-group id="gender-input-group" label="Giới tính" label-for="gender">
                <b-form-radio-group
                  v-model="form.gender"
                  :options="options"
                  name="gender"
                  plain
                ></b-form-radio-group>
                <b-form-invalid-feedback
                  :state="!form.errors.has('gender')"
                  v-text="form.errors.get('gender')"
                ></b-form-invalid-feedback>
              </b-form-group>
              <b-form-group id="email-input-group" label="Email" label-for="email">
                <b-form-input
                  id="email"
                  type="email"
                  v-model="form.email"
                  name="email"
                  placeholder="nhập email ...."
                >
                </b-form-input>
                <b-form-invalid-feedback
                  :state="!form.errors.has('email')"
                  v-text="form.errors.get('email')"
                ></b-form-invalid-feedback>
              </b-form-group>
              <b-form-group
                id="mobile-number-input-group"
                label="Số điện thoại"
                label-for="mobile-number"
              >
                <b-form-input
                  id="mobile-number"
                  type="text"
                  v-model="form.mobile_number"
                  name="mobile_number"
                  placeholder="nhập số điện thoại ..."
                >
                </b-form-input>
                <b-form-invalid-feedback
                  :state="!form.errors.has('mobile_number')"
                  v-text="form.errors.get('mobile_number')"
                ></b-form-invalid-feedback>
              </b-form-group>
              <b-form-group
                id="birthday-input-group"
                label="Ngày sinh"
                label-for="birthday"
              >
                <b-form-datepicker
                  placeholder="Chọn ngày"
                  id="birthday"
                  :state="true"
                  name="birthday"
                  v-model="form.birthday"
                >
                </b-form-datepicker>
                <b-form-invalid-feedback
                  :state="!form.errors.has('birthday')"
                  v-text="form.errors.get('birthday')"
                ></b-form-invalid-feedback>
              </b-form-group>
              <b-form-group
                v-if="!image"
                id="avatar-input-group"
                label="Logo"
                label-for="avatar"
              >
                <b-form-file
                  id="avatar"
                  accept="image/*"
                  :state="Boolean(form.avatar)"
                  placeholder="Vui lòng chọn ảnh"
                  drop-placeholder="Xóa ảnh..."
                  browse-text="Chọn ảnh"
                  @change="onFileChange"
                ></b-form-file>
              </b-form-group>
              <div v-else class="text-center">
                <img :src="image" class="image_up" />
                <b-button
                  variant="danger"
                  size="md"
                  class="mb-2 text-center"
                  @click="removeImage()"
                >
                  Xóa ảnh
                </b-button>
              </div>
              <b-form-group id="address-input-group" label="Địa chỉ" label-for="address">
                <b-form-input
                  id="address"
                  type="text"
                  v-model="form.address"
                  name="address"
                  placeholder="Nhập địa chỉ..."
                >
                </b-form-input>
                <b-form-invalid-feedback
                  :state="!form.errors.has('address')"
                  v-text="form.errors.get('address')"
                ></b-form-invalid-feedback>
              </b-form-group>
            </b-form>
            <div class="pt-3 text-center form-group">
              <b-button
                id="submit"
                type="button"
                variant="primary"
                size="lg"
                @click="update"
                :disabled="isUpdating"
              >
                <b-spinner class="spinner" small v-if="isUpdating"></b-spinner>
                Cập nhật
              </b-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import axios from "axios";
import Form from "@/admin/utils/Form";
export default {
  name: "EditProfile",
  data() {
    return {
      form: new Form({
        name: "",
        email: "",
        mobile_number: "",
        avatar: "",
        address: "",
        birthday: "",
        gender: 1,
      }),
      isLoading: false,
      isUpdating: false,
      isUpdatingPassword: false,
      successMessage: "",
      image: "",
      options: [
        { text: "Nam", value: "1" },
        { text: "Nữ", value: "0" },
      ],
      idUser: "",
      avatar: "",
      nameUser: "",
    };
  },
  computed: {},
  methods: {
    checkIDLogin() {
      var d = JSON.parse(sessionStorage.getItem("tokenlogin"));
      this.idUser = d["data"]["id"];
      this.avatar = d["data"]["avatar"];
      this.nameUser = d["data"]["name"];
    },
    async update() {
      this.isUpdating = true;
      let name = this.form.name;
      let avatar = this.form.avatar;
      await this.form
        .patch("/api/users/" + this.idUser)
        .then((data) => {
          this.successMessage = data.message;
          this.getUser();
          this.isUpdating = false;
          window.scrollTo(400, 400);
          document.getElementById("nameuser").innerHTML = name;
          this.avatar = avatar;
        })
        .catch((data) => {
          this.isUpdating = false;
          console.error(data.message);
        });
    },

    getUser() {
      this.isLoading = true;
      axios
        .get("/api/users/" + this.idUser)
        .then((response) => {
          this.form.name = response.data.data.name;
          this.form.email = response.data.data.email;
          this.form.mobile_number = response.data.data.mobile_number;
          this.form.birthday = response.data.data.birthday;
          this.form.avatar = response.data.data.avatar;
          this.image = response.data.data.avatar;
          this.form.address = response.data.data.address;
          this.form.gender = response.data.data.gender;
          this.isLoading = false;
          sessionStorage.removeItem("tokenlogin");
          sessionStorage.setItem("tokenlogin", JSON.stringify(response.data));
        })
        .catch((error) => {
          console.error(error.response.data.message);

          this.isLoading = false;
        });
    },
    onFileChange(e) {
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length) return;
      this.createImage(files[0]);
    },
    createImage(file) {
      var reader = new FileReader();
      var vm = this;
      reader.onload = (e) => {
        vm.image = e.target.result;
        this.form.avatar = e.target.result;
      };
      reader.readAsDataURL(file);
    },
    removeImage() {
      this.image = "";
    },
  },
  created() {
    this.checkIDLogin(), this.getUser();
  },
};
</script>

<style scoped>
.profile-edit {
  background: #ffffff;
}
.wrapper-content {
  position: relative;
}
.wrapper-content img {
  width: 100%;
  height: 300px;
}
.wrapper-info {
  display: flex;
  position: absolute;
  bottom: 30px;
  left: 20px;
}
.wrapper-info .title-info {
  padding-left: 15px;
}
.wrapper-info .title-info h5 {
  color: #ffffff;
}
.wrapper-info img {
  width: 76px;
  height: 76px;
  border-radius: 100%;
}
.nav-profile {
  background: #0b46ae;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 48px;
}
.nav-profile .block {
  display: flex;
  text-align: center;
  flex-direction: column;
}
.nav-profile .block a {
  padding: 0px;
  margin: 0px;
  color: #ffffff;
  text-decoration: none;
}
.nav-profile .block a:hover {
  color: #b9b8b8;
  transition: 0.5s;
}
/* profile update */
.wrapper-edit-profile {
  margin-top: 20px;
}
.wrapper-edit-profile h5 {
  text-align: center;
}
.wrapper-content-edit .form-group .form-control {
  outline: none;
}
.wrapper-content-edit .group-button {
  display: flex;
}
.wrapper-content-edit .group-button div {
  padding-right: 20px;
}
.wrapper-content-edit .ic-obligatory {
  color: red;
}
.image_up {
  width: 100%;
  max-width: 120px;
  margin: auto;
  margin-right: 20px;
  margin-bottom: 10px;
}
/* responsive */
@media (max-width: 576px) {
  .below-heard {
    width: 100%;
  }
  .wrapper-title h5 {
    font-size: 18px;
  }
}
</style>
