<template>
  <main class="pb-5 main-wrapper">
    <div class="px-0 col-12 px-lg-2">
      <div class="row">
        <div class="col-12">
          <div class="wrapper-content">
            <img src="../../assets/images/bg_cover.png" alt="" />
            <div class="wrapper-info">
              <router-link to="/editprofile">
                <img
                  v-if="avatar == ''"
                  src="@/Clients/assets/images/imgprimary.jpg"
                  alt=""
                />
                <img v-else :src="avatar" alt="images" />
              </router-link>
              <div class="title-info">
                <h5>{{ nameUser }}</h5>
                <button type="button" class="btn btn-info">Nhắn tin</button>
              </div>
            </div>
          </div>
        </div>
        <div class="d-none col-12 d-md-block">
          <div class="nav-profile">
            <div class="block">
              <a href="">Dòng thời gian</a>
            </div>
            <div class="block">
              <a href="">Đang theo dõi</a>
            </div>
            <div class="block">
              <a href="">Câu lạc bộ</a>
            </div>
            <div class="block">
              <a href="">Trường đang theo học</a>
            </div>
            <div class="block">
              <router-link to="/feesuser"> Tình trạng phí </router-link>
            </div>
          </div>
        </div>
      </div>
      <!-- components của cập nhập thông tin -->
      <div class="row">
        <div class="col-3">
          <div
            class="p-3 mt-3 animated bounceInUp wrapper-slide d-none d-xl-block sticky-top"
            style="animation-delay: 0ms; animation-duration: 1000ms; pointer-events: all"
          >
            <div>
              <div class="pb-4 text-introduce">
                <span class="font-weight-bold fz-16 color-font"
                  >Giới thiệu<img
                    class="pl-3 cursor-pointer"
                    src="../../assets/images/ic_edit.png"
                /></span>
              </div>
              <div class="pt-3 pb-3 d-flex">
                <span class="pl-0 fz-14 color-font col-5">Trường học: </span>
                <a href="/profile-university/over-view/5d933c11ae957249a6d599b9"
                  ><span class="fz-14 color-font font-weight-bold"></span>
                </a>
              </div>
              <div class="pb-3 d-flex">
                <span class="pl-0 fz-14 color-font col-5">Đến từ: </span>
                <span class="fz-14 color-font font-weight-bold"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <PostInUser />
        </div>
        <div class="col-3">
          <div
            class="p-3 mt-3 animated bounceInUp wrapper-slide d-none d-xl-block sticky-top"
            style="animation-delay: 0ms; animation-duration: 1000ms; pointer-events: all"
          >
            <div>
              <div class="pb-2 text-introduce d-flex justify-content-between">
                <span class="font-weight-bold fz-16 color-font">Hình ảnh</span
                ><span class="cursor-pointer color-font fz-14">Xem tất cả</span>
              </div>
              <div class="wrapper-album-photos">
                <div
                  class="pt-2 d-flex justify-content-center align-items-center flex-column"
                >
                  <p class="pt-2 font-weight-bold fz-16">
                    Không có hình ảnh để hiển thị!!
                  </p>
                </div>
                <div class="bg-white gallery-wrapper">
                  <div>
                    <div class="px-1 pt-2 row"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import PostInUser from "../Post/PostInUser";
import { mapActions } from "vuex";
export default {
  name: "ProfileUser",
  data() {
    return {
      avatar: "",
      idUser: "",
      nameUser: "",
    };
  },
  components: {
    PostInUser,
  },
  created() {
    this.checkIDLogin();
  },
  methods: {
    ...mapActions(["getpostiduserid"]),
    checkIDLogin() {
      var d = JSON.parse(sessionStorage.getItem("tokenlogin"));
      this.idUser = d["data"]["id"];
      this.avatar = d["data"]["avatar"];
      this.nameUser = d["data"]["name"];
      if (this.idUser != "") {
        this.getpostiduserid(d["data"]["id"]);
      }
    },
  },
};
</script>

<style scoped>
.profile-edit {
  background: #ffffff;
}
.wrapper-content {
  position: relative;
}
.wrapper-content img {
  width: 100%;
  height: 300px;
}
.wrapper-info {
  display: flex;
  position: absolute;
  bottom: 30px;
  left: 20px;
}
.wrapper-info .title-info {
  padding-left: 15px;
}
.wrapper-info .title-info h5 {
  color: #ffffff;
}
.wrapper-info img {
  width: 76px;
  height: 76px;
  border-radius: 100%;
}
.nav-profile {
  background: #0b46ae;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 48px;
}
.nav-profile .block {
  display: flex;
  text-align: center;
  flex-direction: column;
}
.nav-profile .block a {
  padding: 0px;
  margin: 0px;
  color: #ffffff;
  text-decoration: none;
}
.nav-profile .block a:hover {
  color: #b9b8b8;
  transition: 0.5s;
}
/* profile */
.wrapper-slide {
  background: #ffffff;
  border-radius: 5px;
  z-index: 1;
}
.sticky-top {
  top: 100px;
}
</style>
>
