<template>
    <div>

        <b-form @keydown="form.errors.clear()">
            <b-form-group id="password-input-group"
                          label="Mật khẩu mới"
                          label-for="password">
                <b-form-input id="password"
                              type="password"
                              v-model="form.password"
                              name="password"
                              placeholder="Nhập mật khẩu mới...">
                </b-form-input>
                <b-form-invalid-feedback
                        :state="!form.errors.has('password')"
                        v-text="form.errors.get('password')"
                ></b-form-invalid-feedback>
            </b-form-group>
            <b-alert variant="success" show>Lưu ý mật khẩu phải từ 8 ký tự trở lên</b-alert>
            <!-- <b-form-group id="password-confirm-input-group"
                          label="Xác nhập lại mật khẩu"
                          label-for="password-confirm">
                <b-form-input id="password-confirm"
                              type="password"
                              v-model="password_confirmation"
                              name="password_confirmation"
                              placeholder="Nhập lại mật khẩu...">
                </b-form-input>
                <b-form-invalid-feedback
                        :state="!form.errors.has('password_confirmation')"
                        v-text="form.errors.get('password_confirmation')"
                ></b-form-invalid-feedback>
            </b-form-group> -->
        </b-form>
    </div>
</template>

<script>
  import Form from '@/admin/utils/Form'

  export default {
    props: {
      id: {
        type: Number,
        required: true
      }
    },
    data() {
      return {
        form: new Form({
          password: '',
          // password_confirmation: ''
        }),
      }
    },
    methods: {
      submit() {
          return this.form.patch('/api/users/' + this.id)
        
      }
    }
  }
</script>