<template>
  <div>
    <div class="d-flex h-100 justify-content-center align-items-center" v-if="isLoading">
      <b-spinner class="spinner" variant="primary"></b-spinner>
    </div>
    <div>
      <page-title :heading="heading" :icon="icon" no-create-new> </page-title>
      <b-alert :show="successMessage !== ''" variant="success" dismissible>
        {{ successMessage }}
      </b-alert>
      <b-form
        @keydown="form.errors.clear($event.target.name)"
        @change="form.errors.clear($event.target.name)"
      >
        <b-form-group id="name-input-group" label="Họ tên" label-for="name">
          <b-form-input
            id="name"
            type="text"
            v-model="form.name"
            name="name"
            placeholder="Nhập tên..."
          >
          </b-form-input>
          <b-form-invalid-feedback
            :state="!form.errors.has('name')"
            v-text="form.errors.get('name')"
          ></b-form-invalid-feedback>
        </b-form-group>
        <b-form-group id="gender-input-group" label="Giới tính" label-for="gender">
          <b-form-radio-group
            v-model="form.gender"
            :options="options"
            name="gender"
            plain
          ></b-form-radio-group>
          <b-form-invalid-feedback
            :state="!form.errors.has('gender')"
            v-text="form.errors.get('gender')"
          ></b-form-invalid-feedback>
        </b-form-group>
        <b-form-group id="email-input-group" label="Email" label-for="email">
          <b-form-input
            id="email"
            type="email"
            v-model="form.email"
            name="email"
            placeholder="Enter email"
          >
          </b-form-input>
          <b-form-invalid-feedback
            :state="!form.errors.has('email')"
            v-text="form.errors.get('email')"
          ></b-form-invalid-feedback>
        </b-form-group>
        <b-form-group
          id="mobile-number-input-group"
          label="Số điện thoại"
          label-for="mobile-number"
        >
          <b-form-input
            id="mobile-number"
            type="text"
            v-model="form.mobile_number"
            name="mobile_number"
            placeholder="Enter mobile number"
          >
          </b-form-input>
          <b-form-invalid-feedback
            :state="!form.errors.has('mobile_number')"
            v-text="form.errors.get('mobile_number')"
          ></b-form-invalid-feedback>
        </b-form-group>
        <b-form-group id="birthday-input-group" label="Ngày sinh" label-for="birthday">
          <b-form-datepicker
            placeholder="Chọn ngày"
            id="birthday"
            :state="true"
            name="birthday"
            v-model="form.birthday"
          >
          </b-form-datepicker>
        </b-form-group>
        <b-form-group
          v-if="!image"
          id="avatar-input-group"
          label="Logo"
          label-for="avatar"
        >
          <b-form-file
            id="avatar"
            accept="image/*"
            :state="Boolean(form.avatar)"
            placeholder="Vui lòng chọn ảnh"
            drop-placeholder="Xóa ảnh..."
            browse-text="Chọn ảnh"
            @change="onFileChange"
          ></b-form-file>
        </b-form-group>
        <div v-else class="text-center">
          <img :src="image" />
          <b-button
            variant="danger"
            size="md"
            class="mb-2 text-center"
            @click="removeImage()"
          >
            Xóa ảnh
          </b-button>
        </div>
        <b-form-group id="address-input-group" label="Địa chỉ" label-for="address">
          <b-form-input
            id="address"
            type="text"
            v-model="form.address"
            name="address"
            placeholder="Nhập địa chỉ..."
          >
          </b-form-input>
        </b-form-group>
        <!-- <b-form-group id="zalo-input-group" label="Zalo" label-for="zalo">
          <b-form-input
            id="zalo"
            type="text"
            v-model="form.zalo"
            name="zalo"
            placeholder="Nhập zalo..."
          >
          </b-form-input>
        </b-form-group>
        <b-form-group id="instagram-input-group" label="Instagram" label-for="instagram">
          <b-form-input
            id="instagram"
            type="text"
            v-model="form.instagram"
            name="instagram"
            placeholder="Nhập Instagram..."
          >
          </b-form-input>
        </b-form-group>
        <b-form-group id="facebook-input-group" label="FaceBook" label-for="facebook">
          <b-form-input
            id="facebook"
            type="text"
            v-model="form.facebook"
            name="facebook"
            placeholder="Nhập facebook..."
          >
          </b-form-input>
        </b-form-group> -->
        <b-form-group id="password-input-group" label="Password" label-for="password">
          <b-button
            id="password"
            variant="primary"
            @click="$bvModal.show('change-password-modal')"
          >
            Thay đổi mật khẩu
          </b-button>
        </b-form-group>
      </b-form>
      <div>
        <b-button
          id="submit"
          type="button"
          variant="primary"
          size="lg"
          @click="update"
          :disabled="isUpdating"
        >
          <b-spinner class="spinner" small v-if="isUpdating"></b-spinner>
          Cập nhật
        </b-button>
      </div>
      <b-modal id="change-password-modal" title="Thay đổi mật khẩu" size="lg">
        <change-my-password ref="changeMyPassword" :id="user.id"></change-my-password>
        <template v-slot:modal-footer>
          <div class="w-100">
            <div class="float-right">
              <b-button
                variant="danger"
                class="mr-2"
                @click="$bvModal.hide('change-password-modal')"
                :disabled="isUpdatingPassword"
              >
                Hủy
              </b-button>
              <b-button
                variant="success"
                @click="updatePassword"
                :disabled="isUpdatingPassword"
              >
                <b-spinner class="spinner" small v-if="isUpdatingPassword"></b-spinner>
                Ok
              </b-button>
            </div>
          </div>
        </template>
      </b-modal>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Form from "@/admin/utils/Form";
import PageTitle from "@/admin/Layout/Components/PageTitle.vue";
import ChangeMyPassword from "@/admin/Settings/User/ChangeMyPassword";
import { mapGetters, mapMutations } from "vuex";

export default {
  components: {
    PageTitle,
    ChangeMyPassword,
  },
  data() {
    return {
      heading: "Thông tin cá nhân",
      icon: "pe-7s-user icon-gradient bg-happy-itmeo",
      form: new Form({
        name: "",
        email: "",
        mobile_number: "",
        avatar: "",
        address: "",
        birthday: "",
        gender: 1,
      }),
      isLoading: false,
      isUpdating: false,
      isUpdatingPassword: false,
      successMessage: "",
      image: "",
      options: [
        { text: "Nam", value: "1" },
        { text: "Nữ", value: "0" },
      ],
    };
  },
  computed: {
    ...mapGetters("login", ["user"]),
  },
  methods: {
    ...mapMutations("login", ["SET_USER"]),
    update() {
      this.isUpdating = true;
      this.form
        .patch("/api/users/" + this.user.id)
        .then((data) => {
          this.successMessage = data.message;
          this.SET_USER(data.data);
          this.getUser();
          this.isUpdating = false;
        })
        .catch((data) => {
          this.isUpdating = false;
          console.error(data.message);
        });
    },
    getUser() {
      this.isLoading = true;
      axios
        .get("/api/users/" + this.user.id)
        .then((response) => {
          this.form.name = response.data.data.name;
          this.form.email = response.data.data.email;
          this.form.mobile_number = response.data.data.mobile_number;
          this.form.birthday = response.data.data.birthday;
          this.form.avatar = response.data.data.avatar;
          this.image = response.data.data.avatar;
          this.form.address = response.data.data.address;
          this.form.gender = response.data.data.gender;
          this.isLoading = false;
        })
        .catch((error) => {
          console.error(error.response.data.message);

          this.isLoading = false;
        });
    },
    updatePassword() {
      this.isUpdatingPassword = true;
      this.$refs.changeMyPassword
        .submit()
        .then((data) => {
          this.successMessage = data.message;
          this.isUpdatingPassword = false;
          this.$bvModal.hide("change-password-modal");
        })
        .catch((data) => {
          this.successMessage = "Mật khẩu nhập lại không khớp";
          console.error(data.message);
          this.isUpdatingPassword = false;
          this.$bvModal.hide("change-password-modal");
        });
    },
    onFileChange(e) {
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length) return;
      this.createImage(files[0]);
    },
    createImage(file) {
      var reader = new FileReader();
      var vm = this;
      reader.onload = (e) => {
        vm.image = e.target.result;
        this.form.avatar = e.target.result;
      };
      reader.readAsDataURL(file);
    },
    removeImage() {
      this.image = "";
    },
  },
  created() {
    this.getUser();
  },
};
</script>
<style scoped>
img {
  width: 100%;
  max-width: 120px;
  margin: auto;
  margin-right: 20px;
  margin-bottom: 10px;
}
</style>
