<template>
  <div>
    <div class="app-page-title">
    <div class="page-title-wrapper">
      <div class="page-title-heading">
        <div class="page-title-icon">
          <i class="pe-7s-users icon-gradient bg-happy-itmeo"/>
        </div>
        <div>
          Danh sách thành viên xin vô Câu Lạc Bộ {{nameClubs_ad}}
        </div>
      </div>
    </div>
  </div>
    <b-alert :show="successMessage !== ''" variant="success" dismissible>
      {{ successMessage }}
    </b-alert>
    <b-card class="mb-4 main-card">
      <datatable
        ref="userTable"
        :api-url="apiUrl+idClubs_ad"
        :fields="fields"
        filter="name"
      >
        <template v-slot:cell(status)="row" >
          <input type="checkbox"  @change="onIsAttendance(row.item.id,row.item.id_detail)"/>
        </template>
        <template v-slot:cell(actions)="row">
          <b-button
            variant="danger"
            size="sm"
            class="mb-2 mr-2"
            @click="destroy(row.item.id_detail)"
          >
            Xóa
          </b-button>
        </template>
      </datatable>
    </b-card>
  </div>
</template>

<script>
import axios from 'axios'
import convertToLocaleDateTimeString from "@/admin/utils/convertToLocaleDateTimeString";
import { mapActions, mapGetters, mapMutations } from "vuex";
export default {
  components: {
  
  },
  computed: {
    ...mapGetters("login", ["user"]),
    ...mapGetters(["idClubs_ad", "nameClubs_ad"]),
  },
  data: () => ({
    apiUrl: "api/user/getuserbyclub0/",
    fields: [
      {
        key: "row_no",
        label: "#",
      },
      {
        key: "name",
        sortable: true,
        label: "Tên thành viên",
      },
      {
        key: "email",
        sortable: true,
        label: "Email",
      },
      {
        key: "mobile_number",
        sortable: true,
        label: "Số điện thoại",
      },
      {
        key: "birthday",
        formatter: (value) => convertToLocaleDateTimeString(value),
        sortable: true,
        label: "Ngày sinh",
      },
      {
        key:"status",
        label:"Trạng thái"
      },
      {
        key:"actions",
        label:"Hành động"
      }
    ],
    successMessage: "",
  }),
  created() {
    this.getListActivaty_Ad(this.user.id)
  },
  methods: {
    ...mapActions(["getListActivaty_Ad"]),
    ...mapMutations(["SET_NAMEACT_AD"]),
    onIsAttendance(id_User,id_detail){
        axios.patch('api/detailclubs/'+id_detail, 
        { 
            club_id:this.idClubs_ad,
            user_id:id_User,
            status:1
        }, 
        this.$refs.userTable.refresh(),
        this.successMessage="Duyệt thành công !"
      );
      },
      destroy(id) {
      this.$bvModal
        .msgBoxConfirm("Bạn có muốn xóa dòng này ?", {
          title: "Làm ơn lựa chọn",
          okVariant: "danger",
          okTitle: "Có",
          cancelTitle: "Không",
        })
        .then((value) => {
          if (value) {
            axios
              .delete("/api/detailclubs/" + id)
              .then((response) => {
                this.successMessage = response.data.message;
                this.$refs.userTable.refresh();
              })
              .catch((error) => console.error(error.response.data.message));
          }
        })
        .catch((error) => console.error(error.response.data.message));
    },
  },
};
</script>

<style>
</style>