<template>
  <div>
    <div class="app-page-title">
      <div class="page-title-wrapper">
        <div class="page-title-heading">
          <div class="page-title-icon">
            <i class="pe-7s-users icon-gradient bg-happy-itmeo" />
          </div>
          <div>Thống kê hoạt động các câu lạc bộ</div>
        </div>
      </div>
    </div>
      <div>
        <div class="filter_report d-flex align-items-center justify-content-around mb-3">
          <div class="d-flex align-items-center">
            <label class="mr-2 my-0" style="white-space:nowrap">Câu lạc bộ</label>
            <b-form-select v-model="selectedCLB" @change="filter()">
              <b-form-select-option value="0">Tất cả</b-form-select-option>
              <b-form-select-option  v-for="item in listclubs.data" :key="item.id" :value="item.id"
                >{{item.name}}</b-form-select-option
              >
              
            </b-form-select>
          </div>
          <div class="d-flex align-items-center">
            <label class="mr-2 my-0" style="white-space:nowrap">Hoạt động</label>
            <a-input-search placeholder="Nhập tên hoạt động.." enter-button @search="onSearch" v-model="value_search" />
          </div>
        </div>
        <div class="table_content">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">STT</th>
                <th scope="col">Hoạt động</th>
                 <th scope="col">SL dự kiến</th>
                 <th scope="col">SL đã đăng ký</th>
                  <th scope="col">SL đã duyệt</th>
                 <th scope="col">SL chưa duyệt</th>
                <th scope="col">Câu lạc bộ</th>
                <th scope="col">Người quản lí</th>
                <th scope="col">Trạng thái</th>
                <th scope="col">Ngày tạo</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item,index) in list_reports_ad" :key="index">
                <th scope="row">{{index+1}}</th>
                <td>{{item.name}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.count_user}}</td>
                <td>{{item.count_user_active}}</td>
                 <td>{{item.count_user_noactive}}</td>
                <td>{{item.club.name}}</td>
                <td>{{item.club.nameuser}}</td>
                <td v-if="checkDate(item.date_start)">Chưa diễn ra</td>
                <td v-else>Đã diễn ra</td>
                <td>{{item.date_start}}</td>
              </tr>
             
            </tbody>
          </table>
        </div>
      </div>
  </div>
</template>

<script>
import { mapActions, mapGetters, mapMutations} from "vuex";
export default {
  components: {},
  computed: {
    ...mapGetters(["list_reports_ad","listclubs"]),
  },
  data: () => ({
    selectedCLB:"0",
    value_search:""
  }),
  created() {
    this.getListReport()
    this.getListClubs()
  },
  methods: {
    ...mapActions(["getListReport","getListClubs"]),
    ...mapMutations(["SET_FILTER_REPORT","SET_FILTER_SEARCH_REPORT"]),
    checkDate(dateStart){
        var today = new Date();
        var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
        var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
        var dateTime = date+' '+time;
        if( new Date(dateTime) > new Date(dateStart))
          return true
        else
          return false
    },
    filter(){
      this.SET_FILTER_REPORT(this.selectedCLB)
    },
    onSearch(){
      this.SET_FILTER_SEARCH_REPORT({
        "idCLB":this.selectedCLB,
        "key_search":this.value_search
      })
    }
  },
};
</script>

<style scoped>
.app-page-title {
  padding-top: 15px;
  padding-bottom: 15px;
}
.anticon-search {
  margin-bottom: 5px !important;
}
</style>