<template>
  <div>
    <b-alert :show="form.errors.hasMessage()" variant="danger" dismissible>
      {{ form.errors.getMessage() }}
    </b-alert>
    <b-form
      @keydown="form.errors.clear($event.target.name)"
      @change="form.errors.clear($event.target.name)"
    >
      <b-form-group id="title-input-group" label="Tiêu đề" label-for="title">
        <b-form-input
          id="title"
          type="text"
          v-model="form.title"
          name="title"
          placeholder="Nhập tiêu đề ..."
        >
        </b-form-input>
        <b-form-invalid-feedback
          :state="!form.errors.has('title')"
          v-text="form.errors.get('title')"
        ></b-form-invalid-feedback>
      </b-form-group>
      <b-form-group id="content-input-group" label="Nội dung" label-for="content">
        <vue-editor id="content" name="content" v-model="form.content" />
        <b-form-invalid-feedback
          :state="!form.errors.has('content')"
          v-text="form.errors.get('content')"
        ></b-form-invalid-feedback>
      </b-form-group>
      <b-form-group id="amount-input-group" label="Số lượng" label-for="amount">
        <b-form-input
          id="amount"
          type="number"
          v-model="form.amount"
          name="amount"
          placeholder="Nhập số lượng "
        >
        </b-form-input>
        <b-form-invalid-feedback
          :state="!form.errors.has('amount')"
          v-text="form.errors.get('amount')"
        ></b-form-invalid-feedback>
      </b-form-group>
    </b-form>
  </div>
</template>

<script>
import Form from "@/admin/utils/Form";

export default {
  props: {
    idClub: {
      type: Number,
      required: true,
    },
  },
  data() {
    return {
      form: new Form({
        content: "",
        title: "",
        amount: 1,
        club_id: this.idClub,
      }),
      image: "",
    };
  },
  methods: {
    submit() {
      return this.form.post("/api/expense/");
    },
  },
};
</script>
<style scoped>
img {
  width: 100%;
  max-width: 200px;
  margin: auto;
  display: block;
  margin-bottom: 10px;
}
</style>
