<template>
  <div>
    <page-title
      :heading="heading"
      :icon="icon"
      @create-new="$bvModal.show('create-expenses-modal')"
    >
    </page-title>
    <b-alert :show="successMessage !== ''" variant="success" dismissible>
      {{ successMessage }}
    </b-alert>
    <b-card class="mb-4 main-card">
      <datatable
        ref="ExpensesTable"
        :api-url="apiUrl +$route.params.idEx"
        :fields="fields"
        filter="name"
      >
        <template v-slot:cell(actions)="row">
          <b-button
            variant="primary"
            size="sm"
            class="mb-2 mr-2"
            @click="edit(row.item.id)"
          >
            Sửa
          </b-button>
          <b-button
            variant="danger"
            size="sm"
            class="mb-2 mr-2"
            @click="destroy(row.item.id)"
          >
            Xóa
          </b-button>
        </template>
      </datatable>
    </b-card>
    <b-modal id="create-expenses-modal" title="Thêm chi tiền" size="lg">
      <CreateDetailExpenses ref="createDetailExpenses"></CreateDetailExpenses>
      <template v-slot:modal-footer>
        <div class="w-100">
          <div class="float-right">
            <b-button
              variant="danger"
              class="mr-2"
              @click="$bvModal.hide('create-costactivaty-modal')"
              :disabled="isStoring"
            >
              Bỏ qua
            </b-button>
            <b-button variant="success" @click="store" :disabled="isStoring">
              <b-spinner class="spinner" small v-if="isStoring"></b-spinner>
              Lưu
            </b-button>
          </div>
        </div>
      </template>
    </b-modal>
    <b-modal id="edit-expenses-modal" title="Cập nhật chi tiền" size="lg">
      <EditDetailExpenses ref="editDetailExpenses" :id="id"></EditDetailExpenses>
      <template v-slot:modal-footer>
        <div class="w-100">
          <div class="float-right">
            <b-button
              variant="danger"
              class="mr-2"
              @click="$bvModal.hide('edit-activaty-modal')"
              :disabled="isUpdating"
            >
              Bỏ qua
            </b-button>
            <b-button variant="success" @click="update" :disabled="isUpdating">
              <b-spinner class="spinner" small v-if="isUpdating"></b-spinner>
              Lưu
            </b-button>
          </div>
        </div>
      </template>
    </b-modal>
  </div>
</template>

<script>
import axios from "axios";
import PageTitle from "@/admin/Layout/Components/PageTitle.vue";
import CreateDetailExpenses from "@/admin/Expenses/CreateDetailExpenses.vue";
import EditDetailExpenses from "@/admin/Expenses/EditDetailExpenses.vue";
import { mapGetters} from "vuex";
export default {
  components: {
    PageTitle,
    CreateDetailExpenses,
    EditDetailExpenses,
  },
  computed: {
    ...mapGetters("login", ["user"]),
  },
  data: () => ({
    heading: "Quản lí chi tiết chi tiền của CLB ",
    icon: "pe-7s-users icon-gradient bg-happy-itmeo",
    apiUrl: "api/expensedetail/getbydetail/",
    fields: [
      {
        key: "row_no",
        label: "#",
      },
      {
        key: "title",
        sortable: true,
        label: "Tiêu đề",
      },
      {
        key: "content",
        label: "Nội dung",
      },
      {
        key: "amount",
        sortable: true,
        label: "Số lượng",
      },
      {
        key: "actions",
        label: "Hành động",
      },
    ],
    successMessage: "",
    id: 0,
    isStoring: false,
    isUpdating: false,
  }),
  created() {
    
  },
  methods: {
    show(id) {
      this.id = id;
      this.$bvModal.show("show-expenses-modal");
    },
    edit(id) {
      this.id = id;
      this.$bvModal.show("edit-expenses-modal");
    },
    store() {
      this.isStoring = true;

      this.$refs.createDetailExpenses
        .submit()
        .then((data) => {
          this.successMessage = data.message;
          this.isStoring = false;
          this.$bvModal.hide("create-expenses-modal");
          this.$refs.ExpensesTable.refresh();
        })
        .catch((data) => {
          this.isStoring = false;
          console.error(data.message);
        });
    },
    update() {
      this.isUpdating = true;
      this.$refs.editDetailExpenses
        .submit()
        .then((data) => {
          this.successMessage = data.message;
          this.isUpdating = false;
          this.$bvModal.hide("edit-expenses-modal");
          this.$refs.ExpensesTable.refresh();
        })
        .catch((data) => {
          this.isUpdating = false;
          console.error(data.message);
        });
    },
    destroy(id) {
      this.$bvModal
        .msgBoxConfirm("Bạn có muốn xóa dòng này ?", {
          title: "Làm ơn lựa chọn",
          okVariant: "danger",
          okTitle: "Có",
          cancelTitle: "Không",
        })
        .then((value) => {
          if (value) {
            axios
              .delete("/api/expensedetail/" + id)
              .then((response) => {
                this.successMessage = response.data.message;
                this.$refs.ExpensesTable.refresh();
              })
              .catch((error) => console.error(error.response.data.message));
          }
        })
        .catch((error) => console.error(error.response.data.message));
    },
  },
};
</script>

<style scoped>

</style>
