<template>
  <div>
    <page-title
      :heading="heading"
      :icon="icon"
      @create-new="$bvModal.show('create-expenses-modal')"
    >
    </page-title>
    <b-alert :show="successMessage !== ''" variant="success" dismissible>
      {{ successMessage }}
    </b-alert>
    <b-card class="mb-4 main-card">
      <datatable
        ref="ExpensesTable"
        :api-url="apiUrl + idClubs_ad"
        :fields="fields"
        filter="name"
      >
        <template v-slot:cell(content_clone) >
          <p>Vui lòng ấn xem chi tiết để xem nội dung...</p>
        </template>
        <template v-slot:cell(actions)="row">
          <b-button
            variant="info"
            size="sm"
            class="mb-2 mr-2"
            @click="show(row.item.id)"
            style="white-space: nowrap"
          >
            Chi tiết
          </b-button>
          <b-button
            variant="primary"
            size="sm"
            class="mb-2 mr-2"
            @click="edit(row.item.id)"
          >
            Sửa
          </b-button>
          <b-button
            variant="danger"
            size="sm"
            class="mb-2 mr-2"
            @click="destroy(row.item.id)"
          >
            Xóa
          </b-button>
          <b-button
            variant="danger"
            size="sm"
            class="mb-2 mr-2"
            @click="detailPage(row.item.id)"
            style="white-space: nowrap"
          >
            Chi tiết trang
          </b-button>
        </template>
        <template v-slot:cell(Logo)="row" title="Logo">
          <div class="logo_page">
            <b-img :src="row.item.image" alt="Hình ảnh"></b-img>
          </div>
        </template>
      </datatable>
    </b-card>
    <b-modal id="show-expenses-modal" title="Chi tiết chi tiền" size="lg">
      <ShowExpenses ref="showExpenses" :id="id"></ShowExpenses>
      <template v-slot:modal-footer>
        <div class="w-100">
          <div class="float-right">
            <b-button
              variant="danger"
              class="mr-2"
              @click="$bvModal.hide('show-expenses-modal')"
            >
              Bỏ qua
            </b-button>
            <b-button variant="success" @click="$bvModal.hide('show-expenses-modal')">
              Ok
            </b-button>
          </div>
        </div>
      </template>
    </b-modal>
    <b-modal id="create-expenses-modal" title="Thêm chi tiền" size="lg">
      <CreateExpenses ref="createExpenses" :idClub="idClubs_ad"></CreateExpenses>
      <template v-slot:modal-footer>
        <div class="w-100">
          <div class="float-right">
            <b-button
              variant="danger"
              class="mr-2"
              @click="$bvModal.hide('create-expenses-modal')"
              :disabled="isStoring"
            >
              Bỏ qua
            </b-button>
            <b-button variant="success" @click="store" :disabled="isStoring">
              <b-spinner class="spinner" small v-if="isStoring"></b-spinner>
              Lưu
            </b-button>
          </div>
        </div>
      </template>
    </b-modal>
    <b-modal id="edit-expenses-modal" title="Cập nhật chi tiền" size="lg">
      <EditExpenses ref="editExpenses" :id="id" :idClub="idClubs_ad"></EditExpenses>
      <template v-slot:modal-footer>
        <div class="w-100">
          <div class="float-right">
            <b-button
              variant="danger"
              class="mr-2"
              @click="$bvModal.hide('edit-expenses-modal')"
              :disabled="isUpdating"
            >
              Bỏ qua
            </b-button>
            <b-button variant="success" @click="update" :disabled="isUpdating">
              <b-spinner class="spinner" small v-if="isUpdating"></b-spinner>
              Lưu
            </b-button>
          </div>
        </div>
      </template>
    </b-modal>
  </div>
</template>

<script>
import axios from "axios";
import PageTitle from "@/admin/Layout/Components/PageTitle.vue";
import ShowExpenses from "@/admin/Expenses/ShowExpenses.vue";
import CreateExpenses from "@/admin/Expenses/CreateExpenses.vue";
import EditExpenses from "@/admin/Expenses/EditExpenses.vue";
import { mapActions, mapGetters, mapMutations } from "vuex";
export default {
  components: {
    PageTitle,
    CreateExpenses,
    EditExpenses,
    ShowExpenses
  },
  computed: {
    ...mapGetters("login", ["user"]),
    ...mapGetters(["idClubs_ad", "nameClubs_ad"]),
  },
  data: () => ({
    heading: "Quản lí chi tiền của CLB ",
    icon: "pe-7s-users icon-gradient bg-happy-itmeo",
    apiUrl: "/api/expenses/getbyclub/",
    fields: [
      {
        key: "row_no",
        label: "#",
      },
      {
        key: "title",
        sortable: true,
        label: "Tiêu đề",
      },
      {
        key: "content_clone",
        label: "Nội dung",
      },
      {
        key: "amount",
        sortable: true,
        label: "Giá tiền",
      },
      {
        key: "actions",
        label: "Hành động",
      },
    ],
    successMessage: "",
    id: 0,
    isStoring: false,
    isUpdating: false,
  }),
  created() {
    this.getListActivaty_Ad(this.user.id), this.joinAPI();
  },
  methods: {
    ...mapActions(["getListActivaty_Ad"]),
    ...mapMutations(["SET_NAMEACT_AD"]),
    joinAPI() {
      //this.apiUrl += this.idClubs_ad;
      this.heading += this.nameClubs_ad;
    },
    detailPage(id) {
      this.$router.push("/admin/detailexpenses/" + id);
    },
    show(id) {
      this.id = id;
      this.$bvModal.show("show-expenses-modal");
    },
    edit(id) {
      this.id = id;
      this.$bvModal.show("edit-expenses-modal");
    },
    store() {
      this.isStoring = true;

      this.$refs.createExpenses
        .submit()
        .then((data) => {
          this.successMessage = data.message;
          this.isStoring = false;
          this.$bvModal.hide("create-expenses-modal");
          this.$refs.ExpensesTable.refresh();
        })
        .catch((data) => {
          this.isStoring = false;
          console.error(data.message);
        });
    },
    update() {
      this.isUpdating = true;
      this.$refs.editExpenses
        .submit()
        .then((data) => {
          this.successMessage = data.message;
          this.isUpdating = false;
          this.$bvModal.hide("edit-expenses-modal");
          this.$refs.ExpensesTable.refresh();
        })
        .catch((data) => {
          this.isUpdating = false;
          console.error(data.message);
        });
    },
    destroy(id) {
      this.$bvModal
        .msgBoxConfirm("Bạn có muốn xóa dòng này ?", {
          title: "Làm ơn lựa chọn",
          okVariant: "danger",
          okTitle: "Có",
          cancelTitle: "Không",
        })
        .then((value) => {
          if (value) {
            axios
              .delete("/api/expense/" + id)
              .then((response) => {
                this.successMessage = response.data.message;
                this.$refs.ExpensesTable.refresh();
              })
              .catch((error) => console.error(error.response.data.message));
          }
        })
        .catch((error) => console.error(error.response.data.message));
    },
  },
};
</script>

<style scoped>

</style>
