<template>
  <main class="pb-5 main-wrapper">
    <a-spin :spinning="isSpinner" tip="Đang tải..." size="large">
      <a-modal v-model="visible" title="Thông báo" on-ok="handleOk">
        <template slot="footer">
          <a-button key="back" @click="handleCancel"> Hủy </a-button>
          <a-button key="submit" type="primary" :loading="loading" @click="handleOk">
            Xác nhận
          </a-button>
        </template>
        <p v-if="typer">Bạn có chắc chắn hủy yêu cầu tham gia</p>
        <p v-else>Bạn có chắc chắn rời câu lạc bộ này</p>
      </a-modal>
      <div class="px-0 col-12 px-lg-2">
        <div class="row">
          <div class="col-12">
            <div class="p-4 detail-club">
              <img
                v-if="
                  this.clubdata.data.banner == null || this.clubdata.data.banner == ''
                "
                src="../../assets/images/truong.png"
                alt=""
              />
              <img v-else :src="this.clubdata.data.banner" alt="" />
              <div class="name-club">
                <div class="title">
                  <span class="name-detail">{{ this.clubdata.data.name }}</span>
                </div>
                <div class="btn-fl">
                  <a-button v-if="!islogin" type="primary" @click="sendrequest()">
                    Đăng nhập để yêu cầu tham gia
                  </a-button>
                  <div v-else>
                    <a-button
                      v-if="statusYC.data.status == -1"
                      type="primary"
                      @click="sendrequest()"
                    >
                      Đăng kí tham gia
                    </a-button>
                    <a-button
                      v-else-if="statusYC.data.status == 0"
                      type="success"
                      @click="showModal(statusYC.data.id)"
                    >
                      Đang chờ duyệt
                    </a-button>
                    <a-button v-else type="danger" @click="showModal(statusYC.data.id)">
                      Hủy đăng kí
                    </a-button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 d-none d-md-block">
            <div class="nav-profile">
              <div class="block">
                <a href="">Dòng thời gian</a>
              </div>
              <div class="block">
                <a href="">Giới thiệu</a>
              </div>
              <div class="block">
                <!-- <router-link to="/listactivity">{{ this.count_activitys }}</router-link> -->
                <router-link to="/listactivity">Số lượng hoạt động</router-link>
              </div>
              <div class="block">
                <!-- <router-link to="/listmembership">{{ this.count_users }}</router-link> -->
                <router-link to="/listmembership">Số lượng thành viên</router-link>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <div
              class="p-3 mt-3 animated bounceInUp wrapper-slide d-none d-lg-block sticky-top"
              style="
                animation-delay: 0ms;
                animation-duration: 1000ms;
                pointer-events: all;
              "
            >
              <div>
                <div class="pb-4 text-introduce">
                  <span class="font-weight-bold fz-16 color-font"
                    >Giới thiệu<img
                      class="pl-3 cursor-pointer"
                      src="../../assets/images/ic_edit.png"
                  /></span>
                </div>
                <div class="pt-3 pb-3 d-flex">
                  <span class="pl-0 fz-14 color-font col-5">Trường học: </span>
                  <a href="/profile-university/over-view/5d933c11ae957249a6d599b9"
                    ><span class="fz-14 color-font font-weight-bold"
                      >Đại học Sư Phạm Kỹ Thuật Đà Nẵng</span
                    >
                  </a>
                </div>
                <div class="pb-3 d-flex">
                  <span class="pl-0 fz-14 color-font col-5">Đến từ: </span>
                  <span class="fz-14 color-font font-weight-bold">Đà Nẵng</span>
                </div>
              </div>
            </div>
          </div>
          <div v-if="this.getpostfilterclub.data.length != 0" class="col-lg-6">
            <PostInClub />
          </div>
          <div v-else class="col-6">
            <div class="pb-5 m-auto new-feed-wrapper col-12 col-lg-6 pb-lg-0">
              <div></div>
              <div class="pt-3 mx-auto d-flex justify-content-center">
                <img
                  alt="not-found"
                  src="../../assets/images/no_data_found.png"
                  class="intrinsic-item animated fadeIn img-fluid img-not-found"
                />
              </div>
              <p class="pt-3 d-flex w-100 justify-content-center font-weight-bold fz-18">
                Không có dữ liệu để hiển thị!
              </p>
            </div>
          </div>
          <div class="col-3">
            <div
              class="p-3 mt-3 animated bounceInUp wrapper-slide d-none d-lg-block sticky-top"
              style="
                animation-delay: 0ms;
                animation-duration: 1000ms;
                pointer-events: all;
              "
            >
              <div>
                <div class="pb-2 text-introduce d-flex justify-content-between">
                  <span class="font-weight-bold fz-16 color-font">Hình ảnh</span
                  ><span class="cursor-pointer color-font fz-14">Xem tất cả</span>
                </div>
                <div class="wrapper-album-photos">
                  <div
                    class="pt-2 d-flex justify-content-center align-items-center flex-column"
                  >
                    <p class="pt-2 font-weight-bold fz-16">
                      Không có hình ảnh để hiển thị!!
                    </p>
                  </div>
                  <div class="bg-white gallery-wrapper">
                    <div>
                      <div class="px-1 pt-2 row"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a-spin>
  </main>
</template>

<script>
import axios from "axios";
import { mapActions, mapGetters } from "vuex";
import PostInClub from "../Post/PostInClub";
export default {
  computed: {
    ...mapGetters([
      "club",
      "clubdata",
      "getpostfilterclub",
      "ischeclregis",
      "statusYC",
      "count_user",
      "count_activity",
    ]),
  },
  data() {
    return {
      isshowpost: false,
      statussend: false,
      islogin: false,
      checkjoins: true,
      isSpinner: true,
      loading: false,
      visible: false,
      iddeleteyC: 0,
      typer: true,
      count_users: 0,
      count_activitys: 0,
      tmp: "",
    };
  },
  created() {
    this.checkcookies();
    this.getdata();
    this.checkjoin();
  },
  methods: {
    ...mapActions([
      "getClub",
      "getcluboption",
      "getpostidclub",
      "setclubuser",
      "getClubstatus",
      "getpostidclubid",
      "countlistuserclub",
      "countlistactivityclub",
    ]),
    async checkcookies() {
      this.getcluboption(sessionStorage.getItem("idclub"));
      await this.countlistuserclub(sessionStorage.getItem("idclub"))
        .then((this.count_users = this.count_user.data.length))
        .then(
          await this.countlistactivityclub(sessionStorage.getItem("idclub")).then(
            (this.count_activitys = this.count_activity.length)
          )
        );
    },
    async getdata() {
      if (sessionStorage.getItem("tokenlogin") != null) {
        var d = JSON.parse(sessionStorage.getItem("tokenlogin"));
        this.islogin = true;
        await this.getpostidclubid({
          user: d["data"]["id"],
          club: sessionStorage.getItem("idclub"),
        });
      } else {
        this.islogin = false;
        await this.getpostidclub(sessionStorage.getItem("idclub"));
      }
      await this.getClub();
    },
    async sendrequest() {
      if (sessionStorage.getItem("tokenlogin") != null) {
        this.isSpinner = true;
        var d = JSON.parse(sessionStorage.getItem("tokenlogin"));
        await this.setclubuser({
          club: sessionStorage.getItem("idclub"),
          user: d["data"]["id"],
        }).then(this.checklogstatus());
      }
      this.checkjoin(), this.changespiner();
    },
    checklogstatus() {
      setTimeout(() => {
        if (this.ischeclregis == 1) {
          this.$notification.open({
            message: "Thông Báo",
            description: "Gửi yêu cầu thành công vui lòng chờ xét duyệt",
            icon: <a-icon type="smile" style="color: #108ee9" />,
          });
        } else {
          this.$notification.open({
            message: "Thất bại",
            description: "Thất bại vui lòng thử lại",
            icon: <a-icon type="smile" style="color: #108ee9" />,
          });
        }
      }, 1000);
    },
    async checkjoin() {
      if (sessionStorage.getItem("tokenlogin") != null) {
        var d = JSON.parse(sessionStorage.getItem("tokenlogin"));
        await this.getClubstatus({
          user: d["data"]["id"],
          club: sessionStorage.getItem("idclub"),
        });
        this.changespiner();
      } else {
        setTimeout(() => {
          this.changespiner();
        }, 1000);
      }
    },
    changespiner() {
      setTimeout(() => {
        this.isSpinner = false;
      }, 1000);
    },
    showModal(id) {
      if (this.statusYC.data.status == 0) {
        this.typer = true;
      } else {
        this.typer = false;
      }
      this.iddeleteyC = id;
      this.visible = true;
    },
    handleOk() {
      this.loading = true;
      axios.delete(`api/detailclubs/${this.iddeleteyC}`);
      setTimeout(() => {
        this.checkjoin();
        this.$notification.open({
          message: "Thông báo",
          description: "Hủy đăng ký tham gia câu lạc bộ thành công",
          icon: <a-icon type="sound" style="color:green" />,
        });
        this.visible = false;
        this.loading = false;
      }, 1000);
    },
    handleCancel() {
      this.visible = false;
    },
  },
  components: {
    PostInClub,
  },
};
</script>

<style scoped>
.sticky-top {
  top: 100px;
}
.detail-club {
  display: flex;
  align-items: center;
  background: #ffffff;
}
.detail-club img {
  width: 86px;
  height: 86px;
  border-radius: 100%;
  object-fit: cover;
}
.detail-club .title {
  display: flex;
  align-items: center;
}
.detail-club .title .name-detail {
  font-size: 20px;
  font-weight: 600;
}

.detail-club .title .review {
  display: flex;
  align-items: center;
}
.detail-club .title .review ul {
  display: flex;
  align-items: center;
  padding: 0 10px 0 20px;
  margin: 0;
}
.detail-club .title .review ul li {
  list-style: none;
  padding-left: 5px;
}
.detail-club .name-club {
  padding-left: 30px;
}
.detail-club .name-club .btn-fl {
  padding-top: 10px;
}
.detail-club .name-club .btn-fl input:focus {
  outline: none;
}
.detail-club .name-club .btn-fl input:hover {
  background: #105bdb;
}
.detail-club .name-club .btn-fl input {
  border: none;
  background: #0b46ae;
  color: #ffffff;
  padding: 3px 15px;
  border-radius: 5px;
}
.nav-profile {
  background: #0b46ae;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 48px;
}
.nav-profile .block {
  display: flex;
  text-align: center;
  flex-direction: column;
}
.nav-profile .block a {
  padding: 0px;
  margin: 0px;
  color: #ffffff;
  text-decoration: none;
}
.nav-profile .block a:hover {
  color: #b9b8b8;
  transition: 0.5s;
}
/* detail */
.wrapper-slide {
  background: #ffffff;
  border-radius: 5px;
  z-index: 1;
}
/* responsive */
@media (max-width: 576px) {
  .detail-club .title {
    flex-direction: column;
    align-items: flex-start;
  }
  .detail-club .title .review ul {
    padding: 0 10px 0 0px;
  }
  .detail-club .name-club .btn-fl {
    padding-left: 0px;
  }
  .detail-club .name-club .btn-fl input {
    margin-top: 10px;
  }
}
</style>
