<template>
  <main class="pb-5 main-wrapper">
    <div><h3>Danh sách hoạt động</h3></div>
    <a-table :data-source="data" :columns="columns">
      <router-link
        slot="action"
        slot-scope="text, record"
        @click.native="showdetail(record.key)"
        :to="/detaiactivityclub/ + getslug(record.slug)"
        >Xem chi tiết
      </router-link>
      >
      <div
        slot="filterDropdown"
        slot-scope="{ setSelectedKeys, selectedKeys, confirm, clearFilters, column }"
        style="padding: 8px"
      >
        <a-input
          v-ant-ref="(c) => (searchInput = c)"
          :placeholder="`Search ${column.dataIndex}`"
          :value="selectedKeys[0]"
          style="width: 188px; margin-bottom: 8px; display: block"
          @change="(e) => setSelectedKeys(e.target.value ? [e.target.value] : [])"
          @pressEnter="() => handleSearch(selectedKeys, confirm, column.dataIndex)"
        />
        <a-button
          type="primary"
          icon="search"
          size="small"
          style="width: 90px; margin-right: 8px"
          @click="() => handleSearch(selectedKeys, confirm, column.dataIndex)"
        >
          Search
        </a-button>
        <a-button
          size="small"
          style="width: 90px"
          @click="() => handleReset(clearFilters)"
        >
          Reset
        </a-button>
      </div>
      <a-icon
        slot="filterIcon"
        slot-scope="filtered"
        type="search"
        :style="{ color: filtered ? '#108ee9' : undefined }"
      />
      <template slot="customRender" slot-scope="text, record, index, column">
        <span v-if="searchText && searchedColumn === column.dataIndex">
          <template
            v-for="(fragment, i) in text
              .toString()
              .split(new RegExp(`(?<=${searchText})|(?=${searchText})`, 'i'))"
          >
            <mark
              v-if="fragment.toLowerCase() === searchText.toLowerCase()"
              :key="i"
              class="highlight"
              >{{ fragment }}</mark
            >
            <template v-else>{{ fragment }}</template>
          </template>
        </span>
        <template v-else>
          {{ text }}
        </template>
      </template>
    </a-table>
  </main>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      data: [],
      searchText: "",
      searchInput: null,
      searchedColumn: "",
      columns: [
        {
          title: "Tên Hoạt Động",
          dataIndex: "name",
          key: "name",
          scopedSlots: {
            filterDropdown: "filterDropdown",
            filterIcon: "filterIcon",
            customRender: "customRender",
          },
          onFilter: (value, record) =>
            record.name.toString().toLowerCase().includes(value.toLowerCase()),
          onFilterDropdownVisibleChange: (visible) => {
            if (visible) {
              setTimeout(() => {
                this.searchInput.focus();
              }, 0);
            }
          },
        },
        {
          title: "Số Lượng",
          dataIndex: "quantity",
          key: "quantity",
          scopedSlots: {
            customRender: "customRender",
          },
        },
        {
          title: "Trạng Thái",
          dataIndex: "status",
          key: "status",
          scopedSlots: {
            customRender: "customRender",
          },
        },
        {
          title: "Xem chi tiết",
          dataIndex: "detail",
          key: "detail",
          scopedSlots: {
            customRender: "action",
          },
        },
      ],
    };
  },
  methods: {
    handleSearch(selectedKeys, confirm, dataIndex) {
      confirm();
      this.searchText = selectedKeys[0];
      this.searchedColumn = dataIndex;
    },

    handleReset(clearFilters) {
      clearFilters();
      this.searchText = "";
    },
    readdata() {
      for (var prop in this.count_activity) {
        let status = "";
        if (this.count_activity[prop]["status"] == 1) {
          status = "Đang hoạt động";
        } else {
          status = "Đã kết thúc";
        }
        // let contentcv = this.count_activity[prop]["content"].replace(/<[^>]+>/g, "");
        this.data.push({
          key: this.count_activity[prop]["id"],
          name: this.count_activity[prop]["name"],
          quantity: this.count_activity[prop]["quantity"],
          status: status,
          slug: this.count_activity[prop]["slug"],
        });
      }
    },
    showdetail(id) {
      sessionStorage.setItem("idactivity", id);
    },
    getslug(slugs) {
      var slug = "";
      // Change to lower case
      var titleLower = slugs.toLowerCase();
      // Letter "e"
      slug = titleLower.replace(/e|é|è|ẽ|ẻ|ẹ|ê|ế|ề|ễ|ể|ệ/gi, "e");
      // Letter "a"
      slug = slug.replace(/a|á|à|ã|ả|ạ|ă|ắ|ằ|ẵ|ẳ|ặ|â|ấ|ầ|ẫ|ẩ|ậ/gi, "a");
      // Letter "o"
      slug = slug.replace(/o|ó|ò|õ|ỏ|ọ|ô|ố|ồ|ỗ|ổ|ộ|ơ|ớ|ờ|ỡ|ở|ợ/gi, "o");
      // Letter "u"
      slug = slug.replace(/u|ú|ù|ũ|ủ|ụ|ư|ứ|ừ|ữ|ử|ự/gi, "u");
      // Letter "d"
      slug = slug.replace(/đ/gi, "d");
      // Trim the last whitespace
      slug = slug.replace(/\s*$/g, "");
      // Change whitespace to "-"
      slug = slug.replace(/\s+/g, "-");
      return slug;
    },
  },
  computed: {
    ...mapGetters(["count_activity"]),
  },
  created() {
    this.readdata();
  },
};
</script>
<style scoped>
.highlight {
  background-color: rgb(255, 192, 105);
  padding: 0px;
}
.ant-table-tbody .ant-table-column-has-actions {
  padding: 10px 10px 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
</style>
