<template>
  <main class="pb-5 main-wrapper">
    <div class="px-0 col-12 px-lg-2">
      <div class="p-0 m-0 row">
        <div class="content">
          <div class="pt-4 pb-4 search">
            <!-- <div class="left-choice">
                        <div class="pt-2 form-group">
                            <div>
                                <select class="form-control" id="schools">
                                    <option value="" selected disabled hidden
                                        >Tìm trường ...
                                    </option>
                                    <option value="volvo">Đà Nẵng</option>
                                    <option value="saab">Huế</option>
                                    <option value="vw">Quảng Ngãi</option>
                                    <option value="audi">TPHCM</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="right-choice">
                        <label
                            class="p-1 label-edit fz-14 font-weight-medium"
                            id="schools"
                            >Sắp xếp theo
                        </label>
                        <div class="pt-2 form-group">
                            <select class="form-control" id="schools">
                                <option value="" selected disabled hidden
                                    >Tất cả các trường</option
                                >
                                <option value="volvo">Đà Nẵng</option>
                                <option value="saab">Huế</option>
                                <option value="vw">Quảng Ngãi</option>
                                <option value="audi">TPHCM</option>
                            </select>
                        </div>
                    </div> -->
          </div>
          <div v-for="(clubs, index) in this.listclubs.data" :key="index" class="block">
            <router-link
              @click.native="getclubid(clubs.id)"
              :to="/detailclub/ + getslug(clubs.slug)"
            >
              <img
                v-if="clubs.banner == null || clubs.banner == ''"
                src="../../assets/images/truong.png"
                alt="truong"
              />
              <img v-else :src="clubs.banner" alt="truong" />
              <!-- :src="'@/Clients/assets/images/'+ clubs.banner" -->
              <h3>{{ clubs.name }}</h3>
              <p>
                {{ clubs.infomation }}
              </p>
              <div class="review">
                <a-button type="primary"> Xem chi tiết </a-button>
              </div>
            </router-link>
          </div>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  name: "ListClub",
  computed: {
    ...mapGetters(["listclubs"]),
  },
  created() {
    this.getListClubs();
  },
  methods: {
    ...mapActions([
      "getListClubs",
      "getcluboption",
      "getpostidclub",
      "getClubstatus",
      "countlistuserclub",
      "countlistactivityclub",
      "getpostidclubid",
      "getpostidclub",
    ]),
    getclubid(id) {
      this.getcluboption(id);
      this.countlistuserclub(id);
      this.countlistactivityclub(id);
      sessionStorage.setItem("idclub", id);
      if (sessionStorage.getItem("tokenlogin") != null) {
        var d = JSON.parse(sessionStorage.getItem("tokenlogin"));
        this.getClubstatus({
          user: d["data"]["id"],
          club: id,
        });
        this.getpostidclubid({
          user: d["data"]["id"],
          club: id,
        });
      } else {
        this.getpostidclub(id);
      }
    },
    getslug(slugs) {
      var slug = "";
      // Change to lower case
      var titleLower = slugs.toLowerCase();
      // Letter "e"
      slug = titleLower.replace(/e|é|è|ẽ|ẻ|ẹ|ê|ế|ề|ễ|ể|ệ/gi, "e");
      // Letter "a"
      slug = slug.replace(/a|á|à|ã|ả|ạ|ă|ắ|ằ|ẵ|ẳ|ặ|â|ấ|ầ|ẫ|ẩ|ậ/gi, "a");
      // Letter "o"
      slug = slug.replace(/o|ó|ò|õ|ỏ|ọ|ô|ố|ồ|ỗ|ổ|ộ|ơ|ớ|ờ|ỡ|ở|ợ/gi, "o");
      // Letter "u"
      slug = slug.replace(/u|ú|ù|ũ|ủ|ụ|ư|ứ|ừ|ữ|ử|ự/gi, "u");
      // Letter "d"
      slug = slug.replace(/đ/gi, "d");
      // Trim the last whitespace
      slug = slug.replace(/\s*$/g, "");
      // Change whitespace to "-"
      slug = slug.replace(/\s+/g, "-");
      return slug;
    },
  },
};
</script>

<style scoped>
.search {
  display: flex;
  justify-content: space-between;
}
.search .left-choice {
  width: 40%;
}
.search .right-choice {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.block {
  width: calc((100% - 45px) / 4);
  float: left;
  margin: 15px 15px 0px 0px;
  border-radius: 10px;
  background: #ffffff;
  cursor: pointer;
  min-height: 351px;
  max-height: 351px;
}
.block:nth-child(5n) {
  margin-right: 0;
}
.block:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transition: 1s;
}
.block img {
  border-radius: 7px 7px 0px 0px;
  min-height: 176px !important;
  max-height: 176px !important;
}
.block h3 {
  font-size: 18px;
  margin-top: 10px;
  padding: 0 10px;
}
.block p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
  padding: 0 10px;
  color: #6c757d;
  font-size: 15px;
}

.block img {
  width: 100%;
}
.block ul {
  padding: 15px;
  display: flex;
  margin: 0px;
}
.block ul li {
  list-style: none;
  padding-left: 7px;
}
.block .review button {
  margin-left: 10px;
}
/* responsive */
@media (max-width: 1024px) {
  .block {
    width: calc((100% - 45px) / 3);
  }
  .block:nth-child(5n) {
    margin-right: 15px;
  }
  .block:nth-child(4n) {
    margin-right: 0px;
  }
  .search .right-choice {
    width: 33%;
  }
}
@media (max-width: 992px) {
  .search .left-choice {
    width: 43%;
  }
  .search .right-choice {
    width: 33%;
  }
}
@media (max-width: 768px) {
  .block {
    width: calc((100% - 35px) / 2);
  }
  .block:nth-child(5n) {
    margin-right: 15px;
  }
  .block:nth-child(4n) {
    margin-right: 15px;
  }
  .block:nth-child(3n) {
    margin-right: 0px;
  }
  .search .right-choice {
    width: 42%;
  }
}
@media (max-width: 576px) {
  .block {
    width: 100%;
  }
  .block:nth-child(5n) {
    margin-right: 15px;
  }
  .block:nth-child(4n) {
    margin-right: 15px;
  }
  .block:nth-child(3n) {
    margin-right: 15px;
  }
  .block:nth-child(2n) {
    margin-right: 0px;
  }
  .search {
    flex-direction: column;
    align-items: flex-end;
    padding: 0px !important;
    margin: 0px !important;
  }
  .search .left-choice {
    width: 80%;
  }
  .search .right-choice {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
</style>
