<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="logo.png">
    <title><%= process.env.NODE_ENV === 'production' ? "{{ config('app.name') }}" : htmlWebpackPlugin.options.title %></title>
    <script>
        window.appName = "{{ config('app.name') }}"
        window.apiUrl = "{{ config('app.url') }}"
    </script>
</head>
<body>
<div id="app"></div>
</body>
</html>