<template>
  <div class="col-12 reply-comment">
    <div v-for="(listcomment, index) in this.comment.data" :key="index" class="py-2 row">
      <div class="col-12 writereply-comment">
        <div class="block-avatar">
          <img
            v-if="listcomment.user.avatar == null || listcomment.user.avatar == ''"
            src="@/Clients/assets/images/imgprimary.jpg"
            alt=""
          />
          <img v-else :src="listcomment.user.avatar" alt="" />
        </div>
        <div class="comment-line">
          <div class="comment-head">
            <div class="writereply-comment">
              <div class="content-comment">
                <div class="name">
                  <a href="">{{ listcomment.user.name }}</a>
                </div>
                <div class="content-commentsub">
                  <p>{{ listcomment.content }}</p>
                </div>
              </div>
            </div>
            <div class="action">
              <div class="timepush">{{ listcomment.time }}</div>
              <div class="reply">
                <button @click="getcommentrp(listcomment.id)" :key="index">
                  Trả lời
                </button>
              </div>
            </div>
          </div>
          <ReplyComment :comid="listcomment.id" :isshowinput="isshowinput" />
          <div v-if="checklg">
            <InputComment :comid="listcomment.id" :commentid="idclickreply" />
          </div>
        </div>
      </div>
    </div>
    <div v-if="!checklg" class="note">Vui lòng đăng nhập để trả lời bình luận</div>
  </div>
</template>
<script>
import ReplyComment from "./ReplyComment";
import InputComment from "./InputComment";
import { mapGetters, mapActions } from "vuex";
export default {
  name: "Commentline",
  computed: {
    ...mapGetters(["comment"]),
  },
  data() {
    return {
      isshowinput: false,
      idclickreply: null,
      checklg: false,
    };
  },
  methods: {
    ...mapActions(["getreplycomment"]),
    getcommentrp(id) {
      console.log("post", id);
      this.getreplycomment(id),
        (this.isshowinput = !this.isshowinput),
        (this.idclickreply = id);
    },
    changeotion() {
      this.isshowinput = !this.isshowinput;
    },
    checklogin() {
      if (sessionStorage.getItem("tokenlogin") != null) {
        this.checklg = true;
      } else {
        this.checklg = false;
      }
    },
  },
  created() {
    this.checklogin();
  },
  components: {
    ReplyComment,
    InputComment,
  },
};
</script>

<style scoped>
.write-comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.write-comment .block-avatar img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}
.write-comment input {
  width: 90%;
  border-radius: 20px;
  padding-left: 10px;
  border: none;
  height: 50px;
  background: #eef3f7;
}
.write-comment input:focus {
  outline: none;
}
.write-comment .content-comment {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.write-comment .submit-comment {
  background: #0b46ae;
  border-radius: 100%;
  padding: 5px;
}
.write-comment .submit-comment a {
  transform: rotate(-45deg);
}
.write-comment .submit-comment svg {
  transform: rotate(-45deg);
}
.commentline {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}
/* reply comment */
.reply-comment {
  margin-top: 20px;
}
.reply-comment .content-comment {
  flex-direction: column;
  text-align: left;
  align-items: left;
  background: #eef3f7;
  margin: 0 10px;
  padding: 10px 20px;
  border-radius: 5px;
}
.writereply-comment {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.writereply-comment .block-avatar img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}
.writereply-comment input:focus {
  outline: none;
}
.writereply-comment .content-comment {
  width: 100%;
  display: flex;
}
.writereply-comment .content-comment .content-commentsub p {
  padding: 0;
  margin: 10px 0;
  color: rgb(110, 110, 110);
}
.writereply-comment .content-comment .name a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
}
.writereply-comment .content-comment .name a:hover {
  color: rgb(10, 73, 168);
  transition: 0.9s;
}
.writereply-comment .submit-comment {
  background: #0b46ae;
  border-radius: 100%;
  padding: 5px;
}
.writereply-comment .submit-comment a {
  transform: rotate(-45deg);
}
.writereply-comment .submit-comment svg {
  transform: rotate(-45deg);
}
.writereply-comment .comment-line {
  width: 100%;
}
.comment-line .action {
  margin: 10px;
  display: flex;
}
.comment-line .action .timepush {
  color: rgb(68, 68, 68);
}
.comment-line .action .reply a {
  text-decoration: none;
  margin-left: 10px;
  color: rgb(39, 39, 39);
}
.comment-line .action .reply a:hover {
  transition: 0.9s;
  color: rgb(24, 59, 216);
}
.action-post {
  display: flex;
  align-items: center;
}
.action .reply button {
  background: none;
  border: none;
  font-weight: 600;
}
.action .reply button:hover {
  color: #0b46ae;
}
.note {
  color: red;
  font-weight: 500;
}
/* responsive */
@media (max-width: 360px) {
  .actionuser button {
    font-size: 14px;
  }
  .actionuser svg {
    width: 35px;
    height: 15px;
  }
  .promotion li {
    font-size: 13px;
  }
  .promotion svg {
    width: 17px;
  }
}
</style>
