<template>
  <div v-if="commentid == comid" class="write-comment">
    <div class="block-avatar">
      <img
        v-if="avatar == null || avatar == ''"
        src="@/Clients/assets/images/imgprimary.jpg"
        alt=""
      />
      <img v-else :src="avatar" alt="" />
    </div>
    <div class="content-comment">
      <input
        type="text"
        @keyup.enter="entercomment"
        v-model="contenttextcm"
        placeholder="Viết bình luận"
      />
    </div>
    <div @click="entercomment" class="submit-comment">
      <a href="#">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="25.386"
          height="24.197"
          viewBox="0 0 25.386 24.197"
          class="injected-svg"
          data-src="/static/icons/ic_submit.svg"
        >
          <defs>
            <clipPath id="clip-path-1150">
              <path
                id="Path_201-1151"
                data-name="Path 201"
                d="M0,24.2H25.386V0H0Z"
                transform="translate(0 0)"
                fill="none"
              ></path>
            </clipPath>
          </defs>
          <g id="Group_158" data-name="Group 158" clip-path="url(#clip-path-1150)">
            <g id="Group_156" data-name="Group 156" transform="translate(2.115 3.529)">
              <path
                id="Path_199-1152"
                data-name="Path 199"
                d="M0,0,21.155,8.57,0,17.14,3.173,8.57Z"
                fill="none"
                stroke="#fff"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
              ></path>
            </g>
            <g id="Group_157" data-name="Group 157" transform="translate(5.818 12.099)">
              <path
                id="Path_200-1153"
                data-name="Path 200"
                d="M0,0H14.808"
                fill="none"
                stroke="#fff"
                stroke-linecap="square"
                stroke-linejoin="round"
                stroke-width="2"
              ></path>
            </g>
          </g>
        </svg>
      </a>
    </div>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
export default {
  name: "Commentline",
  props: {
    commentid: Number,
    comid: Number,
  },
  data() {
    return {
      contenttextcm: "",
      avatar: null,
    };
  },
  computed: {
    ...mapGetters(["comment"]),
  },
  methods: {
    ...mapActions(["postreplycommentpostCL", "getreplycomment"]),
    async entercomment() {
      var d = JSON.parse(sessionStorage.getItem("tokenlogin"));
      this.avatar = d["data"]["avatar"];
      if (this.contenttextcm.length > 0) {
        await this.postreplycommentpostCL({
          commentId: this.commentid,
          userId: d["data"]["id"],
          content: this.contenttextcm,
        }).then(
          setTimeout(() => {
            this.getreplycomment(this.commentid);
          }, 1200)
        );
        this.contenttextcm = "";
      }
    },
  },
  components: {},
};
</script>

<style scoped>
.write-comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.write-comment .block-avatar img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}
.write-comment input {
  width: 90%;
  border-radius: 20px;
  padding-left: 10px;
  border: none;
  height: 50px;
  background: #eef3f7;
}
.write-comment input:focus {
  outline: none;
}
.write-comment .content-comment {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.write-comment .submit-comment {
  background: #0b46ae;
  border-radius: 100%;
  padding: 5px;
}
.write-comment .submit-comment a {
  transform: rotate(-45deg);
}
.write-comment .submit-comment svg {
  transform: rotate(-45deg);
}
.commentline {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}
/* reply comment */
.reply-comment {
  margin-top: 20px;
}
.reply-comment .content-comment {
  flex-direction: column;
  text-align: left;
  align-items: left;
  background: #eef3f7;
  margin: 0 10px;
  padding: 10px 20px;
  border-radius: 5px;
}
.writereply-comment {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.writereply-comment .block-avatar img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}
.writereply-comment input:focus {
  outline: none;
}
.writereply-comment .content-comment {
  width: 100%;
  display: flex;
}
.writereply-comment .content-comment .content-commentsub p {
  padding: 0;
  margin: 10px 0;
  color: rgb(110, 110, 110);
}
.writereply-comment .content-comment .name a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
}
.writereply-comment .content-comment .name a:hover {
  color: rgb(10, 73, 168);
  transition: 0.9s;
}
.writereply-comment .submit-comment {
  background: #0b46ae;
  border-radius: 100%;
  padding: 5px;
}
.writereply-comment .submit-comment a {
  transform: rotate(-45deg);
}
.writereply-comment .submit-comment svg {
  transform: rotate(-45deg);
}
.writereply-comment .comment-line {
  width: 100%;
}
.comment-line .action {
  margin: 10px;
  display: flex;
}
.comment-line .action .timepush {
  color: rgb(68, 68, 68);
}
.comment-line .action .reply a {
  text-decoration: none;
  margin-left: 10px;
  color: rgb(39, 39, 39);
}
.comment-line .action .reply a:hover {
  transition: 0.9s;
  color: rgb(24, 59, 216);
}
.action-post {
  display: flex;
  align-items: center;
}
/* responsive */
@media (max-width: 360px) {
  .actionuser button {
    font-size: 14px;
  }
  .actionuser svg {
    width: 35px;
    height: 15px;
  }
  .promotion li {
    font-size: 13px;
  }
  .promotion svg {
    width: 17px;
  }
}
</style>
