<template>
  <div class="reply-comment-head">
    <div v-for="(repycomment, index) in this.replycomment.data" :key="index">
      <div v-if="repycomment.comment_id == comid" class="writereply-comment replycomment">
        <div class="block-avatar">
          <img
            v-if="repycomment.user.avatar == null || repycomment.user.avatar == ''"
            src="@/Clients/assets/images/imgprimary.jpg"
            alt=""
          />
          <img v-else :src="repycomment.user.avatar" alt="" />
        </div>
        <div class="content-comment">
          <div class="content-top">
            <div class="name">
              <a href="">{{ repycomment.user.name }}</a>
            </div>
            <div class="content-commentsub">
              <p>{{ repycomment.content }}</p>
            </div>
          </div>
          <div class="action">
            <div class="timepush">{{ repycomment.time }}</div>
            <div class="reply">
              <button @click="replycm()">Trả lời</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  name: "ReplyComment",
  props: {
    isshowinput: Boolean,
    comid: Number,
  },
  data() {
    return {
      ishow: this.isshowinput,
    };
  },
  computed: {
    ...mapGetters(["comment", "replycomment"]),
  },
  methods: {
    replycm() {
      this.isshow = !this.isshow;
      this.$emit("isshowinput", this.isshow);
    },
  },
};
</script>

<style scoped>
.action .reply button {
  background: none;
  border: none;
  font-weight: 600;
}
.action .reply button:hover {
  color: #0b46ae;
}
.write-comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.write-comment .block-avatar img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}
.write-comment input {
  width: 90%;
  border-radius: 20px;
  padding-left: 10px;
  border: none;
  height: 50px;
  background: #eef3f7;
}
.write-comment input:focus {
  outline: none;
}
.write-comment .content-comment {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.write-comment .submit-comment {
  background: #0b46ae;
  border-radius: 100%;
  padding: 5px;
}
.write-comment .submit-comment a {
  transform: rotate(-45deg);
}
.write-comment .submit-comment svg {
  transform: rotate(-45deg);
}
.commentline {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}
/* reply comment */
.reply-comment {
  margin-top: 20px;
}
.reply-comment .content-comment {
  flex-direction: column;
  text-align: left;
  align-items: left;
  margin: 0 10px;
  border-radius: 5px;
}
.reply-comment .content-comment .content-top {
  background: #eef3f7;
  padding: 5px 10px;
  border-radius: 5px;
}
.writereply-comment {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.writereply-comment .block-avatar img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}
.writereply-comment input:focus {
  outline: none;
}
.writereply-comment .content-comment {
  width: 100%;
  display: flex;
}
.writereply-comment .content-comment .content-commentsub p {
  padding: 0;
  margin: 10px 0;
  color: rgb(110, 110, 110);
}
.writereply-comment .content-comment .name a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
}
.writereply-comment .content-comment .name a:hover {
  color: rgb(10, 73, 168);
  transition: 0.9s;
}
.writereply-comment .submit-comment {
  background: #0b46ae;
  border-radius: 100%;
  padding: 5px;
}
.writereply-comment .submit-comment a {
  transform: rotate(-45deg);
}
.writereply-comment .submit-comment svg {
  transform: rotate(-45deg);
}
.writereply-comment .comment-line {
  width: 100%;
}
.comment-line .action {
  margin: 10px;
  display: flex;
}
.comment-line .action .timepush {
  color: rgb(68, 68, 68);
}
.comment-line .action .reply a {
  text-decoration: none;
  margin-left: 10px;
  color: rgb(39, 39, 39);
}
.comment-line .action .reply a:hover {
  transition: 0.9s;
  color: rgb(24, 59, 216);
}
.action-post {
  display: flex;
  align-items: center;
}
/* responsive */
@media (max-width: 360px) {
  .actionuser button {
    font-size: 14px;
  }
  .actionuser svg {
    width: 35px;
    height: 15px;
  }
  .promotion li {
    font-size: 13px;
  }
  .promotion svg {
    width: 17px;
  }
}
</style>
